{% extends 'common/basic_layout.html' %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>待上线 机器信息查看</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="" href="#collapseOne">
                                            机器信息
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="row" style="margin-bottom: 10px">
                                            <label class="col-sm-1 control-label">IP：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ host_info.host_ip }}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">主机名：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ host_info.host_name }}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">内核版本：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ host_info.kernel_release }}"/>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px">
                                            <label class="col-sm-1 control-label">内核：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ host_info.kernel }}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">系统：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ host_info.os }}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">CPU：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ host_info.num_cpus }}"/>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px">
                                            <label class="col-sm-1 control-label">内存：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ host_info.mem_total }}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">SWAP：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ host_info.swap }}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">MAC：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ host_info.mac }}"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-1 control-label">TAG：</label>
                                            <div class="col-sm-11">
                                                <textarea id="tag_2" name="tag"  class="form-control" style="height: 55px;resize:none;" readonly>{{ host_info.tag }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="" href="#collapseTwo">
                                            主机组信息
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    {% for i in host_info.apps %}
                                        <div class="row" style="margin-bottom: 10px">
                                            <label class="col-sm-1 control-label">品牌：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ i.path|split:'_'|getListFirst:0 }}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">业务线：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ i.path|split:'_'|getListFirst:1 }}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">机房：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ i.path|split:'_'|getListFirst:2 }}"/>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 10px">
                                            <label class="col-sm-1 control-label">环境：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ i.path|split:'_'|getListFirst:3 }}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">区域：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ i.path|split:'_'|getListFirst:4 }}"/>
                                            </div>
                                            <label class="col-sm-1 control-label">应用：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" readonly value="{{ i.path|split:'_'|getListFirst:5 }}"/>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}