{% extends 'common/basic_rank_list.html' %}
{% load widget_tweaks %}

{% block list_title %}
    待上线主机
{% endblock %}

{% block  group_count %}
    <div class="col-sm-10">
    {% if user.is_superuser %}
        <a href="../add/" class="btn btn-sm btn-info" style="margin-right: 10px">全部：300</a>
        <a href="../add/" class="btn btn-sm btn-info" style="margin-right: 10px">EC：100</a>
        <a href="../add/" class="btn btn-sm btn-info" style="margin-right: 10px">Brand：100</a>
        <a href="../add/" class="btn btn-sm btn-info" style="margin-right: 10px">Store：100</a>
    {% endif %}
    </div>
{% endblock %}

{% block  list_search %}
    <div class="col-sm-3" ></div>
    <div class="col-sm-2">
        <input type="text" name="host_ip" class="form-control" placeholder="请输入IP">
    </div>
{% endblock %}

{% block list_filter %}
    <div class="col-sm-6">
        <div class="input-group">
            <button type="submit" class="btn btn-sm btn-primary" style="margin-right: 10px"><i class="fa fa-search"></i> 搜索</button>
            <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='#advanced_query_modal' style="margin-right: 10px"><i class="glyphicon glyphicon-search"></i> 其他查询</button><!-- <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='' style="margin-right: 10px"><i class="glyphicon glyphicon-floppy-disk"></i> 保存高级查询</button> -->
            <button type="button" class="btn btn-sm btn-success" style="margin-right: 10px" onclick="host2UpldateStatus(3)"><i class="glyphicon glyphicon-cloud-upload"></i> 上线</button>
            <button type="button" class="btn btn-sm btn-success" style="margin-right: 10px" onclick="host2UpldateStatus(1)"><i class="glyphicon glyphicon-log-out"></i> 未分配</button>
            <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='#export_host_modal' style="margin-right: 10px"><i class="glyphicon glyphicon-export"></i> 导出</button>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var hostGroupTreeList = {{ hostGroup_list|safe }};
            readHostGroupTreeNext(hostGroupTreeList,0);
            zHostGroupTreeInit();
        });

        var zHostGroupNodes = [];
         function readHostGroupTreeNext(list,pid){
            $(list).each(function(i,item){
                var ids = item.id;
                var nodeData = {id:ids,pId:pid,name:item.name,nodeId:ids,open:true,hasIp:item.has_ip,'nocheck':true};

                if(item.childs){
                    readHostGroupTreeNext(item.childs,ids);
                    nodeData['isLeaf']=false;
                }else{
                    nodeData['nocheck']=false;
                    nodeData['isLeaf']=true;
                }
                zHostGroupNodes.push(nodeData);
            });
         }

         function zHostGroupTreeInit(){
            var setting = {
                view: {
                    selectedMulti: false,
                    addDiyDom: addDiyDom,
                },
                check: {
                    enable: true,
                    //chkboxType:  { "Y": "", "N": "" }
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                edit: {
                    enable: false
                },
                callback:{
                    onDblClick:zHostGroupTreeDblClick,
                }
            };
            $.fn.zTree.init($("#host_group_tree"), setting, zHostGroupNodes);
        }

        function addDiyDom(treeId, treeNode) {
             var aObj = $("#" + treeNode.tId + "_a");

{#             if(treeNode.hasIp == 1 && treeNode.isLeaf == false){#}
{#                 if($("#viewIpBtn_"+treeNode.id).length==0){#}
{#                     var viewBtn = "<span class='button ico_docu' id='viewIpBtn_" + treeNode.id+ "' title='节点下绑定的IP' onfocus='this.blur();'></span>";#}
{#                     aObj.append(viewBtn);#}
{#                     var btn = $("#viewIpBtn_"+treeNode.id);#}
{#                     if (btn){#}
{#                         btn.bind("click", function(){#}
{#                             $(location).attr('href', '/cmdb/host/list2/?group_id='+treeNode.id);#}
{#                             $("#viewIpBtn_"+treeNode.tId).unbind().remove();#}
{#                         });#}
{#                     }#}
{#                 }#}
{#             }#}
             if(!treeNode.nocheck){
                 if($("#bindIpToNode_"+treeNode.id).length==0){
                     var bindIpToNode = "<span class='button add' id='bindIpToNode_" + treeNode.id+ "' title='机器绑定' onfocus='this.blur();'></span>";
                     aObj.append(bindIpToNode);

                     var btn = $("#bindIpToNode_"+treeNode.id);
                     if (btn){
                         btn.bind("click", function(){
                             var ids = getChecked();
                             if (ids == "") {
                                 Alertwin.alert({ message: "请选择至少一条记录进行绑定"});
                             } else {
                                Alertwin.confirm({ message: "确定要绑定这批机器到 “"+treeNode.name+"”下吗？" }).on(function (e) {
                                    if(e){
                                        ids = ids.substring(0, ids.length - 1);
                                        bindingGroup(treeNode.id,ids);
                                    }
                                })

                             }
                             $("#bindIpToNode_"+treeNode.tId).unbind().remove();
                         });
                     }
                 }
                 if($("#removeIpFromNode_"+treeNode.id).length==0){
                     var removeIpFromNode = "<span class='button remove' id='removeIpFromNode_" + treeNode.id+ "' title='机器解绑' onfocus='this.blur();'></span>";
                     aObj.append(removeIpFromNode);
                     var btn = $("#removeIpFromNode_"+treeNode.id);
                     if (btn){
                         btn.bind("click", function(){
                             var ids = getChecked();
                             if (ids == "") {
                                 Alertwin.alert({ message: "请选择至少一条记录进行解绑"});
                             } else {
                                Alertwin.confirm({ message: "确定要解绑这批机器“"+treeNode.name+"”下吗？" }).on(function (e) {
                                    if(e){
                                        ids = ids.substring(0, ids.length - 1);
                                        unBindingGroup(treeNode.id,ids);
                                    }
                                })

                             }
                             $("#removeIpFromNode_"+treeNode.tId).unbind().remove();
                         });
                     }
                 }
             }
        }

        function zHostGroupTreeDblClick(event, treeId, treeNode){
              $(location).attr('href', '/cmdb/host/list2/?group_id='+treeNode.id+"&type=2");
        }

        function bindingGroup(groupId,ids){
            var host_ids = ids.split(',');
            var list = []
            $(host_ids).each(function(i,item){
                list.push(parseInt(item))
            })
            layer.load();
            $.ajax({
                type: "POST",
                url: '../host2BindingGroup/',
                data:{'group_id':groupId,"host_ids":ids,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {
                    layer.closeAll('loading');
                },
                success: function (data) {
                    if(data.status==0){
                         Alertwin.alert({ message: "绑定成功"});
                         location.reload();
                    }else{
                        Alertwin.alert({ message: "绑定失败"});
                    }

                    layer.closeAll('loading');
                }
            });
        }

        function unBindingGroup(groupId,ids){
            var host_ids = ids.split(',');
            var list = []
            $(host_ids).each(function(i,item){
                list.push(parseInt(item))
            })
            layer.load();
            $.ajax({
                type: "POST",
                url: '../host2UnbundlingGroup/',
                data:{'group_id':groupId,"host_ids":ids,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {
                    layer.closeAll('loading');
                },
                success: function (data) {
                    if(data.status==0){
                         Alertwin.alert({ message: "解绑成功"});
                         location.reload();
                    }else{
                        Alertwin.alert({ message: "绑解失败"});
                    }

                    layer.closeAll('loading');
                }
            });
        }

    </script>
{% endblock %}

{% block list_content %}
    <script type="text/javascript" src="/static/hplus/js/zTree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="/static/hplus/js/zTree/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="/static/hplus/js/zTree/jquery.ztree.exedit.js"></script>
    <script type="text/javascript" src="/static/hplus/js/chosen/chosen.jquery.js"></script>
    <link href="/static/hplus/css/zTree/bootstrapStyle.css" rel="stylesheet">
    <link href="/static/hplus/css/chosen/chosen.css" rel="stylesheet">

    <div class="row">
        <div class="col-sm-3" style="max-height: 600px;overflow-y: auto">
            <ul id="host_group_tree" name="host_group_tree" class="ztree"></ul>
        </div>
        <div class="col-sm-9">
            <table id="tb" class="table table-striped table-bordered table-hover dataTables-example dataTable">
                <thead>
                    <tr>
                        <th style="width:3%;"><input id="checkall" type="checkbox" class="i-checks"></th>
                        <th style="width: 10%;">
                            IP
                        </th>
                        <th style="width: 70%;">
                            主机组
                        </th>
                        <th style="width:8%;">操作</th>
                    </tr>
                </thead>
                <tbody>
                {% for o in result_list %}
                    <tr>
                        <td>
                            <input type="checkbox" class="i-checks icheck" id="{{ o.id }}" hostip="{{ o.host_ip }}" name="trCheckbox">
                        </td>
                        <td>{{ o.host_ip }}</td>
                        <td>
                            {% for i in o.apps %}
                                <span class="label label-success">{{ i.path }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="../{{ o.id }}/detail2/" class="btn btn-sm btn-success"><i class="fa fa-book"></i> 查看</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block modal_div %}

    <div class="modal fade" id="advanced_query_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">高级查询</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 500px;overflow:auto">
                    <form id="advanced_query_form" method="get">
                        <div class="row" style="margin-bottom: 10px">
                            <label class="col-sm-1 control-label">标签</label>
                            <div class="col-sm-11">
                                <textarea id="tag_1" name="tag"  class="form-control" style="height: 55px;resize:none;"></textarea>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px">
                            <label class="col-sm-1 control-label">CPU核数</label>
                            <div class="col-sm-3">
                                <input id="num_cpus_1" name="num_cpus" type="number" class="form-control" min="1" max="100"/>
                            </div>
                            <label class="col-sm-1 control-label">内存(MB)</label>
                            <div class="col-sm-3">
                                <input id="mem_total_1" name="mem_total" type="number" class="form-control" min="1" max="10000"/>
                            </div>
                            <label class="col-sm-1 control-label">操作系统</label>
                            <div class="col-sm-3">
                                <input id="os_1" name="os" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-1 control-label">系统类型</label>
                            <div class="col-sm-3">
                                <input id="os_family_1" name="os_family" type="text" class="form-control"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" title="确定" onclick="advancedQueryFun()">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="export_host_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg" role="document" style="width: 400px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">导出</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 500px;overflow:auto">
                    <div class="row">
                        <div class="col-sm-10" style="width: 100%;">
                            导出说明：导出数据是您当前搜索的所有数据
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10" style="width: 100%;">
                            导出条数：{{ paginator.count|emptyValueConversion }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                      <button type="button" class="btn btn-primary" title="Your custom upload logic" onclick="">确定</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getCheckedHostIP() {
            var str = document.getElementsByName("trCheckbox");
            var objarray = str.length;
            var chestr = "";
            for (i = 0; i < objarray; i++) {
                if (str[i].checked == true) {
                    chestr += $(str[i]).attr('hostip') + ",";
                }
            }
            if(chestr){
                chestr = chestr.substring(0,chestr.length-1)
            }
            return chestr;
        }

        function getHostIPOrSearch(){
            var result = {};
            var ids = getCheckedHostIP();
            if(!ids){
                var searchStr = location.search;
                searchStr = searchStr.substring(1,searchStr.length);
                var list = searchStr.split('&');
                var dict = {};
                $(list).each(function(i,item){
                    if(item.indexOf('offset')<0 || item.indexOf('limit')<0){
                        var s = item.split('=');
                        if(s[1]){
                            dict[s[0]]=s[1];
                        }
                    }
                });
                if(!$.isEmptyObject(dict)){
                    result['flag'] = 2;
                    result['seach'] = JSON.stringify(dict);
                }
            }else{
                result['flag'] = 1;
                result['ip_list'] = JSON.stringify(ids.substring(0,ids.length-1).split(','));
            }
            return result;
        }

        function host2UpldateStatus(flag){
            var param = getCheckedHostIP();
             if($("#tb tr").length > 1) {
                 var msg = "";
                 var count = 0;
                 count = param.split(',').length
                 Alertwin.confirm({ message: "确认要"+count+"台机器修改为上线吗？" }).on(function (e) {
                     if (e) {
                         layer.load();
                         $.ajax({
                             type: "POST",
                             url: '/cmdb/host/host2UpdateStatus/',
                             data:{'ip_list':param,"status":flag,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                             error: function (request) {
                                layer.closeAll('loading');
                             },
                             success: function (data) {
                                location.reload();
                                layer.closeAll('loading');
                             }
                         });
                     }
                 });
             }
        }

    </script>
{% endblock %}