{% extends 'common/basic_layout.html' %}
{% block content %}
<script type="text/javascript" src="/static/hplus/js/chart/echarts.min.js"></script>
<script type="text/javascript" src="/static/hplus/js/chart/createBar.js"></script>
<script type="text/javascript" src="/static/hplus/js/chart/createPie.js"></script>
<link href="/static/hplus/css/chart/chart.css" rel="stylesheet">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
{#                <div class="ibox-title">#}
{#                    <h5>资源运营</h5>#}
{#                </div>#}
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 chartin qipa_style" id="physicalIdcChar"></div>
                        <div class="col-sm-6 chartin qipa_style" id="dmz"></div>
	                    <div class="col-sm-6 chartin qipa_style" id="idc"></div>


	                    <div class="col-sm-6 chartin qipa_style" id="nhBizGroupChar"></div>
                        <div class="col-sm-6 chartin qipa_style" id="zrBizGroupChar"></div>

	                    <div class="col-sm-6 chartin qipa_style" id="kfcPreorderChar"></div>
                        <div class="col-sm-6 chartin qipa_style" id="kfcDeliveryChar"></div>
	                    <div class="col-sm-6 chartin qipa_style" id="phDeliveryChar"></div>

	                    <div class="col-sm-6 chartin qipa_style" id="publicCouponDiv" style="display: none"></div>
	                    <div class="col-sm-6 chartin qipa_style" id="publicEGiftcardDiv" style="display: none"></div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function () {
            initNhzrChar();
            initLogicalIdcChar();
            initNhBizGroupChar();
            initZrBizGroupChar();
            initKfcPreorderChar();
            initKfcDeliveryChar();
            initPhDeliveryChar();
            initPublicCouponChar();
            initPublicEGiftcardChar();
        });


        function transbfb(data,cur){
            var total = 0;
            for(var i = 0;i<data.length;i++){
                total+=data[i].value
            }
            if(data[cur].value==0&&total==0){
                return '0.00'
            }else{
	            return ((data[cur].value/total)*100).toFixed(2);
            }
        }

        function createHtmlMsg (data,id){
            var val = data.value;
            var total=0;
            var html = '';
            var list = '';
            $("#"+id).append('');
            for(var i in data){

                list += "<div class=\"row\">\n"+
                        "<div class=\"col-sm-6\">"+data[i].value+"</div>\n"+
                        "<div class=\"col-sm-6\">"+transbfb(data,i)+"%</div>\n" +
                "</div>\n"
            }
             html = "<div class=\"othermsg\" style='left:50%'>\n" +
                        "<div class=\"warps\">\n" +
                            "<div class=\"row\">\n" +
                                "<div class=\"col-sm-6\">值</div>\n" +
                                "<div class=\"col-sm-6\">占比</div>\n" +
                            "</div>\n" +list+
                        "</div>\n" +
                    "</div>";
            $("#"+id).append(html);
        }





        function transformArray(obj,key,value){
		    let Arr = [];
		    for(let k in obj){
		      Arr.push({
		        [key]:k,
		        [value]:obj[k]
		      })
		    }
		    return Arr;
		 };


        function initNhzrChar(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'flag':0,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {


                    createPie(
                        data,
                        {
                            colors:["#169ef4","#ffc20a"],
                            elementId:"physicalIdcChar",
                            title:"机房"
                        }
                    );
                   createHtmlMsg(data,'physicalIdcChar')

                }
            });
        }

        function initLogicalIdcChar(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'flag':1,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {


                    var DMZ = transformArray(data.DMZ,'name','value');
                    var IDC = transformArray(data.IDC,'name','value');

                    console.log(DMZ,IDC);


                    createPie(
                        DMZ,
                        {
                            colors:["#169ef4","#ffc20a"],
                            elementId:"dmz",
                            title:"区域(DMZ)"
                        }
                    );

	                createHtmlMsg(DMZ,'dmz')


                    createPie(
                        IDC,
                        {
                            colors:["#169ef4","#ffc20a"],
                            elementId:"idc",
                            title:"区域(IDC)"
                        }
                    );

	                createHtmlMsg(IDC,'idc')







                }
            });
        }

        function initNhBizGroupChar(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'flag':2,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {
                    createPie(
                      data,
                      {
                        colors:["#ffc20a","#999999","#169ef4","#05179b","#bfd404"],
                        elementId:"nhBizGroupChar",
                        title:"南汇"
                      }
                    );
                    createHtmlMsg(data,'nhBizGroupChar')

                }
            });
        }

        function initZrBizGroupChar(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'flag':3,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {
                     createPie(
                      data,
                      {
                        colors:["#ffc20a","#999999","#169ef4","#05179b","#bfd404"],
                        elementId:"zrBizGroupChar",
                        title:"真如"
                      }
                    );
                      createHtmlMsg(data,'zrBizGroupChar')

                }
            });
        }

        function initKfcPreorderChar(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'flag':4,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {
                     createPie(
                      data.data,
                      {
                        colors:["#169ef4","#ffc20a"],
                        elementId:"kfcPreorderChar",
                        title:data.title
                      }
                    );
                     createHtmlMsg(data.data,'kfcPreorderChar')
                }
            });
        }

        function initKfcDeliveryChar(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'flag':5,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {
                      createPie(
                      data.data,
                      {
                        colors:["#169ef4","#ffc20a"],
                        elementId:"kfcDeliveryChar",
                        title:data.title
                      }
                    );
                      createHtmlMsg(data.data,'kfcDeliveryChar')
                }
            });
        }

        function initPhDeliveryChar(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'flag':6,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {
                      createPie(
                      data.data,
                      {
                        colors:["#169ef4","#ffc20a"],
                        elementId:"phDeliveryChar",
                        title:data.title
                      }
                    );
                      createHtmlMsg(data.data,'phDeliveryChar')
                }
            });
        }

        function initPublicCouponChar(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'flag':7,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {
                    if(data.title) {
                        $("#publicCouponDiv").show();
                        createPie(
                            data.data,
                            {
                                colors: ["#169ef4", "#ffc20a"],
                                elementId: "publicCouponDiv",
                                title: data.title
                            }
                        );
                        createHtmlMsg(data.data,'publicCouponDiv')


                    }
                }
            });
        }

        function initPublicEGiftcardChar(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'flag':8,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {
                    if(data.title){
                        $("#publicEGiftcardDiv").show();
                        createPie(
                          data.data,
                          {
                            colors:["#169ef4","#ffc20a"],
                            elementId:"publicEGiftcardDiv",
                            title:data.title
                          }
                        );
                        createHtmlMsg(data.data,'publicEGiftcardDiv')
                    }
                }
            });
        }

    </script>
{% endblock %}