{% extends 'common/basic_layout.html' %}
{% block content %}
<script type="text/javascript" src="/static/hplus/js/chart/echarts.min.js"></script>
<script type="text/javascript" src="/static/hplus/js/chart/createBar.js"></script>
<script type="text/javascript" src="/static/hplus/js/chart/createPie.js"></script>
<link href="/static/hplus/css/chart/chart.css" rel="stylesheet">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
{#                <div class="ibox-title">#}
{#                    <h5>资源运营</h5>#}
{#                </div>#}
                <div class="ibox-content">
                    <div id = "host_char_div" class="row">
                        <div class="col-sm-3 chartin qipa_style" id="physicalIdcChar"></div>
                        <div class="col-sm-3 chartin qipa_style" id="dmz"></div>
	                    <div class="col-sm-3 chartin qipa_style" id="idc"></div>


{#	                    <div class="col-sm-6 chartin qipa_style" id="nhBizGroupChar"></div>#}
{#                        <div class="col-sm-6 chartin qipa_style" id="zrBizGroupChar"></div>#}
{##}
{#	                    <div class="col-sm-6 chartin qipa_style" id="kfcPreorderChar"></div>#}
{#                        <div class="col-sm-6 chartin qipa_style" id="kfcDeliveryChar"></div>#}
{#	                    <div class="col-sm-6 chartin qipa_style" id="phDeliveryChar"></div>#}
{##}
{#	                    <div class="col-sm-6 chartin qipa_style" id="publicCouponDiv" style="display: none"></div>#}
{#	                    <div class="col-sm-6 chartin qipa_style" id="publicEGiftcardDiv" style="display: none"></div>#}

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function () {
            init_physical_idc();
            init_logical_idc_dmz();
            init_logical_idc_idc();
            init_physical_idc_brand();
        });


        function transbfb(data,cur){
            var total = 0;
            for(var i = 0;i<data.length;i++){
                total+=data[i].value
            }
            if(data[cur].value==0&&total==0){
                return '0.00'
            }else{
	            return ((data[cur].value/total)*100).toFixed(2);
            }
        }

        function createHtmlMsg (data,id){
            var val = data.value;
            var total=0;
            var html = '';
            var list = '';
            $("#"+id).append('');
            for(var i in data){

                list += "<div class=\"row\">\n"+
                        "<div class=\"col-sm-6\">"+data[i].value+"</div>\n"+
                        "<div class=\"col-sm-6\">"+transbfb(data,i)+"%</div>\n" +
                "</div>\n"
            }
             html = "<div class=\"othermsg\" style='left:62%'>\n" +
                        "<div class=\"warps\">\n" +
                            "<div class=\"row\">\n" +
                                "<div class=\"col-sm-6\">值</div>\n" +
                                "<div class=\"col-sm-6\">占比</div>\n" +
                            "</div>\n" +list+
                        "</div>\n" +
                    "</div>";
            $("#"+id).append(html);
        }





        function transformArray(obj,key,value){
		    let Arr = [];
		    for(let k in obj){
		      Arr.push({
		        [key]:k,
		        [value]:obj[k]
		      })
		    }
		    return Arr;
		 };


        function init_physical_idc(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'key':'physical_idc','csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {
                    createPie(
                        data.data,
                        {
                            colors:["#ffc20a","#999999","#169ef4","#05179b","#bfd404"],
                            elementId:"physicalIdcChar",
                            title:"机房"
                        }
                    );
                   createHtmlMsg(data.data,'physicalIdcChar')

                }
            });
        }

        function init_logical_idc_dmz(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'key':'logical_idc_dmz','csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {
                    createPie(
                        data.data,
                        {
                            colors:["#ffc20a","#999999","#169ef4","#05179b","#bfd404"],
                            elementId:"dmz",
                            title:"区域(DMZ)"
                        }
                    );
                   createHtmlMsg(data.data,'dmz')

                }
            });
        }

        function init_logical_idc_idc(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'key':'logical_idc_idc','csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {
                    createPie(
                        data.data,
                        {
                            colors:["#ffc20a","#999999","#169ef4","#05179b","#bfd404"],
                            elementId:"idc",
                            title:"区域(IDC)"
                        }
                    );
                   createHtmlMsg(data.data,'idc')

                }
            });
        }

        function init_physical_idc_brand(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'key':'physical_idc_brand','csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {
                    var host_char_div = $("#host_char_div");
                    var data_dict = data.data;
                    for(var k in data_dict){
                        var char_id = k+"_brand";
                        host_char_div.append('<div class="col-sm-6 chartin qipa_style" id="'+char_id+'"></div>');
                        var data_list = []
                        $(data_dict[k]).each(function (i,item) {
                            data_list.push({"name":item.node_name1+"_"+item.name,"value":item.value})
                        })
                        createPie(
                           data_list,
                            {
                                colors:["#FFD700","#C4C4C4","#BF3EFF","#B3EE3A","#8B8B00","#87CEFF","#7CFC00","#00FFFF",
                                    "#0000CD","#008B00","#473C8B","#737373","#8B1A1A","#AEEEEE","#CD3333","#FF3E96","#F0F0F0",
                                    "#F4F4F4","#CDBA96","#C1FFC1","#9B30FF"],
                                elementId:char_id,
                                title:k.toUpperCase()
                            }
                        );
                        createHtmlMsg(data_list,char_id)
                    }
                    init_brand_environment();
                }
            });
        }


        function init_brand_environment(){
            $.ajax({
                type: "POST",
                url: '../dashboard/',
                data:{'key':'brand_environment','csrfmiddlewaretoken':'{{ csrf_token }}'},
                error: function (request) {},
                success: function (data) {
                    var host_char_div = $("#host_char_div");
                    var data_dict = data.data;
                    for(var k in data_dict){
                        if(data_dict[k].length > 0){
                            var char_id = k+"_environment";
                            host_char_div.append('<div class="col-sm-6 chartin qipa_style" id="'+char_id+'"></div>');
                            createPie(
                               data_dict[k],
                                {
                                    colors:["#ffc20a","#999999","#169ef4","#05179b","#bfd404"],
                                    elementId:char_id,
                                    title:k
                                }
                            );
                            createHtmlMsg(data_dict[k],char_id)
                        }
                    }
                }
            });
        }

    </script>
{% endblock %}