{% extends 'common/basic_rank_list.html' %}
{% load widget_tweaks %}

{% block list_title %}
    高级查询
{% endblock %}

{% block  list_search %}
    <div class="col-sm-7">
        <div class="col-sm-12">
            <table>
                <tr>
                    <td width="60px">树节点</td>
                    <td><input type="text" id="node_name1" class="form-control" style="width: 100px" placeholder="kfc"></td>
                    <td><input type="text" id="node_name2" class="form-control" style="width: 100px" placeholder="preorder"></td>
                    <td><input type="text" id="node_name3" class="form-control" style="width: 100px" placeholder="nh"></td>
                    <td><input type="text" id="node_name4" class="form-control" style="width: 100px" placeholder="pilot"></td>
                    <td><input type="text" id="node_name5" class="form-control" style="width: 100px" placeholder="dmz"></td>
                    <td><input type="text" id="node_name6" class="form-control" style="width: 100px" placeholder="mwos"></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12" style="margin-top: 10px">
            <table>
                <tr>
                    <td width="60px">IP</td>
                    <td><input type="text" id="ip_1" class="form-control" style="width: 100px" placeholder="172"></td>
                    <td><input type="text" id="ip_2" class="form-control" style="width: 100px" placeholder="17"></td>
                    <td><input type="text" id="ip_3" class="form-control" style="width: 100px" placeholder="32"></td>
                    <td><input type="text" id="ip_4" class="form-control" style="width: 100px" placeholder="21"></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12" style="margin-top: 10px">
            <table>
                <tr>
                    <td width="60px">机器信息</td>
                    <td><input type="text" id="num_cpus" class="form-control" style="width: 100px" placeholder="CPU"></td>
                    <td><input type="text" id="mem_total" class="form-control" style="width: 100px" placeholder="MEM"></td>
                    <td><input type="text" id="os" class="form-control" style="width: 100px" placeholder="OS"></td>
                    <td>
                        <select id="go_live" class="form-control">
                            <option value="">资源环境</option>
                            <option value="1">未分配</option>
                            <option value="2">待上线</option>
                            <option value="3">已上线</option>
                        </select>
                    </td>
                    <td><input type="text" id="tag" class="form-control" style="width: 200px" placeholder="标签"></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block list_filter %}
    <div id="total_div" class="col-sm-5" style="display: none">
        <table class="table table-striped table-bordered table-hover dataTables-example dataTable accordion">
            <tr>
                <td colspan="7"><label style="width: 50%;text-align: right">总: </label><label id="lab_total" style="width: 50%;text-align: left">0</label></td>
            </tr>
            <tr>
                <td rowspan="2"><label style="width: 50%;text-align: right">未知: </label><label id="lab_unkonw" style="width: 50%;text-align: left">0</label></td>
                <td colspan="2"><label style="width: 50%;text-align: right">NH: </label><label id="lab_nh_total" style="width: 50%;text-align: left">0</label></td>
                <td colspan="2"><label style="width: 50%;text-align: right">ZR: </label><label id="lab_zr_total" style="width: 50%;text-align: left">0</label></td>
                <td colspan="2"><label style="width: 50%;text-align: right">KS: </label><label id="lab_ks_total" style="width: 50%;text-align: left">0</label></td>
            </tr>
            <tr>
                <td><label style="width: 50%;text-align: right">DMZ: </label><label id="lab_nh_dmz" style="width: 50%;text-align: left">0</label></td>
                <td><label style="width: 50%;text-align: right">IDC: </label><label id="lab_nh_idc" style="width: 50%;text-align: left">0</label></td>
                <td><label style="width: 50%;text-align: right">DMZ: </label><label id="lab_zr_dmz" style="width: 50%;text-align: left">0</label></td>
                <td><label style="width: 50%;text-align: right">IDC: </label><label id="lab_zr_idc" style="width: 50%;text-align: left">0</label></td>
                <td><label style="width: 50%;text-align: right">DMZ: </label><label id="lab_ks_dmz" style="width: 50%;text-align: left">0</label></td>
                <td><label style="width: 50%;text-align: right">IDC: </label><label id="lab_ks_idc" style="width: 50%;text-align: left">0</label></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-7" style="float: right;margin: 10px 0px 5px 0px">
        <button type="button" class="btn btn-sm btn-primary" style="margin-right: 20px" onclick="search()"><i class="fa fa-search"></i> 搜索</button>
        <a href="javascript:void(0)" onclick="exportCsv()" class="btn btn-sm btn-success"><i class="fa fa-save"></i> 导出列表</a>
    </div>
{% endblock %}

{% block list_content %}
    <table id="host_list_tb" class="table table-striped table-bordered table-hover dataTables-example dataTable accordion" style="table-layout:fixed">
        <thead>
            <tr>
                <th style="width: 12%">
                    树节点
                </th>
                <th style="width: 12%">
                    IP
                </th>
                <th style="width: 12%">
                    主机名
                </th>
                <th style="width: 12%">
                    操作系统
                </th>
                <th style="width: 12%">
                    操作系统版本
                </th>
                <th style="width: 12%">
                    CPU
                </th>
                <th style="width: 12%">
                    内存
                </th>
                <th style="width: 12%">
                    资源环境
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script>
        function td_mouseenter(td){
            if (td.offsetWidth < td.scrollWidth) {
                var that = td;
                var text = $(td).text();
                layer.tips(text, that,{
                    tips: [2, 'black'],
                    time: 5000,
                    area: ['auto', 'auto']
                });
            }
        }
        function search(){
            var total_div = $("#total_div");
            var lab_total = $("#lab_total");
            var lab_nh_total = $("#lab_nh_total");
            var lab_nh_dmz = $("#lab_nh_dmz");
            var lab_nh_idc = $("#lab_nh_idc");
            var lab_zr_total = $("#lab_zr_total");
            var lab_zr_dmz = $("#lab_zr_dmz");
            var lab_zr_idc = $("#lab_zr_idc");
            var lab_ks_total = $("#lab_ks_total");
            var lab_ks_dmz = $("#lab_ks_dmz");
            var lab_ks_idc = $("#lab_ks_idc");
            var lab_unkonw = $("#lab_unkonw");
            lab_total.text("0");
            lab_unkonw.text("0");
            lab_nh_total.text("0");
            lab_nh_dmz.text("0");
            lab_nh_idc.text("0");
            lab_zr_total.text("0");
            lab_zr_dmz.text("0");
            lab_zr_idc.text("0");
            lab_ks_total.text("0");
            lab_ks_dmz.text("0");
            lab_ks_idc.text("0");

            total_div.css('display','none');
            results = getSearchInfo();
            $.ajax({
                type: "POST",
                url: '/cmdb/host/multiconditionquery/',
                data:{"p":JSON.stringify(results),'csrfmiddlewaretoken':'{{ csrf_token }}'},
                success: function (data) {
                    if(data.status == 200){
                       go_live_dict={"1":"未分配","2":"待上线","3":"已上线"}
                       var tb_t = $("#host_list_tb tbody");
                       tb_t.empty();
                       var tb_html = "";

                       var total = data.data.length;
                       var nh = 0;
                       var zr = 0;
                       var ks = 0;
                       var nh_dmz = 0;
                       var nh_idc = 0;
                       var zr_dmz = 0;
                       var zr_idc = 0;
                       var ks_dmz = 0;
                       var ks_idc = 0;
                       var unkonw = 0;
                       $(data.data).each(function(i,host){
                           var node_name = host.node_name.toLowerCase();
                           if(node_name.indexOf('nh') > 0){
                               nh += 1;
                               if(node_name.indexOf('dmz') > 0){
                                    nh_dmz += 1;
                               }else if(node_name.indexOf('idc') > 0){
                                    nh_idc += 1;
                               }
                           }else if(node_name.indexOf('zr') > 0){
                               zr += 1;
                               if(node_name.indexOf('dmz') > 0){
                                    zr_dmz += 1;
                               }else if(node_name.indexOf('idc') > 0){
                                    zr_idc += 1;
                               }
                           }else if(node_name.indexOf('ks') > 0){
                               ks += 1;
                               if(node_name.indexOf('dmz') > 0){
                                    ks_dmz += 1;
                               }else if(node_name.indexOf('idc') > 0){
                                    ks_idc += 1;
                               }
                           }else{
                               unkonw += 1;
                           }
                           tb_html = "";
                           tb_html += "<tr>";
                           tb_html += "<td style='overflow: hidden;white-space: nowrap;text-overflow: ellipsis;' onmouseenter='td_mouseenter(this)'>";
                           tb_html += node_name;
                           tb_html += "</td>";
                           tb_html += "<td>";
                           tb_html += host.host_ip;
                           tb_html += "</td>";
                           tb_html += "<td>";
                           tb_html += host.host_name;
                           tb_html += "</td>";
                           tb_html += "<td>";
                           tb_html += host.os;
                           tb_html += "</td>";
                           tb_html += "<td>";
                           tb_html += host.kernel_release;
                           tb_html += "</td>";
                           tb_html += "<td>";
                           tb_html += host.num_cpus;
                           tb_html += "</td>";
                           tb_html += "<td>";
                           tb_html += host.mem_total;
                           tb_html += "</td>";
                           tb_html += "<td>";
                           tb_html += go_live_dict[host.go_live];
                           tb_html += "</td>";
                           tb_html += "</tr>";
                           tb_t.append(tb_html);
                       })
                        lab_total.text(total);
                        lab_unkonw.text(unkonw);
                        lab_nh_total.text(nh);
                        lab_nh_dmz.text(nh_dmz);
                        lab_nh_idc.text(nh_idc);
                        lab_zr_total.text(zr);
                        lab_zr_dmz.text(zr_dmz);
                        lab_zr_idc.text(zr_idc);
                        lab_ks_total.text(ks)
                        lab_ks_dmz.text(ks_dmz);
                        lab_ks_idc.text(ks_idc);
                        total_div.css('display','block');
                    }
                },
                error:function(responseStr) {
                    total_div.css('display','none');
                    console.log(responseStr);
                }
            });
        }
        function exportCsv() {
            layer.load();
            results = getSearchInfo();
            let url = '/cmdb/host/host_export/?p='+JSON.stringify(results)
            window.location.href = url
            layer.closeAll('loading');
        }
        function getSearchInfo(){
            var results = {}
            var node_name1 = $("#node_name1").val();
            var node_name2 = $("#node_name2").val();
            var node_name3 = $("#node_name3").val();
            var node_name4 = $("#node_name4").val();
            var node_name5 = $("#node_name5").val();
            var node_name6 = $("#node_name6").val();
            var bool = false;
            if(node_name1){
                bool = true;
            }else{
                node_name1 = "*"
            }
            if(node_name2){
                bool = true;
            }else{
                node_name2 = "*"
            }
            if(node_name3){
                bool = true;
            }else{
                node_name3 = "*"
            }
            if(node_name4){
                bool = true;
            }else{
                node_name4 = "*"
            }
            if(node_name5){
                bool = true;
            }else{
                node_name5 = "*"
            }
            if(node_name6){
                bool = true;
            }else{
                node_name6 = "*"
            }
            if(bool){
                results['tree_nodes'] =[node_name1,node_name2,node_name3,node_name4,node_name5,node_name6]
            }
            var host_field = {}
            var ip_1 = $("#ip_1").val();
            if(ip_1){
                host_field['ip_1'] = ip_1;
            }
            var ip_2 = $("#ip_2").val();
            if(ip_2){
                host_field['ip_2'] = ip_2;
            }
            var ip_3 = $("#ip_3").val();
            if(ip_3){
                host_field['ip_3'] = ip_3;
            }
            var ip_4 = $("#ip_4").val();
            if(ip_4){
                host_field['ip_4'] = ip_4;
            }
            var num_cpus = $("#num_cpus").val();
            if(num_cpus){
                host_field['num_cpus'] = num_cpus;
            }
            var mem_total = $("#mem_total").val();
            if(mem_total){
                host_field['mem_total'] = mem_total;
            }
            var os = $("#os").val();
            if(os){
                host_field['os'] = os;
            }
            var go_live = $("#go_live").val();
            if(go_live){
                host_field['go_live'] = go_live;
            }
            var tag = $("#tag").val();
            if(tag){
                host_field['tag'] = tag;
            }
            results['host_field'] = host_field
            return results;
        }
    </script>
{% endblock %}