{% extends 'common/basic_rank_list.html' %}
{% load widget_tweaks %}
{% block list_title %}
    VIP配置列表
{% endblock %}

{% block  list_search %}
    <div class="col-sm-1" style="width: 12%">
        <input type="text" name="name" class="form-control" placeholder="VIP">
    </div>
    <div class="col-sm-1" style="width: 12%">
        <input type="text" name="host_ip" class="form-control" placeholder="IP">
    </div>
{% endblock %}

{% block list_filter %}
    <button type="submit" class="btn btn-sm btn-primary" style="margin-right: 10px"><i class="fa fa-search"></i> 搜索</button>
    <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='#vip_add_modal' style="margin-right: 10px"><i class="glyphicon glyphicon-import"></i> 新增</button>
    <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='#vip_bind_modal' style="margin-right: 10px"><i class="glyphicon glyphicon-import"></i> 绑定</button>
{% endblock %}

{% block list_content %}
    <table class="table table-striped table-bordered table-hover dataTables-example dataTable accordion">
        <thead>
            <tr>
                <th style="width:3%;"><input id="checkall" type="checkbox" class="i-checks"></th>
                <th style="width: 12%;">
                    VIP
                </th>
                <th style="width: 12%;">
                    virtual_router_id
                </th>
                <th style="width: 60%;">
                    IP
                </th>
                <th style="width: 15%;">
                   操作
                </th>
            </tr>
        </thead>
        <tbody>
            {% for o in resultList %}
                <tr>
                    <td>
                        <input type="checkbox" class="i-checks icheck" id="{{ o.id }}" name="trCheckbox">
                    </td>
                    <td>
                       {{ o.name }}
                    </td>
                    <td>
                       {{ o.virtual_router_id }}
                    </td>
                    <td>
                        {% for ip in o.iplist %}
                            <span class="label label-success">{{ ip }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='#vip_add_modal' data-vipid="{{ o.id }}" data-vip="{{ o.name }}" data-vrid="{{ o.virtual_router_id }}" style="margin-right: 10px"><i class="glyphicon glyphicon-edit"></i> 修改</button>
                        <a href="javascript:void(0)" onclick="deleteVip('{{ o.id }}')" class="btn btn-sm btn-danger"><i class="fa fa-book"></i> 删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $("#vip_add_modal").on('show.bs.modal',function(event){
                var datas = $(event.relatedTarget).data();
                var vipid = datas['vipid'];
                var vip = datas['vip'];
                var vrid = datas['vrid'];
                if(vipid){
                    $(this).data('vipid',vipid);
                    $(this).data('vip',vip);
                    $("#hidType").val(1);
                    $("#name").val(vip);
                    $("#virtual_router_id").val(vrid);
                }else{
                    $("#hidType").val(0);
                }

            })
            $("#vip_add_modal").on('hide.bs.modal',function(event){
                $("#hidType").val('');
                $("#name").val('');
                $("#virtual_router_id").val('');
            })
        });

        function deleteVip(id){
            if(id){
                Alertwin.confirm({ message: "确认要删除选择的数据吗？" }).on(function (e) {
                 $.ajax({
                    type: "GET",
                    url: '../delete',
                    data:{"id":id},
                    error: function (request) {},
                    success: function (data) {
                        location.reload();
                    }
                });
             });
            }
        }
    </script>
{% endblock %}

{% block modal_div %}
    <div class="modal fade" id="vip_add_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 600px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增VIP</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 500px;overflow:auto">
                    <div class="col-sm-12">
                        <div class="form-group" style="margin-bottom: 10px">
                             <label class="col-lg-3 control-label" style="width: 22%">
                                 *VIP
                             </label>
                             <div class="col-lg-5" style="width: 78%">
                                 <input type="hidden" id="hidType" value="">
                                 <input type="text" name="name" id="name" class="form-control">
                             </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-lg-3 control-label" style="width: 22%">
                                 *virtual_router_id
                            </label>
                            <div class="col-lg-5" style="width: 78%">
                                 <input type="text" name="virtual_router_id" id="virtual_router_id" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" title="确定" onclick="addVip()">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="vip_bind_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 500px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">绑定IP</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 500px;overflow:auto">
                    <table id="vip_bind_tb" style="width: 100%">
                        <tr>
                            <td style="width: 76%;padding-bottom: 10px"><input type="text" name="ip" class="form-control" value=""/></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-default" onclick="addTrToTable(this)" style="margin-left: 5px"><i class="glyphicon glyphicon-plus"></i></button>
                                <button type="button" class="btn btn-sm btn-default" onclick="removeTrFromTable(this)"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" title="确定" onclick="vipBindIp()">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function addVip(){
            var type = $("#hidType").val();
            if(type == 0){
                var name = $("#name").val();
                var vrid = $("#virtual_router_id").val();
                if(name && vrid){
                    $.ajax({
                        type: "POST",
                        url: '/cmdb/vip/add/',
                        data:{"name":name,"virtual_router_id":vrid,"key_code":name,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                        success: function (data) {
                            if(data.status===0){
                                Alertwin.alert({message:"添加成功"});
                                $("#vip_add_modal").modal('hide');
                                location.reload();
                            }else{
                                Alertwin.alert({message:data.msg});
                            }
                        },
                        error:function(responseStr) {
                            console.log(responseStr);
                        }
                    });
                }else{
                    Alertwin.alert({message:"请填写内容后保存"});
                }
            }else if(type == 1){
                var modalData = $("#vip_add_modal").data();
                var vipid = datas['vipid'];
                var name = $("#name").val();
                var vrid = $("#virtual_router_id").val();
                if(vipid && name && vrid){
                    $.ajax({
                        type: "POST",
                        url: '/cmdb/vip/edit/',
                        data:{"id":vipid,"name":name,"virtual_router_id":vrid,"key_code":name,'csrfmiddlewaretoken':'{{ csrf_token }}'},
                        success: function (data) {
                            if(data.status===0){
                                Alertwin.alert({message:"添加成功"});
                                $("#vip_add_modal").modal('hide');
                                location.reload();
                            }else{
                                Alertwin.alert({message:data.msg});
                            }
                        },
                        error:function(responseStr) {
                            console.log(responseStr);
                        }
                    });
                }else{
                    Alertwin.alert({message:"请填写内容后保存"});
                }
            }
        }

        function getCheckedToList() {
            var str = document.getElementsByName("trCheckbox");
            var objarray = str.length;
            var list = [];
            for (i = 0; i < objarray; i++) {
                if (str[i].checked == true) {
                    list.push(str[i].id)
                }
            }
            return list;
        }

        function vipBindIp(){
            var idList = getCheckedToList();
            if(idList.length == 0 || idList.length > 1) {
                Alertwin.alert({ message: "请选择一条记录进行绑定"});
            } else {
                var intpuList = $("#vip_bind_tb tr input");
                if(intpuList.length > 0){
                    var reqData = {"id":idList[0]}
                    var iplist = []
                    $(intpuList).each(function(i,item){
                        var v = $(item).val();
                        if(v){
                            iplist.push(v);
                        }else{
                            Alertwin.alert({ message: "请填写需要绑定的IP"});
                            return false;
                        }
                    })
                    reqData['ipList'] = JSON.stringify(iplist);
                    reqData['csrfmiddlewaretoken'] = '{{ csrf_token }}';
                    $.ajax({
                        type: "POST",
                        url: '/cmdb/vip/bindIp/',
                        data:reqData,
                        error: function (request) {},
                        success: function (data) {
                            if(data.status===0){
                                Alertwin.alert({message:"成功绑定:"+data.success+" 失败绑定:"+data.fail});
                                $("#vip_bind_modal").modal('hide');
                                location.reload();
                            }else{
                                Alertwin.alert({message:data.msg});
                            }
                        },
                        error:function(responseStr) {
                            console.log(responseStr);
                        }
                    });
                }else{
                    Alertwin.alert({message:"请填写需要绑定的IP"});
                }
            }

        }
        function addTrToTable(btn,name){
            var generateId = new Date().valueOf();
            var htmlStr = '<tr>\n' +
                '  <td style="width: 76%;padding-bottom:10px"><input type="text" name="ip" class="form-control" value=""/></td>\n' +
                '  <td>\n' +
                '      <button type="button" class="btn btn-sm btn-default" onclick="addTrToTable(this)" style="margin-left: 5px"><i class="glyphicon glyphicon-plus"></i></button>\n' +
                '      <button type="button" class="btn btn-sm btn-default" onclick="removeTrFromTable(this)"><i class="glyphicon glyphicon-trash"></i></button>\n' +
                '  </td>\n' +
                '</tr>';
            $(btn).parents("table").append(htmlStr);
        }
        function removeTrFromTable(btn){
            if($(btn).parents("table").find("tr").length > 1){
                $(btn).parents("tr").remove();
            }
        }
    </script>
{% endblock %}