{% extends 'slb/layout.html' %}
{% block main %}
{% load static %}
{% verbatim myblock %}
    <el-row>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <!--<span>任务ID: {{task_id}} 任务状态: {{task_status}} 站点名称{{site_name}} 版本名称:{{site_name}}-{{version}}</span>-->
                <span style="padding: 3px 10px">站点名称:</span><span class="badge" >{{site_name}}</span>
                <el-button v-if="loading" icon="el-icon-loading"></el-button>
                <div style="float: right">
                    <span>选择发布版本号:</span>
                    <el-dropdown @command="handleCommand">
                        <el-button size="mini" type="primary">
                        <span class="el-dropdown-link">{{currentVersion}}<i class="el-icon-arrow-down el-icon--right"></i> </span>
                        </el-button>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item v-for="version, index in versions" :key="index" :command="version">{{version}}</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <el-button style="padding: 3px 10px" type="text" @click="start_publish">开始发布</el-button>
                </div>
            </div>
            <el-table ref="multipleTable" border :data="host_list" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="55"> </el-table-column>
                <el-table-column prop="host_id" label="序号" width="100"> </el-table-column>
                <el-table-column prop="host_ip" label="IP"> </el-table-column>
                <el-table-column prop="version" label="版本"> </el-table-column>
                <el-table-column prop="status" label="状态"> </el-table-column>
                <el-table-column label="日志">
                    <template slot-scope="server_list">
                        <el-button type="primary" size="mini" icon="el-icon-document" @click="getLog(server_list.row)"></el-button>
                    </template>
                </el-table-column>
                <!--<el-table-column prop="time" label="修改时间" > </el-table-column>-->
            </el-table>
        </el-card>
        <!--<el-col :span="12">-->
        <!--</el-col>-->
    </el-row>
    <el-row>
        <hr style="height:1px;border:none;border-top:1px solid #e5e5e5;" />
        <i class="fa fa-link" id="log" aria-hidden="true"></i><span >发布日志</span>
        <el-input v-model="log" type="textarea" readonly  :autosize="{ minRows: 50, maxRows: 50}"></el-input>
        <!--<textarea readonly style="background-color: black" width></textarea>-->
    </el-row>
{% endverbatim myblock %}
{% endblock %}
{% block js %}
    <script src="{% static 'slb/js/deploy_task.js' %}"></script>
{% endblock %}
