<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Attribute Demo</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app">
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
            <el-menu-item index="1"><a href="{% url  %}">站点管理</el-menu-item>
            <el-menu-item index="3">集群管理</el-menu-item>
            <el-menu-item index="4">发布管理</el-menu-item>
        </el-menu>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="{% static 'slb/js/index.js' %}"></script>
</html>
