<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Yumc SLB</title>
    <!-- Bootstrap -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.css' %}" />-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <link rel="stylesheet" href="{% static 'slb/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'slb/css/codemirror.css' %}"/>
    <link href="/static/hplus/css/zTree/bootstrapStyle.css" rel="stylesheet">
    <style>
        .el-textarea__inner { background-color: black; } 
        [v-cloak] {display: none;} <!--delay vue loading-->
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <el-container>
            <!--<el-header>{% block nav %}{% include 'slb/nav.html' %}{% endblock %}</el-header>-->
            <el-main>{% block main %}main{% endblock %}</el-main>
        </el-container>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import self-defined JavaScript -->
{% block js %}{% endblock %}
</html>
