<%if(locals.list) {%>
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"/>
        <div class="col-md-5 col-xs-5 col-sm-5 userInfo">
            <div class="row select">
                <label><%=locals.selectTitle? locals.selectTitle: ''%></label>
                <select class="select_module">
                    <option value="-1">Select</option>
                <% (locals.list || []).forEach(function(item, i){ %>
                    <option value="<%=item[locals.keyField]%>"><%=item[locals.valField]%></option>
                <%})%>
                </select>
                <div class="modal_error_msg">
                    请选择<%=locals.selectTitle? locals.selectTitle: ''%>
                </div>
            </div>
        </div>
        <%if (!locals.disable_privilege) {%>
            <div class="col-md-5 col-xs-5 col-sm-5 privilege btn-privilege">
                <div class="row">
                <fieldset class="col-md-12 col-xs-12 col-sm-12">
                    <legend>权限</legend>

                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary ">
                            <input type="radio" name="privilege"  value="1"> 只读
                        </label>
                        <label class="btn btn-primary ">
                            <input type="radio" name="privilege"  value="2"> 运行
                        </label>
                        <label class="btn btn-primary ">
                            <input type="radio" name="privilege"  value="4"> 编辑
                        </label>
                    </div>
                </fieldset>
                </div>
                <div class="modal_error_msg">
                    请选择权限
                </div>
            </div>
        <%}%>
    </div>
<%}%>
