<div class="tab-pane" id="tab3">
{#	<pre v-html="$store.state.evns"></pre>#}
	<evn-component
			typekey="production"
			:show_checkbox="False"
			:show_add="True"
			discribe="描述"
			title="生产">
	</evn-component>
	<evn-component
			typekey="disaster_recovery"
			:show_checkbox="True"
			:show_add="False"
			discribe="灾备描述"
			title="灾备">
	</evn-component>
	<evn-component
			typekey="preview"
			:show_checkbox="True"
			:show_add="True"
			discribe="灰度描述"
			title="灰度">
	</evn-component>
	<level level="S"> S级 : 主站节点全部高可用 有备份机房 </level>
	<level level="A"> A级 : 主站存在单节点 有备份机房 /  主站节点全部高可用 无备份机房 </level>
	<level level="B"> B级: 主站存在单节点 无备份机房 /  主站节点全部单节点 有备份机房 </level>
</div>
{% include "pro_assess_add/temps.html" %}
<script>
{#    var category_list = {{ category_list|safe }}#}
    var categoryItem_list = {{ categoryItem_list|safe }}

	var store = new Vuex.Store({
		modules:{
		    evns:{
		         state:{
			        production:{
			            data:[],
				        selected:true,
				        isDefectResut:''
			        },
				    disaster_recovery:{
			            data:[],
					    selected:false,
					    isDefectResut:''
				    },
				    preview:{
			            data:[],
					    selected:false,
					    isDefectResut:''
				    }
			    },
			    mutations:{
		             addData:function(state,key){
		                 var envType = '';

		                 switch (key){
			                 case 'production':
			                     envType=1;
			                     break;
			                 case 'disaster_recovery':
			                      envType=2;
			                     break;
			                 case 'preview':
			                      envType=3;
			                     break;
		                 }
		                 state[key].data.push({
			                'project_id':'',
					        'app_category':"1",
					        'app_category_item':"1",
					        'other_category_name':"其他文本框值",
					        'estimated_server_count':4,
					        'estimated_singleton_memory_capacity':8,
					        'estimated_singleton_CPU_core':4,
					        'estimated_singleton_disk_capacity':100,
					        'need_high_availability':false,
					        'comment':"",
					        'env':envType
		                 })
		             },
				    deleteData:function(state,keys){
		                 state[keys[0]].data.splice(keys[1],1)
				    },
                    copyData: function(state, key){
				        state[key].data = JSON.parse(JSON.stringify(state.production.data));
                    },
                    delData:function(state, key){
                        state[key].data = [];
                    }


			    },
			    actions:{
		             addData:function(context,key){
		                 context.commit('addData',key)
		             },
				    deleteData:function(context,keys){
		                 context.commit('deleteData',keys)
				    },
                    copyData:function(context, key){
				        context.commit('copyData',key);
                    },
                    delData:function(context, key){
                        context.commit('delData', key);
                    }

			    }
		    }
		}
	});
	Vue.component('evn-component',{
	    template:"#evn-component",
		props:{
	        'typekey':{
	            type:String,
		        required:true
	        },
			'show_checkbox':{
	            type:Boolean,
				 default: false
			},
			'title':{
	            type:String,
				required:true,
			},
			'discribe':{
	            type:String
			}
		},
		methods:{
		    onAddData:function(key){
			    this.$store.dispatch('addData',key);
		    },
			onDeleteData:function(keys){
		        this.$store.dispatch('deleteData',keys);
			},
			getTotal:function(key,key1){
		        var total = 0;
		        var lists = this.$store.state.evns[key].data;
		        for(var i=0;i<lists.length;i++){
		            total+=  lists[i].need_high_availability? parseInt(lists[i][key1]*2) :parseInt(lists[i][key1]);//.estimated_singleton_CPU_core
		        }
		        return parseInt(total);
	        },
            resetData:function(typekey){debugger;
			    if(!this.$store.state.evns[typekey].selected){
			        var t = this;
			        this.$store.state.evns[typekey].selected = true;
			        Alertwin.confirm({ message: "确认要删除选择的数据吗？" }).on(function (e) {
			            if(e){
                            t.$store.state.evns[typekey].selected = false;
                            t.$store.dispatch('delData',typekey);
                        }
                    });
                }else{
			        this.$store.dispatch('copyData',typekey);
                }
            }
		}

	});
	Vue.component('level',{
		template:"#level",
		props:{
		    'level':{
			    validator: function (value) {
			        return ['S', 'A', 'B'].indexOf(value) !== -1
			    }
		    }
		}

	});
	var vm = new Vue({
		el:'#tab3',
		store:store,
		data:{
		    title:"abc",
			True:true,
			False:false
		},
		methods:{
		    save:function(){
                 var pid = $("#project_id").val();
                 var bool = false;
                 if(pid){
                     var reqData = {"p_id":pid};
                     var values = this.$store.state.evns['__ob__'].value;
                     var v_online = values.production;
                     var v_3in1 = values.disaster_recovery;
                     var v_pilot = values.preview;
                     var deploy_envs = 0;
                     var items = [];
                     if(v_online.selected){
                         $(v_online.data).each(function(i,item){
                             if(item.need_high_availability){
                                 item.need_high_availability = 1
                             }else{
                                 item.need_high_availability = 0
                             }
                             items.push(item);
                         })
                         deploy_envs += 1;
                     }else{
                         Alertwin.alert({ message: "没有生产信息不能保存"});
                         return;
                     }
                     if(v_3in1.selected){
                         $(v_online.data).each(function(i,item){
                             if(item.need_high_availability){
                                 item.need_high_availability = 1
                             }else{
                                 item.need_high_availability = 0
                             }
                             items.push(item);
                         })
                         deploy_envs += 1;
                     }else{
                         items.push({"is_defect":"1","comment":v_3in1.isDefectResut,"env":"2"});
                     }
                     if(v_pilot.selected){
                         $(v_online.data).each(function(i,item){
                             if(item.need_high_availability){
                                 item.need_high_availability = 1
                             }else{
                                 item.need_high_availability = 0
                             }
                             items.push(item);
                         })
                         deploy_envs += 2;
                     }else{
                         items.push({"is_defect":"1","comment":v_pilot.isDefectResut,"env":"3"});
                     }
                     reqData["deploy_envs"] = deploy_envs;
                     reqData["items"] = items;
                     $.ajax({
                            type: "POST",
                            async:false,
                            url: '/presrb/project/projectItem_add/',
                            data:{"saveJson":JSON.stringify(reqData),"csrfmiddlewaretoken":'{{ csrf_token }}'},
                            error: function (request) {
                                console.log(request)
                            },
                            success: function (data) {
                                if(data.status == 0){
                                    $("#is_save3").val(1);
                                    bool = true;
                                    Alertwin.alert({ message: "操作成功"});
                                }else{
                                    bool = false;
                                    Alertwin.alert({ message: "操作失败"});
                                }
                            }
                     })

                  }
                  return bool;
		    }
		},
		mounted:function(){
		    console.log(this.$store.state.evns);
		}
	});
	function initProAssess3(){
	}
	function tab3Save(){
	    return vm.save();
	}
</script>