<div class="tab-pane" id="tab4">
	<div id="tab4ReportDiv" class="row" style="margin-top: 20px"></div>
	<div class="processbox row">
		<div class="row col-md-6 line_24 mb10">
			<div class="col-md-12 sc">
				<h4 class="fl_title">生产环境:</h4>
				<div class="devbox">
					<span class="fix prod">数量</span>
					<span class="content">10</span>
					<span class="fix">台</span>
				</div>
				<div class="devbox">
					<span class="fix">内存</span>
					<span class="content">10</span>
					<span class="fix">G</span>
				</div>
				<div class="devbox">
					<span class="fix">CPU</span>
					<span class="content">10</span>
					<span class="fix">核</span>
				</div>
				<div class="devbox">
					<span class="fix">磁盘</span>
					<span class="content">10</span>
					<span class="fix">G</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="row col-md-6 line_24 mb10">
			<div class="col-md-12 zb">
				<h4 class="fl_title">灾备环境:</h4>
				<div class="devbox">
					<span class="fix">数量</span>
					<span class="content">10</span>
					<span class="fix">台</span>
				</div>
				<div class="devbox">
					<span class="fix">内存</span>
					<span class="content">10</span>
					<span class="fix">G</span>
				</div>
				<div class="devbox">
					<span class="fix">CPU</span>
					<span class="content">10</span>
					<span class="fix">核</span>
				</div>
				<div class="devbox">
					<span class="fix">磁盘</span>
					<span class="content">10</span>
					<span class="fix">G</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="row col-md-6 line_24 mb10">
			<div class="col-md-12 hd">
				<h4 class="fl_title">灰度环境:</h4>
				<div class="devbox">
					<span class="fix">数量</span>
					<span class="content">10</span>
					<span class="fix">台</span>
				</div>
				<div class="devbox">
					<span class="fix">内存</span>
					<span class="content">10</span>
					<span class="fix">G</span>
				</div>
				<div class="devbox">
					<span class="fix">CPU</span>
					<span class="content">10</span>
					<span class="fix">核</span>
				</div>
				<div class="devbox">
					<span class="fix">磁盘</span>
					<span class="content">10</span>
					<span class="fix">G</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="row col-md-6 line_24 mb10">
			<div class="col-md-12">
				<h4 class="fl_title">运维管理:</h4>
				<div class="devbox">
					<span class="fix">数量</span>
					<span class="content">10</span>
					<span class="fix">台</span>
				</div>
				<div class="devbox">
					<span class="fix">内存</span>
					<span class="content">10</span>
					<span class="fix">G</span>
				</div>
				<div class="devbox">
					<span class="fix">CPU</span>
					<span class="content">10</span>
					<span class="fix">核</span>
				</div>
				<div class="devbox">
					<span class="fix">磁盘</span>
					<span class="content">10</span>
					<span class="fix">G</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<h2 class="totaldis">项目合计需求资源：  500C/900G/20TB（系统自动计算）</h2>
	</div>
	<div class="row">
		<div class="col-md-6" style="padding: 20px">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>级别</td>
						<td>灾备</td>
						<td>双节点</td>
					</tr>
				</thead>
				<tbody>
					<tr class="alert-success">
						<td>SS</td>
						<td>√</td>
						<td>X</td>
					</tr>
					<tr class="alert-success">
						<td>S</td>
						<td>√</td>
						<td>√</td>
					</tr>
					<tr class="alert-warning">
						<td>A</td>
						<td>X</td>
						<td>√</td>
					</tr>
					<tr class="alert-danger">
						<td>B</td>
						<td>√</td>
						<td>√</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6" style="margin-top: 22px">
			<div class="row">
		         <div class="col-md-12">
		            <div class="alert alert-success" style="margin-bottom: 10px">
		                S级 : 主站节点全部高可用 有备份机房
		            </div>
		         </div>
		    </div>
		    <div class="row" >
		         <div class="col-md-12">
		            <div class="alert alert-warning" style="margin-bottom: 10px">
		                B级 : 主站存在单节点 有备份机房 /  主站节点全部高可用 无备份机房
		            </div>
		         </div>
		    </div>
		    <div class="row">
		         <div class="col-md-12">
		            <div class="alert alert-danger" style="margin-bottom: 10px">
		                A级 : 主站存在单节点 无备份机房 /  主站节点全部单节点 有备份机房
		            </div>
		         </div>
		    </div>
		</div>

		<div class="row" style="margin-top: 20px;margin-bottom: 20px; clear:both; ">

			 <div class="col-md-6">
	            <label class="col-sm-2 control-label" style="text-align: right;line-height: 33px;">
	                审核人
	            </label>
	            <div class="col-sm-7">
	                <div class="input-group">
	                    <select id="projectNameSel"  class="form-control" onchange="">
	                        <option value="">--------请选择--------</option>
	                    </select>
	                </div>
	            </div>
	         </div>

		</div>


		<div class="checkbox" style="clear: both;line-height: 8px;text-align: right;margin-right: 15px;">
		    <label>
		      <input type="checkbox"> 我已阅读运维标准文档
		    </label>
		  </div>
	</div>







</div>

<script>
     function initProAssess4(){

     }
     function tab4ReportView(){
         $("#tab4ReportDiv").empty();
        var p_id = $("#project_id").val();
        $.ajax({
            type: "GET",
            url: '/presrb/project/pro_report_views/',
            async:false,
            data:{"id":p_id,'t':1},
            error: function (request) {
                 bool = false;
            },
            success: function (data) {
                $("#tab4ReportDiv").append(data);
            }
        })
     }
</script>