<div class="tab-pane" id="tab3">



	<evn-component
			typekey="production"
			:show_checkbox="False"
			:show_add="True"
			title="生产">
	</evn-component>
	<evn-component
			typekey="disaster_recovery"
			:show_checkbox="True"
			:show_add="False"
			title="灾备">
	</evn-component>
	<evn-component
			typekey="preview"
			:show_checkbox="True"
			:show_add="True"
			title="灰度">
	</evn-component>



	<level level="S"> S级 : 主站节点全部高可用 有备份机房 </level>
	<level level="A"> A级 : 主站存在单节点 有备份机房 /  主站节点全部高可用 无备份机房 </level>
	<level level="B"> B级: 主站存在单节点 无备份机房 /  主站节点全部单节点 有备份机房 </level>


</div>
{% include "pro_assess_add/temps.html" %}
<script>
	var store = new Vuex.Store({
		modules:{
		    evns:{
		         state:{
			        production:{
			            data:[],
				        msg:"1",
				        selected:false,
				        isDefectResut:''
			        },
				    disaster_recovery:{
			            data:[],
				        msg:"2",
					    selected:false,
					    isDefectResut:''
				    },
				    preview:{
			            data:[],
				        msg:"3",
					    selected:false,
					    isDefectResut:''
				    }
			    }
		    }
		}
	});
	Vue.component('evn-component',{

	    template:"#evn-component",
		props:{
	        'typekey':{
	            type:String,
		        required:true
	        },
			'show_checkbox':{
	            type:Boolean,
				 default: false
			},
			'title':{
	            type:String,
				required:true,
			}
		}

	});
	Vue.component('level',{
		template:"#level",
		props:{
		    'level':{
			    validator: function (value) {
			        return ['S', 'A', 'B'].indexOf(value) !== -1
			    }

		    }
		}

	});
	function initProAssess3(){
	    var vm = new Vue({
			el:'#tab3',
			store:store,
			data:{
			    title:"abc",
				True:true,
				False:false
			},
			mounted:function(){
			    console.log(this.$store.state.evns);
			}
		})
	}
</script>