<template id="evn-component">
	<div class="panel" :class="{
		'panel-info':typekey=='production',
		'panel-success':typekey=='disaster_recovery',
		'panel-primary':typekey=='preview'}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-1" style="position: relative">
	                <span v-html="title"></span>
	                 <label v-if="show_checkbox" class="is_tru" style="position: absolute;top: 3px; left: 60px">
                        <input type="checkbox" value="1" v-model="$store.state.evns[typekey].selected" @change="resetData(typekey)">
                        <span class="swc" :class="{'active':$store.state.evns[typekey].selected}">
						    <span class="swci"></span>
					    </span>
                      </label>
                </div>
                <div class="col-md-9">
	                <span v-html="discribe"></span>
                </div>
	            <div class="col-md-2 text-right" v-if="$store.state.evns[typekey].selected">
		            <i class="yum-font icon-plus-bold" style="cursor: pointer" @click="onAddData(typekey)"></i>
	            </div>
            </div>
        </div>
        <div class="panel-body">


	        <transition name="bounce">
		         <div v-if="!$store.state.evns[typekey].selected" class="contentb">
			        <textarea class="form-control" placeholder="请输入缺失原因" v-model="$store.state.evns[typekey].isDefectResut"></textarea>
		        </div>
	        </transition>


	        <transition name="bounce">
		          <div v-if="$store.state.evns[typekey].selected" class="contentb">
			          <div class="datashow line_24">
				          <div v-if="$store.state.evns[typekey].data.length==0" style="position: absolute">
					          数据为空，请添加
				          </div>
				          <transition-group name="list" tag="div">
					           <div class="evnsbox clear" v-for="(item,index) in $store.state.evns[typekey].data" :key="item">
                                   <div class="devbox mb5" style="padding: 0px 5px">
										<select class="selectself" v-model="item.app_category_item">
                                            <option :value="it.id" v-for="it in categoryItem_list" v-html="it.name"></option>
                                        </select>
									</div>
						            <div class="devbox mb5">
										<span class="fix prod">数量</span>
										<span class="content">
											<input type="number" v-model="item.estimated_server_count" class="smnu" min="0" max="99999">
										</span>
										<span class="fix">台</span>
									</div>
						           <div class="devbox mb5">
										<span class="fix">CPU</span>
										<span class="content">
											<input type="number"  v-model="item.estimated_singleton_CPU_core" class="smnu" min="0" max="99999">
										</span>
										<span class="fix">核</span>
									</div>
									<div class="devbox mb5">
										<span class="fix">内存</span>
										<span class="content">
											<input type="number" v-model="item.estimated_singleton_memory_capacity"  class="smnu" min="0" max="99999">
										</span>
										<span class="fix">G</span>
									</div>

									<div class="devbox mb5">
										 <span class="fix">磁盘</span>
										 <span class="content">
											 <input type="number"  v-model="item.estimated_singleton_disk_capacity" class="smnu" min="0" max="99999">
										 </span>
										 <span class="fix">G</span>
									</div>
						           <div class="devbox mb5">
							           <label style="padding-right:5px">
								           <span class="fix">
									           高可用
								           </span>
								           <input type="checkbox" v-model="item.need_high_availability">
							           </label>
						           </div>
						           <div class="devbox mb5" v-if="item.app_category_item==7">
							           <span class="content">
								           <input type="text" placeholder="特殊需求可调整" v-model="item.other_category_name" class="smnu" style="text-align: left;width: 130px">
							           </span>
						           </div>

						           <div class="devbox mb5">
							            <span class="fix" style="cursor: pointer" @click="onDeleteData([typekey,index])">删除</span>
						           </div>
					          </div>
				          </transition-group>




				          <h2 style="margin-top: 20px; font-size: 18px" v-if="$store.state.evns[typekey].data.length!=0">
					          <span v-html="title"></span>环境VM合计<span v-html="getTotal(typekey,'estimated_server_count')"></span>
					          台
					          &nbsp;
					          &nbsp;
					          &nbsp;
					          &nbsp;
					          CPU:<span v-html="getTotal(typekey,'estimated_singleton_CPU_core')"></span>核
					          /
					          MEM:<span v-html="getTotal(typekey,'estimated_singleton_memory_capacity')"></span>G
					          /
					          DISK:<span v-html="getTotal(typekey,'estimated_singleton_disk_capacity')"></span>G（系统自动计算获得）
				          </h2>


			          </div>
		          </div>
	        </transition>



        </div>
    </div>
</template>

<template id="level">
	<div class="row" style="clear: both;">
	     <div class="col-md-4">
	        <div class="alert" :class="{'alert-success':level=='S','alert-warning':level=='A','alert-danger':level=='B'}">
	            <slot></slot>
	        </div>
	     </div>
	</div>
</template>