{% extends 'common/basic_layout.html' %}
{% block content %}
<script type="text/javascript" src="/static/hplus/js/zTree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="/static/hplus/js/zTree/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="/static/hplus/js/zTree/jquery.ztree.exedit.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/ace.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/ext-language_tools.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/ext-old_ie.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/theme-monokai.js"></script>
<link href="/static/hplus/css/zTree/bootstrapStyle.css" rel="stylesheet">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增发布</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="width: 10%"> 主机组信息</label>
                            <div class="col-sm-10" style="width: 50%">
                                <input type="hidden" id="app_id" name="id" class="form-control" value="{{ app_info.id }}"/>
                                <input type="text" id="name" name="name" class="form-control" value="" readonly/>
                            </div>
                        </div>
                            <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="" href="#collapseInit">
                                            初始化
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseInit" class="panel-collapse collapse in">
                                    <div class="col-sm-6" style="margin-top: 10px">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">包</div>
                                            <div class="panel-body">
                                                <table id="sourceWarTb" style="width: 100%">
                                                    {% for file in app_info.files %}
                                                        {% if file.source_type == 2 and file.type == 1 %}
                                                    <tr>
                                                        <td style="width: 76%;"><input type="text" id="sourceWarPath" name="sourceWarPath" class="form-control" value="{{ file.path|split:'/'|getListLast }}"/></td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-default" onclick="addTrToTable(this,'sourceWarPath')" style="margin-left: 5px"><i class="glyphicon glyphicon-plus"></i></button>
                                                            <button type="button" class="btn btn-sm btn-default" onclick="removeTrFromTable(this)"><i class="glyphicon glyphicon-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col-sm-12" style="margin-top: 10px">
                                            <label class="col-sm-2 control-label" style="width: 15%"> 发布目录</label>
                                            <div class="col-sm-10" style="width: 85%">
                                                <input type="text" id="path" name="path" class="form-control" value="{{ app_info.path }}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" style="margin-top: 10px">
                                            <table class="table table-striped table-bordered table-hover dataTables-example dataTable accordion" style="width: 95%;margin-left: 50px" >
                                                <thead>
                                                    <tr>
                                                        <td style="width: 40%">进程名</td>
                                                        <td>端口</td>
                                                        <td>最小进程数</td>
                                                        <td>最大进程数</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input type="text" id="process_name" name="process_name" class="form-control" value="{{ app_info.process_name|default_if_none:"" }}"/></td>
                                                        <td><input type="text" id="port" name="port" class="form-control" value="{{ app_info.port|default_if_none:"" }}" placeholder="8080"/></td>
                                                        <td><input type="text" id="min_process_count" name="min_process_count" class="form-control" value="{{ app_info.min_process_count|default_if_none:"0" }}" placeholder="0"/></td>
                                                        <td><input type="text" id="max_process_count" name="max_process_count" class="form-control" value="{{ app_info.max_process_count|default_if_none:"0" }}" placeholder="0"/></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-12" style="margin-top: 10px">
                                            <label class="col-sm-2 control-label" style="width: 15%"> 启动脚本</label>
                                            <div class="col-sm-10" style="width: 85%">
                                                <input type="text" id="start_script" name="start_script" class="form-control" value="{{ app_info.start_script|default_if_none:"" }}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" style="margin-top: 10px">
                                            <label class="col-sm-2 control-label" style="width: 15%"> 停止脚本</label>
                                            <div class="col-sm-10" style="width: 85%">
                                                <input type="text" id="stop_script" name="stop_script" class="form-control" value="{{ app_info.stop_script|default_if_none:"" }}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="" href="#collapseSource">
                                            源信息
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSource" class="panel-collapse collapse in">
                                    <div class="col-sm-4">
                                        <div class="col-sm-12" style="margin-top: 10px">
                                            {% for file in app_info.files %}
                                                {% if forloop.first and file.source_type == 1 and file.type == 1 %}
                                            <label class="col-sm-2 control-label" style="width: 15%"> 源IP</label>
                                            <div class="col-sm-10" style="width: 85%">
                                                <input type="text" id="sourceIp" name="sourceIp" class="form-control" value="{{ file.path|split:':'|getListFirst:0 }}"/>
                                            </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-sm-12" style="margin-top: 10px">
                                            {% for file in app_info.files %}
                                            {% if forloop.first and file.source_type == 1 and file.type == 1 %}
                                            <label class="col-sm-2 control-label" style="width: 15%"> 目录</label>
                                            <div class="col-sm-10" style="width: 85%">
                                                <input type="text" id="sourcePath" name="sourcePath" class="form-control" value="/{{ file.path|split:'/'|slice:"1:-1"|join:"/" }}/"/>
                                            </div>
                                             {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="panel panel-default" style="margin-top: 10px">
                                            <div class="panel-heading">配置</div>
                                            <div class="panel-body">
                                                <table id="sourceConfigTb" style="width: 100%">
                                                {% if len(app_info.files) >0 %}
                                                     {% for file in app_info.files %}
                                                        {% if file.source_type == 1 and file.type == 2 %}
                                                    <tr>
                                                        <td style="width: 76%;"><input type="text" id="sourceConfigPath" name="sourceConfigPath" class="form-control" value="{{ file.path|split:':'|getListLast }}"/></td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-default" onclick="addTrToTable(this,'sourceConfigPath')" style="margin-left: 5px"><i class="glyphicon glyphicon-plus"></i></button>
                                                            <button type="button" class="btn btn-sm btn-default" onclick="removeTrFromTable(this)"><i class="glyphicon glyphicon-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                        {% endif %}
                                                     {% endfor %}
                                                {% else %}
                                                    <tr>
                                                        <td style="width: 76%;"><input type="text" id="sourceConfigPath" name="sourceConfigPath" class="form-control" value=""/></td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-default" onclick="addTrToTable(this,'sourceConfigPath')" style="margin-left: 5px"><i class="glyphicon glyphicon-plus"></i></button>
                                                            <button type="button" class="btn btn-sm btn-default" onclick="removeTrFromTable(this)"><i class="glyphicon glyphicon-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="panel panel-default" style="margin-top: 10px">
                                            <div class="panel-heading">静态文件</div>
                                            <div class="panel-body">
                                                <table id="sourceStaticTb" style="width: 100%">
                                                    {% for file in app_info.files %}
                                                        {% if file.source_type == 1 and file.type == 3 %}
                                                    <tr>
                                                        <td style="width: 76%;"><input type="text" id="sourceStaticPath" name="sourceStaticPath" class="form-control" value="{{ file.path|split:':'|getListLast }}"/></td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-default" onclick="addTrToTable(this,'sourceStaticPath')" style="margin-left: 5px"><i class="glyphicon glyphicon-plus"></i></button>
                                                            <button type="button" class="btn btn-sm btn-default" onclick="removeTrFromTable(this)"><i class="glyphicon glyphicon-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                     {% endif %}
                                                     {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="" href="#collapseTarget">
                                            目标信息
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTarget" class="panel-collapse collapse in">
                                    <div class="col-sm-6" style="margin-top: 10px">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">配置</div>
                                            <div class="panel-body">
                                                <table id="targetConfigTb" style="width: 100%">
                                                    {% for file in app_info.files %}
                                                        {% if file.source_type == 2 and file.type == 2 %}
                                                    <tr>
                                                        <td style="width: 76%;"><input type="text" id="targetConfigPath" name="targetConfigPath" class="form-control" value="{{ file.path }}"/></td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-default" onclick="addTrToTable(this,'targetConfigPath')" style="margin-left: 5px"><i class="glyphicon glyphicon-plus"></i></button>
                                                            <button type="button" class="btn btn-sm btn-default" onclick="removeTrFromTable(this)"><i class="glyphicon glyphicon-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" style="margin-top: 10px">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">静态文件</div>
                                            <div class="panel-body">
                                                <table id="targetStaticTb" style="width: 100%">
                                                    {% for file in app_info.files %}
                                                        {% if file.source_type == 2 and file.type == 3 %}
                                                    <tr>
                                                        <td style="width: 76%;"><input type="text" id="targetStaticPath" name="targetStaticPath" class="form-control" value="{{ file.path }}"/></td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-default" onclick="addTrToTable(this,'targetStaticPath')" style="margin-left: 5px"><i class="glyphicon glyphicon-plus"></i></button>
                                                            <button type="button" class="btn btn-sm btn-default" onclick="removeTrFromTable(this)"><i class="glyphicon glyphicon-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8" style="margin-top: 20px">
                                        <div class="col-sm-3">
                                            <div class="input-group" style="width: 100px">
                                                <span class="input-group-addon">
                                                    <input id="checkPreDeploy" name="deployBeforeScriptDiv" type="checkbox" class="i-checks">
                                                </span>
                                                <span class="input-group-addon">pre-deploy</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="input-group" style="width: 100px">
                                                <span class="input-group-addon">
                                                    <input id="checkPostDeploy" name="deployAfterScriptDiv" type="checkbox" class="i-checks">
                                                </span>
                                                <span class="input-group-addon">post-deploy</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="input-group" style="width: 100px">
                                                <span class="input-group-addon">
                                                    <input id="checkCheckDeploy" name="deployCheckScriptDiv" type="checkbox" class="i-checks">
                                                </span>
                                                <span class="input-group-addon">check-deploy</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="deployBeforeScriptDiv" class="col-sm-10" style="margin-top: 10px;display: none">
                                        <label >pre-deploy: </label>
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-default" onclick="setDeployBeforeScriptMode('sh')"><a>Shell</a></button>
                                            <button type="button" class="btn btn-default" onclick="setDeployBeforeScriptMode('python')"><a>Python</a></button>
                                            <button type="button" class="btn btn-default" onclick="setDeployBeforeScriptMode('perl')"><a>Perl</a></button>
                                        </div>
                                        <div id="deploy_before_script" class="ace_editor" style="width: 100%;height: 400px;"></div>
                                    </div>
                                    <div id="deployAfterScriptDiv" class="col-sm-10" style="margin-top: 10px;display: none">
                                        <label >post-deploy: </label>
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-default" onclick="setDeployAfterScriptMode('sh')"><a>Shell</a></button>
                                            <button type="button" class="btn btn-default" onclick="setDeployAfterScriptMode('python')"><a>Python</a></button>
                                            <button type="button" class="btn btn-default" onclick="setDeployAfterScriptMode('perl')"><a>Perl</a></button>
                                        </div>
                                        <div id="deploy_after_script" class="ace_editor" style="width: 100%;height: 400px;"></div>
                                    </div>
                                    <div id="deployCheckScriptDiv" class="col-sm-10" style="margin-top: 10px;display: none">
                                        <label >check-deploy: </label>
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-default" onclick="setDeployCheckScriptMode('sh')"><a>Shell</a></button>
                                            <button type="button" class="btn btn-default" onclick="setDeployCheckScriptMode('python')"><a>Python</a></button>
                                            <button type="button" class="btn btn-default" onclick="setDeployCheckScriptMode('perl')"><a>Perl</a></button>
                                        </div>
                                        <div id="deploy_check_script" class="ace_editor" style="width: 100%;height: 400px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn btn-primary" type="button" onclick="deployUpdate()"><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> 保存</button>
                                <a class="btn btn-white" href="javascript:history.go(-1)">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        setDeployBeforeScriptMode("sh");
        setDeployAfterScriptMode("sh");
        setDeployCheckScriptMode("sh");
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",});
        iCheckEventBind();
        {% if app_info.pre_script %}
        $('#checkPreDeploy').iCheck('check');
        var scriptStr1 = '{{ app_info.pre_script|escapejs  }}';
        var editor1 = ace.edit("deploy_before_script");
        editor1.removeLines();
        editor1.insert(scriptStr1);
        {% endif %}
        {% if app_info.post_script %}
        $('#checkPostDeploy').iCheck('check');
        var scriptStr2 = '{{ app_info.post_script|escapejs  }}';
        var editor2 = ace.edit("deploy_after_script");
        editor2.removeLines();
        editor2.insert(scriptStr2);
        {% endif %}
        {% if app_info.check_script %}
        $('#checkCheckDeploy').iCheck('check');
        var scriptStr3 = '{{ app_info.check_script|escapejs  }}';
        var editor3 = ace.edit("deploy_check_script");
        editor3.removeLines();
        editor3.insert(scriptStr3);
        {% endif %}
    })
    function addTrToTable(btn,name){
        var generateId = new Date().valueOf();
        var htmlStr = '<tr>\n' +
            '  <td style="width: 76%;"><input type="text" id="'+name+generateId+'" name="'+name+'" class="form-control" value=""/></td>\n' +
            '  <td>\n' +
            '      <button type="button" class="btn btn-sm btn-default" onclick="addTrToTable(this,\''+name+'\')" style="margin-left: 5px"><i class="glyphicon glyphicon-plus"></i></button>\n' +
            '      <button type="button" class="btn btn-sm btn-default" onclick="removeTrFromTable(this)"><i class="glyphicon glyphicon-trash"></i></button>\n' +
            '  </td>\n' +
            '</tr>';
        $(btn).parents("table").append(htmlStr);
    }
    function removeTrFromTable(btn){
        if($(btn).parents("table").find("tr").length > 1){
            $(btn).parents("tr").remove();
        }
    }

    function iCheckEventBind(){
        $('#checkPreDeploy').on('ifChecked', function (event) {
            $("#"+event.delegateTarget.name).css("display","block");
        });
        $('#checkPreDeploy').on('ifUnchecked', function (event) {
            $("#"+event.delegateTarget.name).css("display","none");
        });
        $('#checkPostDeploy').on('ifChecked', function (event) {
            $("#"+event.delegateTarget.name).css("display","block");
        });
        $('#checkPostDeploy').on('ifUnchecked', function (event) {
            $("#"+event.delegateTarget.name).css("display","none");
        });
        $('#checkCheckDeploy').on('ifChecked', function (event) {
            $("#"+event.delegateTarget.name).css("display","block");
        });
        $('#checkCheckDeploy').on('ifUnchecked', function (event) {
            $("#"+event.delegateTarget.name).css("display","none");
        });
    }
    function setDeployBeforeScriptMode(model) {
        var editor = ace.edit("deploy_before_script");
        require("ace/ext/old_ie");
        var langTools = ace.require("ace/ext/language_tools");
        editor.removeLines();
        editor.setTheme("ace/theme/monokai");
        if (model == 'sh'){
            editor.insert("#!/bin/bash");
        }
        else if(model == 'python'){
            editor.insert("#!/usr/bin/python");
        }
        else if(model == 'perl'){
            editor.insert("#!/usr/bin/perl");
        }
        else{
            editor.insert("#!/bin/bash");
            var model = 'sh'
        };
        editor.getSession().setMode("ace/mode/" + model);
        editor.setShowPrintMargin(false);
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
    };

    function setDeployAfterScriptMode(model) {
        var editor = ace.edit("deploy_after_script");
        require("ace/ext/old_ie");
        var langTools = ace.require("ace/ext/language_tools");
        editor.removeLines();
        editor.setTheme("ace/theme/monokai");
        if (model == 'sh'){
            editor.insert("#!/bin/bash");
        }
        else if(model == 'python'){
            editor.insert("#!/usr/bin/python");
        }
        else if(model == 'perl'){
            editor.insert("#!/usr/bin/perl");
        }
        else{
            editor.insert("#!/bin/bash");
            var model = 'sh'
        };
        editor.getSession().setMode("ace/mode/" + model);
        editor.setShowPrintMargin(false);
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
    };

    function setDeployCheckScriptMode(model){
        var editor = ace.edit("deploy_check_script");
        require("ace/ext/old_ie");
        var langTools = ace.require("ace/ext/language_tools");
        editor.removeLines();
        editor.setTheme("ace/theme/monokai");
        if (model == 'sh'){
            editor.insert("#!/bin/bash");
        }
        else if(model == 'python'){
            editor.insert("#!/usr/bin/python");
        }
        else if(model == 'perl'){
            editor.insert("#!/usr/bin/perl");
        }
        else{
            editor.insert("#!/bin/bash");
            var model = 'sh'
        };
        editor.getSession().setMode("ace/mode/" + model);
        editor.setShowPrintMargin(false);
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
    }
    function deployUpdate(){
        var appId = $("#app_id").val();
        var port = $("#port").val();
        var path = $("#path").val();
        var processName = $("#process_name").val();
        var minProcessCount = $("#min_process_count").val();
        var maxProcessCount = $("#max_process_count").val();
        var startScript = $("#start_script").val();
        var stop_script = $("#stop_script").val();
        var preScript = ace.edit("deploy_before_script").getValue();
        var postScript = ace.edit("deploy_after_script").getValue();
        var checkScript = ace.edit("deploy_check_script").getValue();

        var treeDict = {
            "id":appId,
            "port":port,
            "path":path,
            "process_name":processName,
            "min_process_count":minProcessCount,
            "max_process_count":maxProcessCount,
            "start_script":startScript,
            "stop_script":stop_script,
            "pre_script":preScript,
            "post_script":postScript,
            "check_script":checkScript
        };

        var pathList = [];
        var sourceIp = $("#sourceIp").val();
        var sourcePath = $("#sourcePath").val();
        $($("#sourceWarTb input")).each(function(i,item){
            pathList.push({"path":sourceIp+":"+sourcePath+$(item).val(),"type":1,"source_type":1});
            pathList.push({"path":path+$(item).val(),"type":1,"source_type":2});
        });
        $($("#sourceConfigTb input")).each(function(i,item){
            var value = $(item).val();
            if(value){
                pathList.push({"path":sourceIp+":"+value,"type":2,"source_type":1});
            }
        });
        $($("#sourceStaticTb input")).each(function(i,item){
            var value = $(item).val();
            if(value){
                pathList.push({"path":sourceIp+":"+value,"type":3,"source_type":1});
            }
        });
        $($("#targetConfigTb input")).each(function(i,item){
            var value = $(item).val();
            if(value){
                pathList.push({"path":value,"type":2,"source_type":2});
            }
        });
        $($("#targetStaticTb input")).each(function(i,item){
            var value = $(item).val();
            if(value) {
                pathList.push({"path": value, "type": 3, "source_type": 2});
            }
        });

        layer.load();
        $.ajax({
            type : 'POST',
            url: '/deploy/update/',
            data:{"treeDict":JSON.stringify(treeDict),"pathList":JSON.stringify(pathList),"csrfmiddlewaretoken":'{{ csrf_token }}'},
            success : function(responseStr) {
                if(responseStr.status==0){
                    window.location.href="/deploy/list/"
                }else{

                }
                layer.closeAll('loading');
            },
            error : function(responseStr) {
                layer.closeAll('loading');
                console.log(responseStr);
            }
        });
    }
</script>
{% endblock %}