{% extends 'common/basic_layout.html' %}

{% block content %}
<link href="/static/hplus/css/zTree/bootstrapStyle.css" rel="stylesheet">
<link href="/static/hplus/css/devops_tools_add.css" rel="stylesheet">
<link href="/static/hplus/css/works/works.css" rel="stylesheet">
<link href="/static/hplus/css/works/yum-font.css" rel="stylesheet">

<script src="/static/hplus/js/works/vue.min.js"></script>

<div class="wrapper wrapper-content fadeInRight" style="z-index: inherit">
    <div class="row addtoos">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{% if is_add == 1 %}新增{% else %}修改{% endif %}发版配置</h5>
                </div>
                <div class="ibox-content" id="add_deploy_record">
                    <form class="form-horizontal" @submit.prevent="submit">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="red">*</span> 名称</label>
                            <div class="col-sm-10">
                                <input type="text"  class="form-control text_ar" v-model="formData.name" placeholder="发版名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="red">*</span> </label>
                            <div class="col-sm-10">
                                <div class="fl" style=" margin-right: 18px;">
                                    <input type="text"  class="form-control text_ar" v-model="formData.tool_name" placeholder="请输入任务名称">
                                </div>
                                <a href="javascript:;" class="btn btn-primary" @click="bindTask">查询</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="red">*</span> 工具版本</label>
                            <div class="col-sm-10">
                                <select class="form-control text_ar" v-model="formData.tool_id" onchange="toolVersionSelChanage">
                                <option :value="item.tool_id" v-for="item in tool_versions" v-html="item.tool_version"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    {% if is_add == 0 %}
         getVersionByName('{{ deploy_tool.tool_name }}');
    {% endif %}
    var page = new Vue({
        el: '#add_deploy_record',
        data: {
            formData: {
                id:'{{ deploy_tool.id }}',
                name:'{{ deploy_tool.name }}',
                tool_name:'{{ deploy_tool.tool_name }}',
                tool_id:'{{ deploy_tool.tool_id }}',
                tool_version:'{{ deploy_tool.tool_version }}',
                //task_id:' deploy_tool.tool_set_id }}'
            },
            tool_versions:[]
        },
        methods:{
{#            addVersion:function(){#}
{#                this.formData.version_list.push('');#}
{#            },#}
{#            removeVersion: function(index){#}
{#                this.formData.version_list.splice(index, 1);#}
{#            },#}
            checkForm: function(){
                var formData = this.formData;
                if(!formData.name){
                    Alertwin.alert({ message: '请输入发版名称'});
                    return false;
                }
                if(!formData.tool_id){
                    Alertwin.alert({ message: '请选择工具版本'});
                    return false;
                }
                return true;
            },
            toolVersionSelChanage:function(){
                var tool_id = this.formData.tool_id;
                var t = this;
                this.tool_versions.forEach(function(item){
                    if(item.tool_id == tool_id ){
                        t.formData.tool_version = item.tool_version;
                    }
                })
            },
            submit: function(){
                ///todo 提交表单
                if(!this.checkForm())return;
                var formData = this.formData;
                var is_add = {{ is_add }};
                var reqData = {
                    'name':formData.name,
                    'tool_id':formData.tool_id,
                    'tool_name':formData.tool_name,
                    'tool_version':formData.tool_version,
                    'bind_type':1,
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                };
                var req_url = "../add/";
                var redirect_url = "../list";
                if(is_add == 0){
                    reqData['id'] = formData.id;
                    req_url = "../edit/";
                    redirect_url = "../../list"
                }
                layer.load();
                $.ajax({
                    type: "POST",
                    url: req_url,
                    data:reqData,
                    error: function (request) {
                        layer.closeAll('loading');
                    },
                    success: function (data) {
                        layer.closeAll('loading');
                        if(data.status == 0){
                            location.href = redirect_url;
                        }else{
                            Alertwin.alert({ message:data.msg});
                        }
                    }
                });
            },
            bindTask: function(){
                var name = this.formData.tool_name;
                if(!name){
                    return Alertwin.alert({ message: '请输入任务名称'});
                }
                //var t = this;
                getVersionByName(name,null);
            }
        }
    });

    function getVersionByName(name,v){
        $.get('/working/tools/getversionbyname/?name='+name, function(r){
            if(r.status == 200){
                //t.formData.task_id = r.id;
                page.formData.tool_id='';
                page.formData.tool_version = '';
                if(r.data.length > 0){
                    page.tool_versions = r.data;
                    page.formData.tool_id = r.data[0].tool_id;
                    page.formData.tool_version = r.data[0].tool_version;
{#                    $(r.data).each(function(i,item){#}
{#                       sel.append("<option tool_id='"+item.tool_id+"' value='"+item.tool_version+"'>"+item.tool_version+"</option>")#}
{#                        page.tool_versions#}
{#                    });#}
                }else{
                    Alertwin.alert({ message: '没有找到相关工具'});
                }
            }else{
                Alertwin.alert({ message: '查询工具信息失败'});
            }
        });
    }

{#    function toolVersionSelChanage(sel){#}
{#         var option = $(sel).find("option:selected");#}
{#         page.formData.tool_id = option.attr('tool_id');#}
{#    }#}
</script>
{% endblock %}