{% extends 'common/basic_rank_list.html' %}
{% load widget_tweaks %}

{% block list_title %}
    发布配置列表
{% endblock %}

{% block  list_search %}
    <div class="col-sm-1" style="width: 12%">
        <input type="text" name="name" class="form-control" placeholder="名称">
    </div>
    <div class="col-sm-1" style="width: 12%">
        <select name="physical" class="form-control m-b" id="physical">
            <option value="">--机房--</option>
            <option value="nh">NH</option>
            <option value="zr">ZR</option>
        </select>
    </div>
    <div class="col-sm-1" style="width: 12%">
        <select name="deployment_environment" class="form-control m-b" id="deployment_environment">
            <option value="">--环境--</option>
            <option value="pilot">pilot</option>
            <option value="online">online</option>
        </select>
    </div>
{% endblock %}

{% block list_filter %}
    <button type="submit" class="btn btn-sm btn-primary" style="margin-right: 10px"><i class="fa fa-search"></i> 搜索</button>
    <a href="../add" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增</a>
    <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='#import_deploy_modal' style="margin-right: 10px"><i class="glyphicon glyphicon-import"></i> 导入</button>
    <button type="submit" class="btn btn-sm btn-primary" style="margin-right: 10px" onclick="toJekins()"><i class="glyphicon glyphicon-star"></i> Jekins</button>
{% endblock %}

{% block list_content %}
    <script type="text/javascript" src="/static/hplus/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/static/hplus/js/fileinput.zh.js"></script>
    <link href="/static/hplus/css/fileinput.min.css" rel="stylesheet">
    <table class="table table-striped table-bordered table-hover dataTables-example dataTable accordion">
        <thead>
            <tr>
                <th style="width: 12%;">
                    机房
                </th>
                <th style="width: 12%;">
                    环境
                </th>
                <th style="width: 15%;">
                    名称
                </th>
                <th style="width: 15%;">
                    当前版本号
                </th>
                <th style="width: 15%;">
                    版本号
                </th>
                <th style="width: 20%;">
                   操作
                </th>
            </tr>
        </thead>
        <tbody id="accordion_tb">
            {% for o in setList %}
            <tr class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_tb" href="#collapseTr{{ o.id }}">
                <td >
                    <select name="physical" class="form-control m-b" id="physical1{{ o.id }}" selId="deployment_environment1{{ o.id }}" verId="current_version1{{ o.id }}" onchange="trSelectChange(this,'',{{ o.id }})">
                        <option value="">--机房--</option>
                        <option value="nh">NH</option>
                        <option value="zr">ZR</option>
                    </select>
                </td>
                <td>
                    <select name="deployment_environment" class="form-control m-b" id="deployment_environment1{{ o.id }}" selId="physical1{{ o.id }}" verId="current_version1{{ o.id }}" onchange="trSelectChange(this,'',{{ o.id }})">
                        <option value="">--环境--</option>
                        <option value="pilot">pilot</option>
                        <option value="online">online</option>
                    </select>
                </td>
                <td>
                    {{ o.name }}
                </td>
                <td>
                    {{ o.current_version }}
                </td>
                <td>
                    <select name="current_version" class="form-control m-b" id="current_version1{{ o.id }}">
                        <option value="">--版本--</option>
{#                        {% for v in o.version %}#}
{#                        <option value="{{ v }}">{{ v }}</option>#}
{#                        {% endfor %}#}
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='#deploy_pre_modal' data-pid="{{ o.id }}" data-aid="0" style="margin-right: 10px"><i class="glyphicon glyphicon-magnet"></i> pre</button>
                    <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='' data-pid="{{ o.id }}" data-aid="0" style="margin-right: 10px"><i class="glyphicon glyphicon-info-sign"></i> 流量</button>
                    <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='#deploy_modal' data-pid="{{ o.id }}" data-aid="0" data-cv="{{ o.current_version}}" style="margin-right: 10px"><i class="glyphicon glyphicon-play"></i> 发布</button>
{#                    <button type="button" class="btn btn-sm btn-success" onclick="deployLog()"><i class="fa fa-book"></i> 日志</button>#}
                </td>
            </tr>
            <tr id="collapseTr{{ o.id }}" class="accordion-body collapse" >
                <td colspan="6">
                    <table class="table table-striped table-bordered table-hover dataTables-example dataTable accordion" style="width: 95%;margin-left: 50px" >
                        {% for a in o.appList %}
                        <tr>
{#                            <td style="width: 3%;">#}
{#                                <input type="checkbox" class="i-checks icheck" app_name="{{ a.name }}" name="trCheckbox{{ o.id }}">#}
{#                            </td>#}
                            <td style="width: 12%;">
                                <select name="physical" class="form-control m-b" id="physical2{{ a.id }}" selId="deployment_environment2{{ a.id }}" verId="current_version2{{ a.id }}" onchange="trSelectChange(this,'{{ a.name }}',{{ o.id }})">
                                    <option value="">--机房--</option>
                                    <option value="nh">NH</option>
                                    <option value="zr">ZR</option>
                                </select>
                            </td>
                            <td style="width: 12%;">
                                <select name="deployment_environment" class="form-control m-b" id="deployment_environment2{{ a.id }}"  selId="physical2{{ a.id }}" verId="current_version2{{ a.id }}" onchange="trSelectChange(this,'{{ a.name }}',{{ o.id }})">
                                    <option value="">--环境--</option>
                                    <option value="pilot">pilot</option>
                                    <option value="online">online</option>
                                </select>
                            </td>
                            <td style="width: 17%;">
                                {{ a.name }}
                            </td>
                            <td style="width: 18%;">
                                {{ a.current_version }}
                            </td>
                            <td style="width: 12%;">
                                <select name="current_version" class="form-control m-b" id="current_version2{{ a.id }}">
                                    <option value="">--版本--</option>
{#                                    {% for v in a.version %}#}
{#                                    <option value="{{ v }}">{{ v }}</option>#}
{#                                    {% endfor %}#}
                                </select>
                                <input id="script2{{ a.id }}" type="hidden" value="{{ a.script }}" />
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='#deploy_pre_modal' data-pid="{{ o.id }}" data-aid="{{ a.id }}" data-name="{{ a.name }}" style="margin-right: 10px"><i class="glyphicon glyphicon-magnet"></i> pre</button>
                                <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='' data-pid="{{ o.id }}" data-aid="0" style="margin-right: 10px"><i class="glyphicon glyphicon-info-sign"></i> 流量</button>
                                <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='#deploy_modal' data-pid="{{ o.id }}" data-aid="{{ a.id }}" data-name="{{ a.name }}" data-cv="{{ a.current_version}}" style="margin-right: 10px"><i class="glyphicon glyphicon-play"></i> 发布</button>
                                <a href="../update?appId={{ a.id }}" class="btn btn-sm btn-success"><i class="fa fa-book"></i> 编辑</a>
                                <a href="javascript:void(0)" onclick="deleteApp('{{ a.id }}')" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> 删除</a>
                            </td>
                        </tr>
                       {% endfor %}
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block modal_div %}
    <div class="modal fade" id="deploy_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">发布</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 500px;overflow:auto">
                    <div class="row" style="margin-bottom: 10px">
                        版本: <span id="current_version1" class="label label-success"></span><span class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="margin: 0 10px 0 10px"></span><span id="current_version2" class="label label-primary"></span>
                    </div>
                    <div class="row">
                        <table id="deploy_modal_table" class="table table-striped table-bordered table-hover dataTables-example dataTable accordion">
                            <thead>
                                <th style="width: 15%;">
                                    机房
                                </th>
                                <th style="width: 15%;">
                                    环境
                                </th>
                                <th style="width: 15%;">
                                    名称
                                </th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="deploy_modal_btn" title="确定" onclick="deploy()">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="import_deploy_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 600px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">导入</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 500px;overflow:auto">
                    <div class="col-sm-12">
                        <input id="import_deploy_file" type="file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" title="确定导入" onclick="importDeployInfo()">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deploy_pre_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 700px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">pre</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 500px;overflow:auto">
                   <div class="row" style="margin-bottom: 10px">
                       <label class="col-sm-1 control-label" style="width: 9%"> 脚本:</label><label id="pre_script_name" class="col-sm-4 control-label"></label>
                   </div>
                   <div class="row" style="margin-bottom: 10px">
                        <table id="deploy_pre_param_table" class="table table-striped table-bordered table-hover dataTables-example dataTable accordion">
                            <thead>
                                <th style="width: 15%;">
                                    名称
                                </th>
                                <th style="width: 85%;">
                                    值
                                </th>
                            </thead>
                            <tbody></tbody>
                        </table>
                   </div>
                   <div class="row">
                       <table id="deploy_pre_modal_table" class="table table-striped table-bordered table-hover dataTables-example dataTable accordion">
                           <thead>
                                <th style="width: 15%;">
                                    机房
                                </th>
                                <th style="width: 15%;">
                                    环境
                                </th>
                                <th style="width: 15%;">
                                    名称
                                </th>
                           </thead>
                           <tbody></tbody>
                       </table>
                   </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="deploy_pre_modal_btn" title="确定" onclick="preExec()">确定</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#import_deploy_file").fileinput({
                showPreview: false,
                showUpload: false,
                elErrorContainer: '#kartik-file-errors',
                allowedFileExtensions: ['xls', 'xlsx'],
                maxFilesNum:1,
                language:'zh'
            });

            $("#deploy_modal").on('show.bs.modal',function(event){
                var datas = $(event.relatedTarget).data();
                var pid = datas['pid'];
                var aid = datas['aid'];
                var cv = datas['cv'];
                $(this).data('pid',pid);
                $(this).data('aid',aid);
                var physical = "";
                var deployment_environment = "";
                var current_version = "";
                var reqData = {};
                if(aid > 0){
                    physical = $("#physical2"+aid).val();
                    deployment_environment = $("#deployment_environment2"+aid).val();
                    current_version = $("#current_version2"+aid).val();
                    reqData['name']= datas['name'];
                }else{
                    physical = $("#physical1"+pid).val();
                    deployment_environment = $("#deployment_environment1"+pid).val();
                    current_version = $("#current_version1"+pid).val();
                    var str = document.getElementsByName("trCheckbox"+pid);
                    var objarray = str.length;
                    var app_name = "";
                    for (i = 0; i < objarray; i++) {
                        if (str[i].checked == true) {
                           app_name += $(str[i]).attr('app_name') + ",";
                        }
                    }
                    app_name = app_name.substring(0,app_name.length-1);
                    reqData['name']= app_name;
                }
                reqData["parent_id"] = pid;
                reqData["idc"] = physical;
                reqData["env"] = deployment_environment;
                $(this).data('idc',physical);
                $(this).data('env',deployment_environment);
                if(!physical || !deployment_environment || !current_version){
                    $("#deploy_modal_table tbody").append("<tr><td colspan='3'>请选择机房、环境、版本</td></tr>");
                    $("#deploy_modal_btn").attr("disabled",true);
                }else{
                    $("#current_version1").text(cv);
                    $("#current_version2").text(current_version);
                    $(this).data("current_version",current_version);
                    $.ajax({
                        type: "GET",
                        url: '/deploy/getAppListByPid/',
                        data:reqData,
                        success: function (data) {
                            var appList = data.appList;
                            var appTotal = appList.length;
                            //var emptyFlag = 0;
                            var tbody = $("#deploy_modal_table tbody");
                            $(appList).each(function(i,item){
                                var style = "";
                                var inputStr = "<input type='hidden' id='app_id' value='"+item.id+"'/>";
                                if(item.empty_flag == 1){
                                    //emptyFlag += 1;
                                    style  = " style='color: red' ";
                                    inputStr = "";
                                }
                                var htmlStr = "<tr "+style+">" +
                                    "<td>" + inputStr +
                                    item.idc +
                                    "</td>" +
                                    "<td>" +
                                    item.env +
                                    "</td>" +
                                    "<td>" +
                                    item.name +
                                    "</td>" +
                                    "</tr>";
                                tbody.append(htmlStr);
                            });
                            //appTotal = appTotal - emptyFlag;
                            //$("#deploy_modal").data('appTotal',appTotal);

{#                            $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})#}
{#                            $('#checkall').on('ifChecked', function (event) {#}
{#                                $('.icheck').iCheck('check');#}
{#                            });#}
{#                            $('#checkall').on('ifUnchecked', function (event) {#}
{#                                $('.icheck').iCheck('uncheck');#}
{#                            });#}
                        },
                        error:function(responseStr) {
                            console.log(responseStr);
                        }
                    });
                }


            });
            $("#deploy_modal").on('hide.bs.modal',function(event){
                $("#deploy_modal_table tbody").empty();
                $("#deploy_modal_btn").attr("disabled",false);
                $(this).data('pid','');
                $(this).data('aid','');
                $(this).data('idc','');
                $(this).data('env','');
                $("#current_version1").text('');
                $("#current_version2").text('');
                //$(this).data('appTotal','');
            })

            $("#deploy_pre_modal").on('show.bs.modal',function(event){
                var datas = $(event.relatedTarget).data();
                var pid = datas['pid'];
                var aid = datas['aid'];
                var cv = datas['cv'];
                $(this).data('pid',pid);
                $(this).data('aid',aid);
                $(this).data('cv',cv);
                var physical = "";
                var deployment_environment = "";
                var current_version = "";
                var physical = "";
                var deployment_environment = "";
                var scripObj = {};
                var reqData = {};
                if(aid > 0){
                    physical = $("#physical2"+aid).val();
                    deployment_environment = $("#deployment_environment2"+aid).val();
                    reqData['name']= datas['name'];
                    scripObj = JSON.parse($("#script2"+aid).val().replace(/'/g,'"'));
                }else{
                    physical = $("#physical1"+pid).val();
                    deployment_environment = $("#deployment_environment1"+pid).val();
                    var str = document.getElementsByName("trCheckbox"+pid);
                    var objarray = str.length;
                    var app_name = "";
                    for (i = 0; i < objarray; i++) {
                        if (str[i].checked == true) {
                           app_name += $(str[i]).attr('app_name') + ",";
                        }
                    }
                    app_name = app_name.substring(0,app_name.length-1);
                    scripObj = JSON.parse($("#script1"+aid).val().replace(/'/g,'"'));
                    reqData['name']= app_name;
                }
                reqData["parent_id"] = pid;
                reqData["idc"] = physical;
                reqData["env"] = deployment_environment;
                $(this).data('idc',physical);
                $(this).data('env',physical);
                if(!physical || !deployment_environment){
                    $("#deploy_pre_modal_table tbody").append("<tr><td colspan='3'>请选择机房、环境、版本</td></tr>");
                    $("#deploy_pre_modal_btn").attr("disabled",true);
                }else{
                    $("#pre_script_name").text(scripObj['script_path']);
                    if(scripObj['script_type'] == '1'){
                        $(scripObj['script_param_names'].split(',')).each(function(i,item){
                            //#deploy_pre_modal_table
                            var htmlStr = "<tr>" +
                                "<td>"+item+"</td>" +
                                "<td><input name='pre_param_text' type='text' value='' class='form-control'/></td>" +
                                "</tr>";
                            $("#deploy_pre_param_table tbody").append(htmlStr);
                        })
                    }
                    $.ajax({
                        type: "GET",
                        url: '/deploy/getAppListByPid/',
                        data:reqData,
                        success: function (data) {
                            var appList = data.appList;
                            var appTotal = appList.length;
                            //var emptyFlag = 0;
                            var tbody = $("#deploy_pre_modal_table tbody");
                            $(appList).each(function(i,item){
                                var style = "";
                                var inputStr = "<input type='hidden' id='app_id' value='"+item.id+"'/>";
                                if(item.empty_flag == 1){
                                    //emptyFlag += 1;
                                    style  = " style='color: red' ";
                                    inputStr = "";
                                }
                                var htmlStr = "<tr "+style+">" +
                                    "<td>" + inputStr +
                                    item.idc +
                                    "</td>" +
                                    "<td>" +
                                    item.env +
                                    "</td>" +
                                    "<td>" +
                                    item.name +
                                    "</td>" +
                                    "</tr>";
                                tbody.append(htmlStr);
                            });
                        },
                        error:function(responseStr) {
                            console.log(responseStr);
                        }
                    });
                }

            })
            $("#deploy_pre_modal").on('hide.bs.modal',function(event){
                $("#deploy_pre_modal_table tbody").empty();
                $("#deploy_pre_param_table tbody").empty();
                $("#deploy_pre_modal_btn").attr("disabled",false);
                $(this).data('pid','');
                $(this).data('aid','');
                $(this).data('idc','');
                $(this).data('env','');
                $("#pre_script_name").text('');
            })

        });
        function deploy(){
            var datas = $("#deploy_modal").data();
            var pid = datas['pid'];
            var aid = datas['aid'];
            var idc = datas['idc'];
            var env = datas['env'];
            var current_version = datas['current_version'];
            if(!idc || !env || !current_version){
                 Alertwin.alert({ message: "机房、环境、版本为空"});
                 return;
            }

            var app_ids = [];
            $($("#deploy_modal_table tbody input")).each(function(i,item){
                app_ids.push($(item).val());
            });
            if(app_ids.length == 0){
                Alertwin.alert({ message: "没有应用记录"});
                return;
            }

{#            if(current_version){//回滚#}
{#                if(aid > 0){ //小版本#}
{#                    var reqData = {"app_id":app_ids[0],"version":current_version,"type":1,"idc":idc,"env":env};#}
{#                    reqData['csrfmiddlewaretoken'] = '{{ csrf_token }}';#}
{##}
{#                }else{ //大版本#}
{#                    var reqData = {"pid":pid,"version":current_version,"type":2,"idc":idc,"env":env};#}
{#                    reqData['app_ids'] = JSON.stringify(app_ids);#}
{#                    reqData['csrfmiddlewaretoken'] = '{{ csrf_token }}';#}
{#                }#}
{#                $.ajax({#}
{#                    type: "POST",#}
{#                    url: '/deploy/deployRollback/',#}
{#                    data:reqData,#}
{#                    success: function (data) {#}
{#                        if(data.status == 0){#}
{#                            $("#deploy_modal").modal('hide');#}
{#                            Alertwin.alert({message:"回滚操作成功，后台正在执行中"});#}
{#                            deployLog(app_ids);#}
{#                        }else{#}
{#                            Alertwin.alert({message:"回滚失败"});#}
{#                        }#}
{#                    },#}
{#                    error:function(responseStr) {#}
{#                        console.log(responseStr);#}
{#                    }#}
{#                });#}
{#            }else{ //发布#}
{#                var reqData = {"id":pid,"idc":idc,"env":env};#}
{#                reqData['app_ids'] = JSON.stringify(app_ids);#}
{#                reqData['csrfmiddlewaretoken'] = '{{ csrf_token }}';#}
{##}
{#                $.ajax({#}
{#                    type: "POST",#}
{#                    url: '/deploy/deployExec/',#}
{#                    data:reqData,#}
{#                    error: function (request) {},#}
{#                    success: function (data) {#}
{#                        if(data.status == 0){#}
{#                            $("#deploy_modal").modal('hide');#}
{#                            Alertwin.alert({message:"发布成功，后台正在执行中"});#}
{#                            deployLog(app_ids);#}
{#                        }else{#}
{#                            Alertwin.alert({message:data.msg});#}
{#                        }#}
{#                    }#}
{#                });#}
{#            }#}

            var reqData = {"id":pid,"idc":idc,"env":env};
            reqData['app_ids'] = JSON.stringify(app_ids);
            reqData['version'] = current_version;
            reqData['csrfmiddlewaretoken'] = '{{ csrf_token }}';

            $.ajax({
                type: "POST",
                url: '/deploy/deployExec/',
                data:reqData,
                error: function (request) {},
                success: function (data) {
                    if(data.status == 0){
                        $("#deploy_modal").modal('hide');
                        Alertwin.alert({message:"发布成功，后台正在执行中"});
                        deployLog(app_ids);
                    }else{
                        Alertwin.alert({message:data.msg});
                    }
                }
            });
        }
        function deployLog(app_ids){
            var ids = "";
            $(app_ids).each(function(i,item){
                ids += item+"+";
            })
            ids = ids.substring(0,ids.length-1)
            window.location.href="../executeLog?app_ids="+ids
        }

        function deleteApp(appId){
            if(appId){
                Alertwin.confirm({ message: "确定要删除此数据吗？" }).on(function (e) {
                    if(e){
                        $.ajax({
                            type: "GET",
                            url: '/deploy/deleteApp/',
                            data:{"app_id":appId},
                            error: function (request) {},
                            success: function (data) {
                                if(data.status == 0){
                                    Alertwin.alert({message:data.msg});
                                    window.location.reload();
                                }else{
                                    Alertwin.alert({message:data.msg});
                                }
                            }
                        });
                    }
                })
            }else{
                Alertwin.alert({message:"删除数据为空"});
            }
        }

        function importDeployInfo(){
            var formData = new FormData();
            formData.append("csrfmiddlewaretoken",'{{ csrf_token }}')
            formData.append('files',$("#import_deploy_file")[0].files[0]);
            $.ajax({
                url: '/deploy/import/',
                type: 'POST',
                processData: false,
                contentType: false,
                data:formData,
                beforeSend:function(){
                    //Alertwin.alert({ message:"正在进行，请稍候"});
                },
                success:function(responseStr) {
                    if(responseStr.status===0){
                        Alertwin.alert({message:responseStr.success+" "+responseStr.fail});
                        window.location.reload();
                    }else{
                        Alertwin.alert({message:responseStr.msg});
                    }
                },
                error:function(responseStr) {
                    console.log(responseStr);
                }
            });
        }

        function toJekins(){
            window.open("http://172.31.159.111:8080/")
        }

        function trSelectChange(sel,appName,parentId){
            var sel1 = $(sel);
            var sel2 = $('#'+sel1.attr('selId'))
            var verId = sel1.attr('verId');
            var physical = "";
            var deployment_environment = "";
            if(sel1.attr('id').indexOf("physical") > -1){
                physical = sel1.val();
                deployment_environment = sel2.val();
            }else{
                physical = sel2.val();
                deployment_environment = sel1.val();
            }
            if(physical && deployment_environment){
                $("#"+verId).empty();
                $.ajax({
                    type: "POST",
                    url: '/deploy/deployVersion/',
                    data:{"csrfmiddlewaretoken":'{{ csrf_token }}',"appName":appName,"parentId":parentId,"idc":physical,"env":deployment_environment},
                    success: function (data) {
                        var verSel = $("#"+verId);
                        verSel.append('<option value="">--版本--</option>');
                        $(data.list).each(function(i,item){
                            verSel.append('<option value="'+item+'">'+item+'</option>');
                        })
                    },
                    error:function(data) {
                        console.log(data);
                    }
                });
            }
        }

        function preExec(){
            var app_ids = [];
            $($("#deploy_pre_modal_table tbody input")).each(function(i,item){
                app_ids.push($(item).val());
            });
            if(app_ids.length == 0){
                Alertwin.alert({ message: "没有应用记录"});
                return;
            }
            var script_param = [];
            $("#deploy_pre_param_table input").each(function(i,item){
                script_param.push($(item).val());
            });
            var script_path = $("#pre_script_name").text();

        }
    </script>
{% endblock %}
