<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>DevOps Workshop</title>

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="/static/asserts/yumchina_favtion.ico">
    <link href="/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">

    <script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/hplus/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/hplus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/hplus/js/plugins/layer/layer.min.js"></script>
    <script src="/static/hplus/js/hplus.min.js?v=4.1.0"></script>
    <script type="text/javascript" src="/static/hplus/js/contabs.min.js"></script>
    <script src="/static/hplus/js/plugins/pace/pace.min.js"></script>
    <script src="/static/js/sys_menu_app.js"></script>
    <script type="text/javascript">
        function host_total_count() {
            var host_total = $("#host_total");
            var host_go_live1 = $("#host_go_live1");
            var host_go_live2 = $("#host_go_live2");
            var host_go_live3 = $("#host_go_live3");
            $.ajax({
                type: "GET",
                url: '/host_total_count/',
                data: {},
                error: function (res) {
                    host_total.text(0);
                    host_go_live1.text(0);
                    host_go_live2.text(0);
                    host_go_live3.text(0);
                    console.log(res)
                },
                success: function (data) {
                    if (data.status == 200) {
                        host_total.text(data.data.total);
                        host_go_live1.text(data.data.go_live1);
                        host_go_live2.text(data.data.go_live2);
                        host_go_live3.text(data.data.go_live3);
                    }
                }
            });

        }

        $(document).ready(function () {
             host_total_count();
             setInterval("host_total_count()", 10000);
        });
    </script>
    <style type="text/css">
        #side-menu.nav > li.active{
          border-left: none;
        }
    </style>
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span style="vertical-align: middle">
                                <!-- <img alt="image" class="img-circle" src="/static/asserts/YumChina.png" style="height: 80px; margin-left: 13%"/> -->
                                <img alt="image" src="/static/asserts/YumChina.png" style="height: 80px; margin-left: 13%"/>
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs"><strong class="font-bold" style="padding-right: 15px">DevOps</strong>{{ request.user.last_name }} {{ request.user.first_name }}<b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li>
                                    <a href="/logout">安全退出</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/dashboard/">
                            <i class="fa fa-columns"></i>
                            <span class="nav-label">首页 </span>
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i>
                            <span class="nav-label">我的控制台&nbsp;&nbsp;&nbsp;</span>
                            <span class="badge" name="issues_count" style="background-color:#fffc1c">0</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/jira/issues/list/">待完成任务&nbsp;&nbsp;&nbsp;<span
                                        class="badge" name="issues_count" style="background-color:#fffc1c">0</span></a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/jira/issues/listDone/?statis=Done">已完成任务&nbsp;&nbsp;&nbsp;<span
                                        class="badge" id="issues_done_count" style="background-color:#5eff1f">0</span></a>
                            </li>
                        </ul>
                    </li>



                    <li>
                        <a class="J_menuItem" href="/menu/list/">
                            <i class="fa fa-columns"></i>
                            <span class="nav-label">菜单</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i>
                            <span class="nav-label">权限管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/auth/manager/list/#users">用户</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/auth/manager/list/#usergroups">用户组</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/auth/manager/list/#modules">模块</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/auth/manager/list/#modulegroups">模块组</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-th-list"></i>
                            <span class="nav-label" title="CMDB">资源中心&nbsp;&nbsp;&nbsp;</span>
                            <span class="badge" id="host_total" style="background-color:#fffc1c">0</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/cmdb/host/multiconditionquerypage/">高级查询</a>
                                <a class="J_menuItem" href="/cmdb/host/list1/">未分配主机&nbsp;&nbsp;&nbsp;<span class="badge" id="host_go_live1" style="background-color:#fffc1c">0</span></a>
                                <a class="J_menuItem" href="/cmdb/host/list2/">待上线主机&nbsp;&nbsp;&nbsp;<span class="badge" id="host_go_live2" style="background-color:#fffc1c">0</span></a>
                                <a class="J_menuItem" href="/cmdb/host/list3/">已上线主机&nbsp;&nbsp;&nbsp;<span class="badge" id="host_go_live3" style="background-color:#fffc1c">0</span></a>
                                <a class="J_menuItem" href="/cmdb/vip/list/">VIP管理</a>
                                <a class="J_menuItem" href="/cmdb/host/dashboard/">资源运营</a>
                                <a class="J_menuItem" href="/cmdb/host_group/host_tree_list/">树节点</a>
                                <a class="J_menuItem" href="/cmdb/business/business_list/">业务属性</a>
                                <a class="J_menuItem" href="/cmdb/host/operationlog_list/">操作记录</a>
{#                                <a class="J_menuItem" href="">域名管理</a>#}
{#                                <a class="J_menuItem" href="/cmdb/business/attributes_view/?tab=0">业务属性</a>#}
{#                                <a class="J_menuItem" href="/cmdb/host_group/tree_list/">主机组</a>#}
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cutlery"></i>
                            <span class="nav-label">作业平台 </span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/platform/ansible/mge">Ansible管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/platform/ansible/mgelogs">Ansible操作日志</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/working/tools/list">工具管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/platform/command_set/list/">常用作业</a>
                            </li>
{#                             <li>#}
{#                                <a class="J_menuItem" href="/platform/file_manage/view/">文件管理</a>#}
{#                            </li>#}
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-play-circle"></i>
                            <span class="nav-label">发布管理 </span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
{#                            <li>#}
{#                                <a class="J_menuItem" href="/deploy/list/">发布作业</a>#}
{#                            </li>#}
                            <li>
                                <a class="J_menuItem" href="/deploy/tool/list/">发版工具</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/deploy/operationLog/">操作日志</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-wrench"></i>
                            <span class="nav-label">应用管理 </span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/application/manage/list/">应用部署</a>
                            </li>
{#                            <li>#}
{#                                <a class="J_menuItem" href="">应用配置</a>#}
{#                            </li>#}
                            <li>
                                <a class="J_menuItem" href="/application/manage/filemonitoredconfiglist/">文件一致性</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/application/manage/filemonitoredlist/">文件Notify</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/deploy/operationLog/">操作日志</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-dashboard"></i>
                            <span class="nav-label">电商大盘 </span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="http://172.17.144.150:3000/d/-g_FTHVik/dian-shang-da-pan?refresh=1m&orgId=1">dashboard</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-desktop"></i>
                            <span class="nav-label">流量调度 </span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/flow/control/report">查看</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/flow/control/list">调度</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/deploy/operationLog/">操作日志</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-leaf"></i>
                            <span class="nav-label">软负载 </span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="http://172.16.146.116:8080/yumc/console/vs/web">管理中心</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/slb/site_list/">站点管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/slb/upstream_list/">集群管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/slb/deploy/manage/">发布管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-pencil"></i>
                            <span class="nav-label">PreSRB项目评估 </span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/presrb/project/list/">容量评估</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-pencil"></i>
                            <span class="nav-label">cell管理 </span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/cmdb/cell/template/index/">模板管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/cmdb/cell/index">cell伸缩</a>
                            </li>
                        </ul>
                    </li>



                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary "
                                                  href="#"><i
                            class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                    </ul>
                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="javascript:history.go(-1)" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 返回</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/dashboard/"
                        frameborder="0" data-id="index_v1.html" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">&copy; 2017-2018 <a href="#" target="_blank">DevOps</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
