{% extends 'common/basic_layout.html' %}

{% block content %}
<script type="text/javascript" src=""></script>
<link href="" rel="stylesheet">

    <div class="wrapper wrapper-content fadeInRight" style="z-index: inherit">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>新增工具</h5>
                    </div>
                    <div class="ibox-content">
                            <!-- 页面内容 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}