{% extends 'common/basic_layout.html' %}

{% block content %}
<script type="text/javascript" src=""></script>
	<link href="/static/hplus/css/zTree/bootstrapStyle.css" rel="stylesheet">
	<link href="/static/hplus/css/works/works.css" rel="stylesheet">
	<link href="/static/hplus/css/works/yum-font.css" rel="stylesheet">
	<link href="/static/hplus/css/devops_tools_add.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/hplus/codemirror/codemirror.css">
    <link rel="stylesheet" href="/static/hplus/codemirror/eclipse.css">
    <script src="/static/hplus/codemirror/codemirror.js"></script>
    <script src="/static/hplus/codemirror/active-line.js"></script>
    <script src="/static/hplus/js/works/vue.min.js"></script>

    <div class="wrapper wrapper-content fadeInRight" style="z-index: inherit">
        <div class="row addtoos">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>新增工具</h5>
                    </div>
                    <div class="ibox-content" id="tool_add">
                         <form class="form-horizontal" @submit.prevent="submit">
	                        <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="red">*</span> 工具名称</label>
	                            <div class="col-sm-10">
		                            <input type="text"  class="form-control text_ar" v-model="formData.name">
	                            </div>
                            </div>
	                        <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="red">*</span> 公用工具</label>
	                            <div class="col-sm-10">
		                             <div class="switch">
                                        <input type="checkbox" id="switch_checkbox" data-on-color="success" data-off-color="danger" checked data-on-text="是" data-off-text="否"/>
                                    </div>
                                    <input type="hidden" id="is_enabled" name="is_enabled" value="True"/>
	                            </div>
                            </div>
	                        <div class="form-group">
                                <label class="col-sm-2 control-label">执行环境</label>
	                            <div class="col-sm-10">
		                            <div class="radiogroup">
			                            <label>
				                            <input type="radio" name="infom" checked="True" value="1"  v-model="formData.infom"/>
				                            <span>管理机</span>
			                            </label>

			                             <label>
				                            <input type="radio" name="infom" value="2" v-model="formData.infom"/>
				                             <span>远程机器</span>
			                            </label>
		                            </div>
	                            </div>
                            </div>
	                        <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="red">*</span> 超时时长</label>
	                            <div class="col-sm-10">
		                            <input type="number" min="0" max="100" style="width: 80px" class="form-control input_inline" v-model="formData.timeout"> 分钟
	                            </div>
	                        </div>
{#	                        <div class="form-group">#}
{#                                <label class="col-sm-2 control-label"> 工具命令</label>#}
{#	                            <div class="col-sm-10">#}
{#		                            <textarea  class="form-control text_ar" style="height: 70px" v-model="formData.command"></textarea>#}
{#	                            </div>#}
{#	                        </div>#}
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> 类别</label>
	                            <div class="col-sm-10">
		                            <select v-model="formData.tool_set_prime_type" class="form-control" style="width:20%">
                                        <option value="1">原子</option>
                                    </select>
	                            </div>
	                        </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> 类型</label>
	                            <div class="col-sm-10">
		                           <select v-model="formData.tool_set_type" class="form-control" style="width:20%">
                                       <option value="1">指令</option>
                                       <!--
                                       <option value="2">上传文件</option>
                                       <option value="3">远程文件</option>
                                       <option value="4">脚本</option>
                                       -->
                                       <option value="5">工具</option>
                                    </select>
	                            </div>
	                        </div>
	                        <div class="form-group">
                                <label class="col-sm-2 control-label"> 工具标签</label>
	                            <div class="col-sm-10">
		                            <input type="text"  class="form-control text_ar" v-model="formData.tag">
	                            </div>
	                        </div>
	                        <div class="form-group">
                                <label class="col-sm-2 control-label"> 协作者</label>
	                            <div class="col-sm-10">
		                            <input type="text"  class="form-control text_ar" v-model="formData.pattener">
	                            </div>
	                        </div>

	                        <div class="form-group">
                                <label class="col-sm-2 control-label">参数</label>
	                            <div class="col-sm-10">
		                            <div class="parmabox">
			                            <div v-for="(p,i) in formData.param" class="boxbox clear1 form-inline">
				                            <i class="yum-font icon-guanbi del" style="font-size: 12px" @click="removeParam(i)"></i>
				                            <div class="fl pabx">
											    <label>名称</label>
											    <input type="text" class="form-control" v-model="p.paramNameZh">
				                            </div>
				                            <div class="fl pabx">
											    <label >类型</label>
					                            <select class="form-control" style="min-width: 80px" v-model="p.type">
                                                  <option value="text">字符</option>
                                                  <!--
                                                  <option value="textshell">shell脚本</option>
                                                  <option value="select">下拉框</option>
                                                  <option value="file">文件上传</option>
                                                  <option value="number">数字</option>
                                                  -->
												</select>
				                            </div>

				                            <div class="fl pabx">
											    <label >描述</label>
					                             <input type="text" class="form-control" v-model="p.desc">
				                            </div>
			                            </div>

                                        <div class="clear1 add_button" @click="addParam">
	                                        +添加参数
                                        </div>
		                            </div>

	                            </div>
	                        </div>

	                        <div class="form-group">
                                <label class="col-sm-2 control-label">返回值</label>
	                            <div class="col-sm-10">
		                            <div class="parmabox">
			                            <div v-for="(r, i) in formData.ret" class="boxbox clear1 form-inline">
				                            <i class="yum-font icon-guanbi del" style="font-size: 12px" @click="removeRet(i)"></i>
				                            <div class="fl pabx">
											    <label>名称</label>
											    <input type="text" class="form-control">
				                            </div>
				                            <div class="fl pabx">
											    <label >类型</label>
					                            <select class="form-control" style="min-width: 80px">
												  <option>1</option>
												  <option>2</option>
												  <option>3</option>
												  <option>4</option>
												  <option>5</option>
												</select>
				                            </div>

				                            <div class="fl pabx">
											    <label >描述</label>
					                             <input type="text" class="form-control">
				                            </div>
			                            </div>

			                            <div class="clear1 add_button" @click="addReturn">
				                            +添加返回值
			                            </div>

		                            </div>

	                            </div>
	                        </div>

	                        <div class="form-group">
                                <label class="col-sm-2 control-label">脚本

                                </label>
	                            <div class="col-sm-10">
                                    <p class="col-sm-12" >
                                        脚本语言: <select id="changeMode" v-model="formData.script_lang">
                                            <option value="shell">shell</option>
                                             <option value="python">python</option>
                                         <option value="yaml">yaml</option>
                                        </select>
                                    </p>
		                                <textarea id="code" name="code"  style="display: none;"></textarea>
	                            </div>
	                        </div>
	                        <div class="form-group">
							    <div class="col-sm-offset-2 col-sm-10">
							      <button type="submit" class="btn btn-primary">提交</button>
							    </div>
							  </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var page = new Vue({
        el:'#tool_add',
        data: {
           formData:{
                //id: 1,
                name: '',
                infom:1,
                tool_set_prime_type: 1,
                tool_set_type: 1,
                command: '',
                script_lang: localStorage.getItem('codemirror_lang') || 'shell',
                param: [{
                    paramNameEn: '',
                    paramNameZh: '',
                    type: '',
                    desc: '',
                    no: 0,
                    valueSet: [],
                    default: ''
                }],
               ret:[{
                    name:'',
                    desc:'',
                    value:''
               }]
            }
        },
        methods:{
            addParam:function(){
                this.formData.param.push({
                    paramNameEn: '',
                    paramNameZh: '',
                    type: '',
                    desc: '',
                    no: 0,
                    valueSet: [],
                    default: ''
                });
            },
            removeParam: function(index){
                this.formData.param.splice(index, 1);
            },
            addReturn:function(){
                this.formData.ret.push({
                    name:'',
                    desc:'',
                    value:''
                })
            },
            removeRet: function(index){
                this.formData.ret.splice(index, 1);
            },
            checkForm: function(){
                console.log(arguments.callee.name);
            },
            submit: function(){
                this.checkForm();
                var formData = this.formData;
                delete formData.ret
                var script_lang = formData.script_lang;
                if(!script_lang){
                    script_lang = "";
                }
                $.ajax({
                    type: "POST",
                    url: '../add/',
                    data:{"csrfmiddlewaretoken":'{{ csrf_token }}','name':formData.name,'infom':formData.infom,'tool_set_prime_type':formData.tool_set_prime_type,
                        'tool_set_type':formData.tool_set_type,'script_lang':script_lang,'command':editor.getValue(),'param':JSON.stringify(formData.param)},
                    error: function (request) {},
                    success: function (data) {
                        if(data.status==0){
                            location.href = '../list'
                        }else{
                            Alertwin.alert({ message: data.msg});
                        }
                    }
                });
            }
        }
    });
    if(localStorage.getItem('tools_info')){
        page.formData = JSON.parse(localStorage.getItem('tools_info'));
        localStorage.removeItem('tools_info');
    }

     $("#switch_checkbox").bootstrapSwitch("onSwitchChange",function(event,state) {
            var val = '';
           if(state){
               val = 'True';
           }else{
               val = 'False';
           }
            $('#is_enabled').val(val);
        });

     var initEditor = function(mode){
         mode = mode || 'shell';
         var modes = {
             shell: '#!/bin/sh',
             python:'#!/usr/bin/python',
             yaml: '---'
         };
         $.getScript('/static/hplus/codemirror/' + mode + '.js', function(){
            editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            styleActiveLine: true,
            matchBrackets: true,
              theme: 'eclipse'
          });
             editor.setValue(modes[mode]);
        });

     };
      var editor = null;
      initEditor(localStorage.getItem('codemirror_lang'));

    $('#changeMode').change(function(){
        var v = $(this).val();
        localStorage.setItem('codemirror_lang', v);
        page.formData.shell = editor.getValue();
        localStorage.setItem('tools_info', JSON.stringify( page.formData ));
        location.reload();
    });

    console.log(JSON.stringify( page.formData ));

    </script>
{% endblock %}