{% extends 'common/basic_layout.html' %}

{% block content %}
<script type="text/javascript" src=""></script>
	<link href="/static/hplus/css/zTree/bootstrapStyle.css" rel="stylesheet">
	<link href="/static/hplus/css/works/works.css" rel="stylesheet">
	<link href="/static/hplus/css/works/yum-font.css" rel="stylesheet">
	<link href="/static/hplus/css/devops_tools_add.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/hplus/codemirror/codemirror.css">
    <link rel="stylesheet" href="/static/hplus/codemirror/eclipse.css">
    <script src="/static/hplus/codemirror/codemirror.js"></script>
    <script src="/static/hplus/codemirror/active-line.js"></script>
    <script src="/static/hplus/codemirror/shell.js"></script>
    <script src="/static/hplus/js/works/vue.min.js"></script>

    <div class="wrapper wrapper-content fadeInRight" style="z-index: inherit">
        <div class="row addtoos">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>修改工具</h5>
                    </div>
                    <div class="ibox-content" id="tool_add">
                         <form class="form-horizontal" @submit.prevent="submit">
	                        <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="red">*</span> 工具名称</label>
	                            <div class="col-sm-10">
		                            <input type="text"  class="form-control text_ar" v-model="formData.name">
	                            </div>
                            </div>
	                        <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="red">*</span> 公用工具</label>
	                            <div class="col-sm-10">
		                             <div class="switch">
                                        <input type="checkbox" id="switch_checkbox" data-on-color="success" data-off-color="danger" checked data-on-text="是" data-off-text="否"/>
                                    </div>
                                    <input type="hidden" id="is_enabled" name="is_enabled" value="True"/>
	                            </div>
                            </div>
	                        <div class="form-group">
                                <label class="col-sm-2 control-label">执行环境</label>
	                            <div class="col-sm-10">
		                            <div class="radiogroup">
			                            <label>
				                            <input type="radio" name="infom" value="1" v-model="formData.infom"/>
				                            <span>控制机器</span>
			                            </label>

			                             <label>
				                            <input type="radio" name="infom" value="2" v-model="formData.infom"/>
				                             <span>远程机器</span>
			                            </label>
		                            </div>
	                            </div>
                            </div>

{#	                        <div class="form-group">#}
{#                                <label class="col-sm-2 control-label"> 工具命令</label>#}
{#	                            <div class="col-sm-10">#}
{#		                            <textarea  class="form-control text_ar" style="height: 70px" v-model="formData.command"></textarea>#}
{#	                            </div>#}
{#	                        </div>#}
                            <div class="form-group" style="display: none;">
                                <label class="col-sm-2 control-label"> 类别</label>
	                            <div class="col-sm-10">
		                            <select v-model="formData.tool_set_prime_type" class="form-control" style="width:20%">
                                        <option value="1" selected>原子</option>
                                    </select>
	                            </div>
	                        </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> 类型</label>
	                            <div class="col-sm-10">
		                           <select v-model="formData.tool_set_type" class="form-control" style="width:20%">
                                       <!--
                                       <option value="1">常用命令</option>
                                       <option value="2">上传文件</option>
                                       <option value="3">远程文件</option>
                                       <option value="4">脚本</option>
                                       -->
                                       <option value="5">自定义</option>
                                    </select>
	                            </div>
	                        </div>
	                        <div class="form-group">
                                <label class="col-sm-2 control-label"> 工具标签</label>
	                            <div class="col-sm-10">
		                            <input type="text"  class="form-control text_ar" v-model="formData.tag">
	                            </div>
	                        </div>
	                        <div class="form-group">
                                <label class="col-sm-2 control-label"> 协作者</label>
	                            <div class="col-sm-10">
		                            <input type="text"  class="form-control text_ar" v-model="formData.pattener">
	                            </div>
	                        </div>

	                        <div class="form-group">
                                <label class="col-sm-2 control-label">参数</label>
	                            <div class="col-sm-10">
		                            <div class="parmabox">

			                            <transition name="bounce">
		                                    <transition-group name="list" >
			                                <div v-for="(p,i) in formData.param" :key="i" class="boxbox clear1 form-inline ">
				                            <i class="yum-font icon-guanbi del" style="font-size: 12px" @click="removeParam(i)"></i>
				                            <div class="fl pabx">
											    <label><span class="red">*</span> 名称</label>
											    <input type="text" class="form-control" v-model="p.paramNameZh">
				                            </div>
				                            <div class="fl pabx">
											    <label ><span class="red">*</span> 类型</label>
					                            <select class="form-control" style="min-width: 150px" v-model="p.type">
                                                  <option value="text">字符</option>
                                                     <option value="select">单选</option>
                                                    <option value="multiple">多选</option>
                                                    <option value="path">PATH</option>
                                                  <!--
												  <option value="textshell">shell脚本</option>
                                                  <option value="select">下拉框</option>
                                                  <option value="file">文件上传</option>
                                                  <option value="number">数字</option>
                                                  -->
												</select>
				                            </div>

                                                <div class="fl pabx" v-if="p.type =='text'">
                                                        <label> 默认值</label>
                                                        <input class="form-control" style="width: 150px" v-model="p.value"/>
                                                    </div>
                                                <div class="fl pabx" v-if="p.type =='path'">
                                                        <label><span class="red">*</span> URL</label>
                                                        <input class="form-control" style="width: 150px" v-model="p.url"/>
                                                    </div>
				                            <div class="fl pabx">
											    <label ><span class="red">*</span> 描述</label>
                                                <textarea v-if="p.type=='select'||p.type=='multiple'" type="text" class="form-control" style="width: 250px" v-model="p.desc"></textarea>
                                                <input v-if="p.type=='text'||p.type=='path'" type="text" class="form-control" style="width: 250px" v-model="p.desc"/>
				                            </div>

				                             <div class="" style="display: block;width: 100%;clear: both;padding: 10px;" v-if="p.type === 'select'|| p.type === 'multiple'">
			                                    <hr style="margin: 5px 10px;">
		                                    </div>


				                            <div class="form-group" v-if="p.type === 'select' || p.type === 'multiple'" style="padding-left: 30px;padding-right: 30px">
	                                             <transition name="bounce">
				                                    <transition-group name="list" >
		                                                <div class="parmabox clear1" style="position: relative;" v-for="(vs, i) in p.valueSet" :key="i">
		                                                    <i class="yum-font icon-guanbi del" style="top:-10px;right:-10px;font-size: 12px; z-index: 10" @click="removeValueSet(p, i)"></i>

			                                                <div class="input-group">
														        <div class="input-group-addon" style="background: #efefef"><span class="red">*</span> 枚举值</div>
														        <input type="text" class="form-control"  v-model="vs.name">
				                                                <div class="input-group-addon " style="background: #efefef">描述</div>
				                                                <input type="text" class="form-control" v-model="vs.desc">
														    </div>

		                                                </div>
				                                    </transition-group>
	                                             </transition>
                                            </div>

				                                <div class="clear1 add_button col-sm-12 parmabox mj_btn" v-if="p.type === 'select'|| p.type === 'multiple'">
                                                <span @click="addValueSet(p)">+添加可选值</span>
                                            </div>



			                            </div>
		                                    </transition-group>
			                            </transition>

                                        <div class="clear1 add_button col-sm-12" @click="addParam" style="padding-left: 0px">
	                                        +添加参数
                                        </div>
		                            </div>

	                            </div>
	                        </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">版本</label>
	                            <div class="col-sm-10">
		                            <div class="parmabox">

			                             <transition name="bounce">
			                                    <transition-group name="list" >
						                            <div v-for="(p,i) in formData.version_yumc" :key="i" class="boxbox clear1 form-inline">
							                            <i class="yum-font icon-guanbi del" style="font-size: 12px" @click="removeVersions(i)"></i>
							                            <div class="fl pabx">
														    <label><span class="red">*</span></label>
														    <input type="text" class="form-control" v-model="formData.version_yumc[i]">
							                            </div>
                                                        <div class="fl" style="line-height:35px;padding-right:15px;">
                                                            $version_url:控制机路径, &nbsp;&nbsp;$version_yumc:svn版本号
                                                        </div>
						                            </div>
			                                    </transition-group>
			                             </transition>
                                        <div class="clear1 add_button" @click="addVersions" v-if="!formData.version_yumc.length">
	                                        +添加版本
                                        </div>
		                            </div>
	                            </div>
	                        </div>

                             <div class="form-group">
                                <label class="col-sm-2 control-label">JIRA</label>
	                            <div class="col-sm-10">
		                            <div class="parmabox">

			                             <transition name="bounce">
			                                    <transition-group name="list" >
						                            <div v-for="(p,i) in formData.jira_yumc" :key="i" class="boxbox clear1 form-inline">
							                            <i class="yum-font icon-guanbi del" style="font-size: 12px" @click="removeJiras(i)"></i>
							                            <div class="fl pabx">
														    <label><span class="red">*</span></label>
														    <input type="text" class="form-control" v-model="formData.jira_yumc[i]">
							                            </div>
                                                        <div class="fl" style="line-height:35px;padding-right:15px;">
                                                            $jira_yumc:JiraID
                                                        </div>
						                            </div>
			                                    </transition-group>
			                             </transition>
                                        <div class="clear1 add_button" @click="addJiras" v-if="!formData.jira_yumc.length">
	                                        +添加JiraID
                                        </div>
		                            </div>
	                            </div>
	                        </div>

                           <div class="form-group" v-if="formData.script_lang === 'yaml'" v-for="p in formData.param2">
                                <label class="col-sm-2 control-label" v-html="p.paramNameZh"></label>
	                            <div class="col-sm-10">
		                             <div class=" form-group col-sm-12 parmabox form-inline" >
                                         <div class="boxbox col-sm-12" v-if="p.valueSet.length">

	                                          <transition name="bounce">
		                                        <transition-group name="list" >
                                                    <div class="parmabox  clear1 " v-for="(vs, i) in p.valueSet" :key="i">
                                                <i class="yum-font icon-guanbi del" style="position:static;top:0;right:25px;font-size: 12px" @click="removeValueSet(p, i)"></i>
                                                <div class="fl pabx">
                                                    <label><span class="red">*</span> 可选tag值</label>
                                                    <input type="text" class="form-control" v-model="vs.name">
                                                </div>
                                                <div class="fl pabx">
                                                    <label><span class="red">*</span> 描述</label>
                                                    <input type="text" class="form-control" v-model="vs.desc">
                                                </div>
                                            </div>
		                                        </transition-group>
	                                          </transition>
                                         </div>
                                        <div class="clear1 add_button col-sm-12 parmabox" @click="addValueSet(p)">
                                            +添加可选tag值
                                        </div>
                                    </div>
	                            </div>
	                        </div>

 <div class="form-group" v-if="formData.script_lang === 'yaml'" v-for="p in formData.param3">
                                <label class="col-sm-2 control-label" v-html="p.paramNameZh"></label>
	                            <div class="col-sm-10">
		                             <div class=" form-group col-sm-12 parmabox form-inline" >


                                         <div class="boxbox col-sm-12"  v-if="p.valueSet.length">
	                                          <transition name="bounce">
			                                    <transition-group name="list" >
		                                            <div class="parmabox  clear1 " v-for="(vs, i) in p.valueSet" :key="i">
		                                                <i class="yum-font icon-guanbi del" style="position:static;top:0;right:25px;font-size: 12px" @click="removeValueSet(p, i)"></i>
		                                                <div class="fl pabx">
		                                                    <label><span class="red">*</span> 可选值</label>
		                                                    <input type="text" class="form-control" v-model="vs.name">
		                                                </div>
		                                                <div class="fl pabx">
		                                                    <label><span class="red">*</span> 描述</label>
		                                                    <input type="text" class="form-control" v-model="vs.desc">
		                                                </div>
		                                            </div>
			                                     </transition-group>
			                                    </transition>
                                         </div>

                                        <div class="clear1 add_button col-sm-12 parmabox" @click="addValueSet(p)">
                                            +添加可选值
                                        </div>
                                    </div>
	                            </div>
	                        </div>

	                        <div class="form-group" v-if="formData.script_lang !== 'yaml'">
                                <label class="col-sm-2 control-label">返回值</label>
	                            <div class="col-sm-10">
		                            <div class="parmabox">
			                             <transition name="bounce">
		                                    <transition-group name="list" >
			                                    <div v-for="(r, i) in formData.ret" :key="i" class="boxbox clear1 form-inline">
				                            <i class="yum-font icon-guanbi del" style="font-size: 12px" @click="removeRet(i)"></i>
				                            <div class="fl pabx">
											    <label>名称</label>
											    <input type="text" class="form-control">
				                            </div>
				                            <div class="fl pabx">
											    <label >类型</label>
					                            <select class="form-control" style="min-width: 80px">
												  <option>1</option>
												  <option>2</option>
												  <option>3</option>
												  <option>4</option>
												  <option>5</option>
												</select>
				                            </div>

				                            <div class="fl pabx">
											    <label >描述</label>
					                             <input type="text" class="form-control">
				                            </div>
			                            </div>
		                                    </transition-group>
			                             </transition>

			                            <div class="clear1 add_button" @click="addReturn">
				                            +添加返回值
			                            </div>

		                            </div>

	                            </div>
	                        </div>

	                        <div class="form-group">
                                <label class="col-sm-2 control-label">脚本</label>
	                            <div class="col-sm-10 shellbox">
                                    <p class="col-sm-12 shellselect" >
                                        脚本语言:
	                                    <select id="changeMode" v-model="formData.script_lang">
                                            <option value="shell">shell</option>
		                                    <option value="python">python</option>
                                            <option value="yaml">yaml</option>
                                        </select>
                                    </p>
		                                <textarea id="code" name="code"  style="display: none;"></textarea>
	                            </div>
	                        </div>
	                        <div class="form-group">
							    <div class="col-sm-offset-1 col-sm-10 btnbox_g">
								    <div class="btnboxfxd">
									    <button type="submit" class="btn btn-primary">提交</button>
								    </div>


							    </div>
							  </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	{% include 'autotextheight.html' %}



    <script>



    $(window).scroll(function(){
        var height = $(this).scrollTop();
        if(height>370){
            $('.btnbox_g').addClass('fixedbtn')
        }else{
            $('.btnbox_g').removeClass('fixedbtn')
        }
    })
    var True = true;
    var False = false;
    var page = new Vue({
        el:'#tool_add',
        data: {
           formData:{
                id: {{ result_dict.id }},
                name: '{{ result_dict.name }}',
                //tool_set_prime_type:  result_dict.tool_set_prime_type }},
                tool_set_type: {{ result_dict.tool_type }},
                filename:'{{ result_dict.filename }}',
                script_md5:'{{ result_dict.script_md5 }}',
                version_yumc:[
                    {% for p in result_dict.param %}
                        {% if p.type == 'version' %}
                        '{{ p.value }}',
                        {% endif %}
                    {% endfor %}
                ],
                jira_yumc:[
                    {% for p in result_dict.param %}
                        {% if p.paramNameZh == 'jira_yumc' %}
                        '{{ p.value }}',
                        {% endif %}
                    {% endfor %}
                ],
                infom:{{ result_dict.infom }},
{#                command: '{{ result_dict.command }}',#}
                script_lang: localStorage.getItem('codemirror_lang') ||  '{{ result_dict.script_lang }}',
                param: [
                {% for p in result_dict.param %}
                {% if p.paramNameZh != 'tags' and p.paramNameZh != 'skip-tags' and p.paramNameZh != 'jira_yumc' and p.type != 'version' and p.paramNameZh != 'limit'%}
                {
                    paramNameEn: '{{ p.paramNameEn }}',
                    paramNameZh: '{{ p.paramNameZh }}',
                    type: '{{ p.type }}',
                    desc: '{{ p.desc|replace_to_nr }}',
                    no: '{{ p.no }}',
                    valueSet: {{ p.valueSet|safe }},
                    default: '{{ p.default }}'
                },
                {% endif %}
                {% endfor %}
               ],
               param2:[
                {% for p in result_dict.param %}
                {% if p.paramNameZh == 'tags' or p.paramNameZh == 'skip-tags'%}
                {
                    paramNameEn: '{{ p.paramNameEn }}',
                    paramNameZh: '{{ p.paramNameZh }}',
                    type: '{{ p.type }}',
                    desc: '{{ p.desc|safe }}',
                    no: '{{ p.no }}',
                    valueSet: {{ p.valueSet|safe }},
                    default: '{{ p.default }}'
                },
                {% endif %}
                {% endfor %}
               ],
                param3:[
                {% for p in result_dict.param %}
                {% if p.paramNameZh == 'limit' %}
                {
                    paramNameEn: '{{ p.paramNameEn }}',
                    paramNameZh: '{{ p.paramNameZh }}',
                    type: '{{ p.type }}',
                    desc: '{{ p.desc|safe }}',
                    no: '{{ p.no }}',
                    valueSet: {{ p.valueSet|safe }},
                    default: '{{ p.default }}'
                },
                {% endif %}
                {% endfor %}
               ],
               ret:[]
            }
        },
        methods:{
            addValueSet:function(obj){
                obj.valueSet.push({
                    name:'',
                    desc:''
                });
            },
            removeValueSet:function(obj, i){
                obj.valueSet.splice(i, 1);
            },
            addParam:function(){
                this.formData.param.push({
                    paramNameEn: '',
                    paramNameZh: '',
                    type: 'text',
                    desc: '',
                    no: 0,
                    valueSet: [],
                    default: ''
                });
            },
            addVersions:function(){
                this.formData.version_yumc.push('');
            },
            removeVersions: function(index){
                this.formData.version_yumc.splice(index, 1);
            },
             addJiras:function(){
            this.formData.jira_yumc.push('');
            },
            removeJiras: function(index){
                this.formData.jira_yumc.splice(index, 1);
            },
            removeParam: function(index){
                this.formData.param.splice(index, 1);
            },
            addReturn:function(){
                this.formData.ret.push({
                    name:'',
                    desc:'',
                    value:''
                })
            },
            removeRet: function(index){
                this.formData.ret.splice(index, 1);
            },
            checkForm: function(){
                console.log(arguments.callee.name);
            },
            submit: function(){
                this.checkForm();
                var formData = JSON.parse(JSON.stringify(this.formData)) ;

                if(!formData.param.every(function(item){
                    return  !!item.desc ;
                })){
                    Alertwin.alert({ message: '请输入描述信息'});
                    return;
                }
                 if(formData.param2.length && !formData.param2[0].valueSet.every(function(item){
                    return !!item.desc;
                })){
                    Alertwin.alert({ message: '请输入tags描述信息'});
                    return;
                }

                if(formData.param2.length && formData.script_lang == 'yaml'){
                    formData.param2[0].paramNameZh = 'tags';
                    formData.param2.push(Object.assign({}, formData.param2[0]));
                    formData.param2[1].paramNameZh = 'skip-tags';

                    formData.param = formData.param.concat(formData.param2);
                }
                if(formData.param3.length && formData.script_lang == 'yaml'){
                    formData.param = formData.param.concat(formData.param3);
                }
                if(formData.version_yumc.length){
                    var ver = formData.version_yumc[0];
                    formData.param.push({
                        paramNameEn: '',
                        paramNameZh: 'version_yumc',
                        type: 'version',
                        desc: '',
                        no: 0,
                        value: ver,
                        valueSet: [],
                        default: ''
                    })
                }
               if(formData.jira_yumc.length){
                    var ver = formData.jira_yumc[0];
                    formData.param.push({
                        paramNameEn: '',
                        paramNameZh: 'jira_yumc',
                        type: 'text',
                        desc: '',
                        no: 0,
                        value: ver,
                        valueSet: [],
                        default: ''
                    })
                }
                delete formData.version_yumc;
                delete formData.jira_yumc;
                delete formData.ret;
                delete formData.param2;
                delete formData.param3;
                var script_lang = formData.script_lang;
                if(!script_lang){
                    script_lang = "";
                }
                $.ajax({
                    type: "POST",
                    url: '../edit/',
                    data:{"csrfmiddlewaretoken":'{{ csrf_token }}','id':{{ result_dict.id }},'name':formData.name,'tool_set_prime_type':formData.tool_set_prime_type,
                        'tool_set_type':formData.tool_set_type,'script_lang':script_lang,'command':editor.getValue(),'param':JSON.stringify(formData.param),
                        'filename':formData.filename,'script_md5':formData.script_md5},
                    error: function (request) {},
                    success: function (data) {
                        if(data.status==0){
                            location.href = '../../list'
                        }else{
                            Alertwin.alert({ message: data.msg});
                        }
                    }
                });
            }
        }
    });

     $("#switch_checkbox").bootstrapSwitch("onSwitchChange",function(event,state) {
            var val = '';
           if(state){
               val = 'True';
           }else{
               val = 'False';
           }
            $('#is_enabled').val(val);
     });

     var initEditor = function(mode){
         mode = mode || 'shell';
         var modes = {
             shell: '#!/bin/sh\n',
             python:'#!/usr/bin/python',
             yaml: '---\n' +
             '- hosts: \'{% verbatim %}{{ hosts }}{% endverbatim %}\'\n' +
             '  remote_user: root'
         };
         $.getScript('/static/hplus/codemirror/' + mode + '.js', function(){
            editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            styleActiveLine: true,
            matchBrackets: true,
              theme: 'eclipse'
          });
             editor.setValue(modes[mode]);
        });

     };

      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        styleActiveLine: true,
        matchBrackets: true,
          theme: 'eclipse'
      });
    editor.setValue('#!/bin/sh');
    editor.setValue("{{ result_dict.command|safe }}");
    if(page.formData.script_lang === 'yaml'){
        if(!page.formData.param2.length){
            page.formData.param2 = [
                {
                    paramNameEn: '',
                    paramNameZh: 'tags/skip-tags',
                    type: 'multiple',
                    desc: '',
                    no: 0,
                    valueSet: [],
                    default: ''
                }
            ]
        }
    }else{
        page.formData.param2 = [];
    }
    if(page.formData.script_lang === 'yaml'){
        if(!page.formData.param3.length){
            page.formData.param3 = [
                {
                    paramNameEn: '',
                    paramNameZh: 'limit',
                    type: 'multiple',
                    desc: '',
                    no: 0,
                    valueSet: [],
                    default: ''
                }
            ]
        }
    }else{
        page.formData.param3 = [];
    }
    $('#changeMode').change(function(){
        var v = $(this).val();
        page.formData.script_lang = v;
        localStorage.setItem('codemirror_lang', v);
        page.formData.shell = editor.getValue();
        localStorage.setItem('tools_info', JSON.stringify( page.formData ));
        location.reload();
    });

    console.log(editor.getValue());
    console.log(JSON.stringify( page.formData ));
    if(page.formData.param2.length){
        page.formData.param2.splice(1,1);
        page.formData.param2[0].paramNameZh = 'tags/skip-tags';
    }

    </script>
{% endblock %}