{% extends 'common/basic_layout.html' %}

{% block content %}
<div class="wrapper wrapper-content animated " style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="col-sm-12" style="height: 100%;">
            <div class="ibox float-e-margins" style="height: 100%;">
                <div class="ibox-title" style="height: 5%;">
                    <h5>{{ name }}   历史版本记录</h5>
                </div>
                <div class="ibox-content" style="height: 95%;">
                    <div class="row" style="height: 100%;">
                        <div class="col-sm-3" style="border-style: groove;height: 100%;" >
                            <div class="row" style="height: 95%;">
                                <table id="executeRecordListTb" class="table table-striped table-bordered table-hover dataTables-example dataTable">
                                    <thead>
                                        <tr>
                                            <th width="20%">版本</th>
                                            <th width="20%">修改人</th>
                                            <th width="60%">修改时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for v in results %}
                                            <tr>
                                                <td  style="height:20px">
                                                    <a href="javascript:void(0)" onclick="showToolHistoryInfo({{ v.id }},'{{ v.command }}')">{{ v.tool_version }}</a>
                                                    <input id="hid_param{{ v.id }}" type="hidden" value="{{ v.param }}">
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)" onclick="showToolHistoryInfo({{ v.id }},'{{ v.command }}')">{{ v.updated_by }}</a>
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)" onclick="showToolHistoryInfo({{ v.id }},'{{ v.command }}')">{{ v.update_time }}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-9" style="border-style: groove;height: 100%;">
                            <div id="div_param" class="row" style="height:30%;">
                                <table id="tb_param" class="table table-striped table-bordered table-hover dataTables-example dataTable">
                                    <thead>
                                        <th>
                                            <td style="width: 15%">名称</td>
                                            <td style="width: 85%">值</td>
                                        </th>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="row" style="height:70%;">
                                <textarea id="code" style="width: 100%;height: 100%;resize:none;" readonly="readonly"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showToolHistoryInfo(id,command){
        var param = $("#hid_param"+id).val();
        if(param){
            param = JSON.parse(param)
            var tb_param = $("tb_param tbody");
            tb_param.empty()
            $(param).each(function(i,item){
                var valueSet = item.valueSet;
                var value = "";
                if(valueSet){
                    $(valueSet).each(function(i2,item2){
                        value += item2.name+",";
                    })
                }else{
                    value = item.value;
                }
                value = value.substring(0,value.length)
                var tbody_tr_str = "<tr><td>"+item.paramNameZh+"</td><td>"+value+"</td></tr>";
                tb_param.append(tbody_tr_str);
            })
        }
        $.ajax({
            type: "POST",
            url: '../gethistoryversionbytoolId/',
            data:{"command":command,"csrfmiddlewaretoken":'{{ csrf_token }}'},
            error: function (request) {},
            success: function (data) {
                var code = $("#code");
                code.empty();
                if(data.status == 200){
                    code.append(data.data)
                }
            }
        });
    }
</script>
{% endblock %}