{% extends 'common/basic_layout.html' %}

{% block content %}
    <script type="text/javascript" src=""></script>

    <div class="wrapper wrapper-content fadeInRight" style="z-index: inherit">
        <div class="row addtoos">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>新增Pre Srb</h5>
                    </div>
                    <div class="ibox-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}