{% extends 'common/basic_rank_list.html' %}
{% load widget_tweaks %}

{% block list_title %}
    ansible操作日志
{% endblock %}

{% block  list_search %}
    <div class="col-sm-2">
        <input type="text" id="name" name="name" class="form-control m-b" placeholder="名称" />
    </div>
{% endblock %}

{% block list_filter %}
    <div class="col-sm-6">
        <div class="input-group">
            <button type="submit" class="btn btn-sm btn-primary" style="margin-right: 10px"><i class="fa fa-search"></i> 搜索</button>
        </div>
    </div>
{% endblock %}

{% block list_content %}
    <table id="tb" class="table table-striped table-bordered table-hover dataTables-example dataTable">
        <thead>
            <th style="width:3%;"><input id="checkall" type="checkbox" class="i-checks"></th>
            <th style="width: 25%;">
                模式
            </th>
            <th style="width: 20%;">
                操作人
            </th>
            <th style="width: 20%;">
                操作时间
            </th>
            <th style="width: 10%;">
                操作
            </th>
        </thead>
        <tbody>
        {% for o in result_list %}
            <tr>
                <td>
                    <input type="checkbox" class="i-checks icheck" id="{{ o.id }}" name="trCheckbox">
                </td>
                <td>{{ o.module }}</td>
                <td>{{ o.executor }}</td>
                <td>{{ o.record_time }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-success" data-toggle='modal' data-target='#logs_info_modal' style="margin-right: 10px"><i class="glyphicon glyphicon-edit"></i> 查看</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% block modal_div %}
    <div class="modal fade" id="logs_info_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 1000px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">日志详情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 500px;overflow:auto">
                    <div class="row">
                        <div class="col-sm-3">aa</div>
                        <div class="col-sm-9">11</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script>


</script>
{% endblock %}