{% extends 'common/basic_layout.html' %}


{% block content %}
	<link href="/static/hplus/css/zTree/bootstrapStyle.css" rel="stylesheet">
	<script type="text/javascript" src="/static/hplus/js/works/vue.min.js"></script>

	<link href="/static/hplus/css/works/yum-font.css" rel="stylesheet">


	<script type="text/javascript" src="/static/hplus/js/works/components/vue-select.js"></script>
	<script type="text/javascript" src="/static/hplus/js/zTree/jquery.ztree.core.js"></script>
	<script type="text/javascript" src="/static/hplus/js/zTree/jquery.ztree.excheck.js"></script>
	<script type="text/javascript" src="/static/hplus/js/zTree/jquery.ztree.exedit.js"></script>



	{% include 'autotextheight.html' %}
	<style>
	.ztree li ul{
		padding: 0 0 0 10px;
	}
	.ibox-content{
		padding: 0px 0px 0px 0px;
	}
	</style>
	<div class="wrapper wrapper-content fadeInRight" style="z-index: inherit">
	    <div class="row addtoos">
	        <div class="col-sm-12">
	            <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Ansible管理</h5>
	                </div>
	                <div class="ibox-content" id="ansibleApp">
		                <div class="treebox clear1">
				                <h4 class="clear">动态主机</h4>
				                <div class="row" >
					                 <div class="col-md-6" style="max-height: 400px;overflow:auto; border-right:1px solid #fefefe">
						                 <ul id="host_group_tree" name="host_group_tree" class="ztree" style="padding:0px"></ul>
					                 </div>
					                <div class="col-md-6">
						                <div  style="max-height: 360px;overflow:auto;padding-top:10px">

							                <table id="hostIpTb" class="table table-striped table-bordered table-hover dataTables-example dataTable">
						                      <thead>
						                        <tr>
						                            <th style="width:5%;"><input id="checkall" type="checkbox" class="i-checks"></th>
						                            <th>IP<span id="hostIpBadge" class="badge" style="margin-left: 20px;background-color: green;color: white">总：0台</span></th>
						                        </tr>
						                      </thead>
						                      <tbody></tbody>
						                  </table>
						                </div>
						                <div class="input-group" style="margin-top: 5px">
					                          <select id="host_go_live" class="form-control">
					                              <option value="2" selected>待上线主机</option>
					                              <option value="3">已上线主机</option>
					                          </select>
					                          <span class="input-group-btn">
					                              <button type="button" class="btn btn-primary" onclick="queryHostIp()">查询</button>
					                          </span>
					                      </div>
					                </div>
				                </div>
			                </div>
		                <div class="formbox_asb">
			                <div class="form-horizontal">
							  <div class="form-group">
							    <label for="inputEmail3" class="col-sm-3 control-label" style="text-align: left">模块类型</label>
							    <div class="col-sm-9">
								     <v-select
										     @input="changeSelectModule(post.moduleType)"
										     placeholder="请选择模块类型"
										     v-model="post.moduleType"
										     :options="moduleList"></v-select>
							    </div>
							  </div>
				                 <transition name="scale">
							          <div class="form-group" v-if="isCustom">
									    <label for="inputPassword3" class="col-sm-3 control-label" style="text-align: left">自定义模块</label>
									    <div class="col-sm-9">
									      <input type="text" v-model="post.costomModuleName" class="form-control" id="inputPassword3" placeholder="模块名称">
									    </div>
									  </div>
						        </transition>
							  <div class="form-group" style="border: 1px solid #eee;margin: 0px;padding: 5px 10px;margin-bottom: 15px;background: #fefefe;">
							    <label class="col-sm-12 control-label" style="padding-top: 0px;text-align: left;margin-bottom: 10px;text-align: left;padding: 0px;">模块参数</label>
							    <div class="col-sm-12" style="padding: 0px;">
								    <textarea class="form-control scriptarea" :placeholder="modulePlaceholder" v-model="post.moduleValue" id="textarea" contenteditable="true"></textarea>
							    </div>
							  </div>
				               <div class="form-group">
							    <label for="inputPassword3" class="col-sm-3 control-label" style="text-align: left">详细结果</label>
							    <div class="col-sm-9">
								    <select v-model="post.info" class="form-control">
									    <option value="">请选择</option>
									    <option value="1">v</option>
									    <option value="2">vv</option>
									    <option value="4">vvvv</option>
								    </select>
							    </div>
							  </div>
				               <div class="form-group">
							    <label for="inputPassword3" class="col-sm-3 control-label" style="text-align: left">Debug</label>
							    <div class="col-sm-9">
								    <select v-model="post.debug" class="form-control" :disabled="post.info.length>0">
									    <option :value="true">是</option>
									    <option :value="false">否</option>
								    </select>
							    </div>
							  </div>
							  <div class="form-group">
							    <div class="col-sm-offset-3 col-sm-9">
							      <button class="btn btn-primary" @click="postSend" :disabled="disabled"> 执行 </button>
							    </div>
							  </div>
							</div>
		                </div>
		                <div class="logbox">
			                <i class="ico yum-font icon-suofang"></i>
			                <pre v-html="log" style="background: none;border: none;color:#ADFF2F; font-size: 12px"></pre>
		                </div>
		                <div style="clear: both; display: block; overflow: hidden"></div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<script>
		Vue.component('v-select', VueSelect.default);
		//console.log(VueSelect);
		var ansibleVm = new Vue({
			el:"#ansibleApp",
			data:{
				moduleList:[
				    'ping',
					'raw',
					'yum',
					'copy',
					'service',
					'file',
					'user',
					'sync',
					'cron',
					'wget',
					'自定义'
				],
				post:{
				    moduleType:"ping",
					moduleValue:'',
					info:'',
					debug:false,
					costomModuleName:''
				},
				log:'',
				modulePlaceholder:'',
				isCustom:false,
				disabled:false,
			},
			methods:{
			    changeSelectModule:function(val){
			        switch (val){
			            case 'ping':
				            this.modulePlaceholder='';this.post.isCustom=false;break;
				        case 'raw':
				            this.modulePlaceholder='uptime' ;this.post.isCustom=false ;break;
				        case 'yum':
				            this.modulePlaceholder='name=httpd state=present';this.post.isCustom=false;break;
				        case 'copy':
				            this.modulePlaceholder='src=/root/test.txt dest=/tmp/test.txt';this.post.isCustom=false;break;
				        case 'service':
				            this.modulePlaceholder='name=httpd state=restarted enabled=yes';this.post.isCustom=false;break;
				        case 'file':
				            this.modulePlaceholder='src=/root/test.txt dest=/tmp/test.txt owner=root group=root mode=700 state=touch';this.post.isCustom=false;break;
				        case 'user':
				            this.modulePlaceholder='name=welliam password=\'$6yshUMNL8dhY\'';this.post.isCustom=false;break;
				        case 'sync':
				            this.modulePlaceholder='src=/root/a dest=/tmp/ compress=yes rsync_opts="--exclude=.git --exclude=static/image"';this.post.isCustom=false;break;
				        case 'cron':
				            this.modulePlaceholder='name="sync time" minute=*/3 hour=* day=* month=* weekday=* job="/usr/sbin/ntpdate window.time.com"';this.post.isCustom=false;break;
				        case 'wget':
				            this.modulePlaceholder='url=http://url/test.tar.gz dest=/tmp';this.post.isCustom=false;break;
				        case '自定义':
				            this.modulePlaceholder='';
					        this.post.isCustom=true;
					        break;
				        default :this.post.isCustom=false;break;

			        }
			    },
				postSend:function(){

			        {#console.log( determineSelectHost())#}

					this.post.tree = determineSelectHost();

			        //console.log(this.post);

			        var _this = this;
                    var reqData = {}
                    var group_id = this.post.tree.group_id;
                    if(!group_id){
                        Alertwin.alert({message:"未勾选机器组或机器"});
                        return;
                    }
                    var target_type = this.post.tree.target_type;
                    reqData['target_type'] = target_type;
                    if(target_type == 1){
                        reqData['go_live'] = this.post.tree.go_live;
                        reqData['group_id'] = group_id;
                    }else{
                        reqData['target_host_list'] = this.post.tree.target_host_list.join(',');
                    }
                    reqData['module'] = this.post.moduleType;
                    reqData['args'] = this.post.moduleValue;
                    reqData['verbose'] = this.post.info;
                    reqData['debug'] = this.post.debug;

                    this.log="服务器正在处理，请稍后...";
                    this.disabled=true;

                    {#layer.load();#}
                    $.ajax({
                        type : 'POST',
                        url: '/platform/ansible/mge/',
                        data:{"runJson":JSON.stringify(reqData),"csrfmiddlewaretoken":'{{ csrf_token }}'},
                        success : function(response) {
                            _this.disabled=false;
                            layer.closeAll('loading');
                            if(response.status == 0){
                                var logStr = "";
                                var data = response.data;
                                for(var k in data){
                                    var data2 = data[k];
                                    if(JSON.stringify(data2) != "{}"){
                                        logStr +="-----------------------------------"+k+"-----------------------------------\r\n";
                                        for(var k2 in data2){
                                            logStr += data2[k2].replace(/\\r/g,'\r').replace(/\\n/g,'\n');
                                        }
                                        logStr +="\r\n--------------------------------------------------------------------------------\r\n";
                                    }
                                }
                                _this.log = logStr;
                            }else{
                                Alertwin.alert({message:response.msg});
                            }
                        },
                        error : function(response) {
                            _this.disabled=false;
                            layer.closeAll('loading');
                            console.log(response);
                        }
                    });
				}
			}
		})
	</script>


{% include 'treejs.html' %}
{% endblock %}