{% extends 'common/basic_layout.html' %}

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight" style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="col-sm-12" style="height: 100%;">
            <div class="ibox float-e-margins" style="height: 100%;">
                <div class="ibox-title" style="height: 5%;">
                    <h5>{{ name }}   执行日志</h5>
                </div>
                <div class="ibox-content" style="height: 95%;">
                    <div class="row" style="height: 100%;">
                        <div class="col-sm-2" style="border-style: groove;height: 100%;" >
                            <div class="row" style="height: 5%;">
                                <label class="control-label"> 执行历史</label>
                            </div>
                            <div class="row" style="height: 95%;">
                                <table style="width: 100%;max-height: 100%;text-align:center;overflow-y: auto; ">
                                    {% if job_id %}
{#                                        <tr>#}
{#                                            <td style="height:20px">#}
{#                                                <a href="javascript:void(0)" onclick="initInterval()" >当前日志</a>#}
{#                                            </td>#}
{#                                        </tr>#}
                                    {% endif %}
                                    {% for history in list_history %}
                                        <tr>
                                            <td style="height:20px">
                                                <a href="javascript:void(0)" onclick="showLogInfo({{ history.job_id }})" >
                                                    {% if history.status == 2 %}
                                                        <span id="{{ history.job_id }}" class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green"></span>
                                                    {% endif %}
                                                    {% if history.status == 3 %}
                                                        <span id="{{ history.job_id }}" class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red"></span>
                                                    {% endif %}
                                                    {% if history.status == 1 %}
                                                        <span id="{{ history.job_id }}" class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                                    {% endif %}
                                                    {{ history.start_time }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-10" style="border-style: groove;height: 100%;">
                           <div class="row" style="height: 5%;">
                                <label class="col-sm-2 control-label"> 执行日志</label>
                               <input id="command_set_id" type="hidden" value="{{ set_id }}"/>
                               <input id="command_job_id" type="hidden" value="{{ job_id }}"/>
                           </div>
                           <div class="row" style="height: 95%;">
                               <textarea style="width: 100%;height: 95%;resize: none;background: black;font: caption;color: white;" id="textarea_log" readonly value=""></textarea>
                               <img id="log_modal_img" src="/static/hplus/img/5-121204194103.gif">
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var sh = null;
    $(document).ready(function () {
        initInterval();
    })
    function initInterval(){
        get_job_output();
        clearInterval(sh);
        sh = null;
        sh = setInterval(get_job_output,3000);
    }

    function get_job_output(){
        var job_id = $("#command_job_id").val()
        if(job_id){
            $.ajax({
                  type: "GET",
                  url: '../getExecLog',
                  data:{"jobId":job_id},
                  error: function (request) {
                      clearInterval(sh);
                      sh = null;
                  },
                  success: function (data) {
                     var jsonObj = data.log_info;
                     var textArea = $("#textarea_log");
                     textArea.text("");
                     if(jsonObj){
                        var steps = jsonObj["command_steps"]
                         $(steps).each(function(i,item){
                             textArea.append("----------------------------------------------------------------"+item.name+"-----------------------------------------------------------------\n");
                             var lines = item["command_lines"];
                             var success_count = 0;
                             var fail_count = 0;
                             $(lines).each(function(i2,item2){
                                success_count = item2['success_count'];
                                fail_count = item2['fail_count'];
                                textArea.append(item2["result_message"]);
                                textArea.append("\n***********************\n")
                             })
                             textArea.append("成功："+success_count+"台    失败："+fail_count+"台\n");
                             textArea.append("----------------------------------------------------------------------------------------------------------------------------------------------\n");
                         })
                     }
                     var status = jsonObj["status"];
                     if(status != 1){
                         var classStr = "";
                         var span = $("#"+jsonObj['job_id']).removeClass();
                        if(status == 2){
                            span.addClass("glyphicon glyphicon-ok");
                            span.css({'color':'green'});
                        }else{
                            span.addClass("glyphicon glyphicon-remove");
                            span.css({'color':'red'});
                        }
                        $("#"+jsonObj['job_id']).addClass(classStr);
                        clearInterval(sh);
                        $("#log_modal_img").hide();
                        sh = null;
                     }
                  }
            });
        }else{
            clearInterval(sh);
            $("#log_modal_img").hide();
            sh = null;
        }
    }

    function showLogInfo(jobId){
         clearInterval(sh);
         $("#log_modal_img").hide();
         sh = null;
        $.ajax({
            type: "GET",
            url: '../getExecLog',
            data:{"jobId":jobId},
            error: function (request) {},
            success: function (data) {
                var jsonObj = data.log_info;
                var textArea = $("#textarea_log");
                textArea.text("");
                if(jsonObj){
                    var steps = jsonObj["command_steps"]
                     $(steps).each(function(i,item){
                         textArea.append("----------------------------------------------------------------"+item.name+"-----------------------------------------------------------------\n");
                         var lines = item["command_lines"]
                         var success_count = 0;
                         var fail_count = 0;
                         $(lines).each(function(i2,item2){
                            success_count = item2['success_count'];
                            fail_count = item2['fail_count'];
                            textArea.append(item2["result_message"]);
                            textArea.append("\n***********************\n")
                         })
                         textArea.append("成功："+success_count+"台    失败："+fail_count+"台\n");
                         textArea.append("----------------------------------------------------------------------------------------------------------------------------------------------\n");
                     })
                }
            }
        });
    }
</script>
{% endblock %}