<style>
    .wrap {
        /* margin: 10px auto; */
            padding: 2px;
            border: 1px solid #ccc;
            overflow: auto;
            overflow-x: hidden;
            position: relative;
        }
   .wrap ul {
            padding: 0;
            margin: 0;
        }

   .wrap li {
        /*padding: 5px;*/
        margin-top: 2px;
        border: 1px solid #ccc;
        /*border-bottom: 1px solid #ccc; */
        font: 14px/1.5 "微软雅黑";
        list-style: none;
        cursor: move;
    }

    li:hover {
        background-color: #f6f6f6;
    }

    .parent{
        /*position: absolute;*/
        width: 42px;
        height: 42px;
    }
    .parent .text{
        display: inline-block;
        transform: rotate(-45deg);
        position: absolute;
        /*padding: 20px; */
        color: #fff;
        padding-left: 0px;
        z-index: 100;
    }
    .triangle-topleft{
        width: 0;
        height: 0;
        /*border-top: 42px solid #0d8ddb;
        position: absolute; */
        border-right: 42px solid transparent;
        top: 0;
        z-index: 5;
    }

</style>

<div class="form-group">
     <label class="col-sm-2 control-label" style="width: 10%"> 步骤配置</label>
     <div class="col-sm-10" style="width: 85%">
        <div id="step_div" class="wrap">
            <ul></ul>
        </div>
        <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增步骤 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0);" onclick="add_step_file_type()">文件传输</a></li>
                <li><a href="javascript:void(0);" onclick="add_step_Script_type()">脚本命令</a></li>
              </ul>
        </div>
     </div>
 </div>

<script>
    $(document).ready(function () {
        add_step_Script_type();

        $('#step_div').DDSort({
             target: 'li',		// 示例而用，默认即 li，
             delay: 100,         // 延时处理，默认为 50 ms，防止手抖点击 A 链接无效
             floatStyle: {
                 'border': '1px solid #ccc',
                 'background-color': '#fff'
             }
        });
    });


    //添加步骤相关脚本 开始
    function renderFileElement(fileId){
        $("#"+fileId).fileinput({
            showPreview: false,
            showUpload: false,
            elErrorContainer: '#kartik-file-errors',
            //allowedFileExtensions: ['sh', 'py', 'gz','zip'],
            maxFilesNum:1,
            //msgFilesTooLess:'test.sh',
            language:'zh',
            uploadExtraData:''
        });
    }

    function add_step_Script_type(){
        var generateId = new Date().valueOf();

        var script_html = "<li tag='0' gid='"+generateId+"'>\n" +
        "                    <div class='panel' style='margin-bottom:0px'>\n" +
        "                        <div class='panel-heading' style='background-color: #00d95a;padding: 0px 0px;height: 42px'>\n" +
        "                            <table width='100%' height='100%'>\n" +
        "                                <tr>\n" +
        "                                    <td width='8%'>\n" +
        "                                        <div class='parent'>\n" +
        "                                            <span class='text'>脚本</span>\n" +
        "                                            <div class='triangle-topleft' style='border-top: 42px solid #C52727;'></div>\n" +
        "                                        </div>\n" +
        "                                    </td>\n" +
        "                                    <td width='10%'>命令脚本</td>\n" +
        "                                    <td width='50%'>" +
        "                                        <input type='text' id='stepName"+generateId+"' value='' class='form-control' style='width: 40%' placeholder='步骤名称'/>" +
        "                                        <input type='hidden' id='selectHostValue"+generateId+"' tabName='' tabType='' value=''/>"+
        "                                    </td>\n" +
        "                                    <td width='32%'>\n" +
        "                                        <button type='button' class='btn btn-sm btn-warning' data-toggle='modal' data-gid='"+generateId+"' data-target='#select_host_modal' style='margin-top: 5px;margin-right: 10px'>选机器</button>\n" +
        "                                        <a data-toggle='collapse' data-parent='' href='#step"+generateId+"' class='btn btn-sm btn-warning' style='margin-top: 5px;margin-right: 10px'><i class='fa fa-chevron-down'></i> 展开</a>\n" +
        "                                        <a href='javascript:void(0);' class='btn  btn-sm btn-danger' style='margin-top: 5px;margin-right: 10px' onclick='delStepNode(this)'><i class='fa fa-trash'></i> 删除</a>\n" +
        "                                    </td>\n" +
        "                                </tr>\n" +
        "                            </table>\n" +
        "                        </div>\n" +
        "                        <div id='step"+generateId+"' class='panel-body accordion-body collapse' style='height: 0px;'>\n" +
        "                            <table id='tb"+generateId+"' width='100%' style='border-spacing:0px 10px;'>\n" +
        "                            </table>\n" +
        "                            <div>\n" +
        "                                 <button type='button' class='btn btn-sm btn-info' data-toggle='modal' data-gid='"+generateId+"' data-target='#select_file_modal'>选择脚本</button>"+
        "                               <a href='javascript:void(0);' class='btn btn-sm btn-info' onclick='add_remote_script(\""+generateId+"\")'>远程脚本</a>\n" +
        "                            </div>" +
        "                        </div>\n" +
        "                    </div>\n" +
        "                </li>";
        $("#step_div > ul").append(script_html);
        renderFileElement("file"+generateId);
    }

    function add_step_file_type(){
        var generateId = new Date().valueOf();
        var file_html = "<li tag='1' gid='"+generateId+"'>\n" +
            "    <div class='panel' style='margin-bottom:0px'>\n" +
            "       <div class='panel-heading'  style='background-color:#0e9aef ;padding: 0px 0px;height: 42px'>\n" +
            "           <table width='100%' height='100%' style='border-spacing:0px 10px;'>\n" +
            "            <tr>\n" +
            "               <td width='8%'>\n" +
            "                   <div class='parent'>\n" +
            "                   <span class='text'>文件</span>\n" +
            "                   <div class='triangle-topleft' style='border-top: 42px solid #C52727;'></div>\n" +
            "                   </div>\n" +
            "               </td>\n" +
            "               <td width='10%'>文件传输</td>\n" +
            "               <td width='50%'>" +
            "                   <input type='text' id='stepName"+generateId+"' value='' class='form-control' style='width: 40%' placeholder='步骤名称'/>" +
            "                   <input type='hidden' id='selectHostValue"+generateId+"' tabName='' tabType='' value=''/>"+
            "               </td>\n" +
            "               <td width='32%'>\n" +
            "                   <button type='button' class='btn btn-sm btn-warning' data-toggle='modal' data-gid='"+generateId+"' data-target='#select_host_modal' style='margin-top: 5px;margin-right: 10px'>选机器</button>\n" +
            "                   <a data-toggle='collapse' data-parent='' href='#step"+generateId+"' class='btn btn-sm btn-warning' style='margin-top: 5px;margin-right: 10px'><i class='fa fa-chevron-down'></i> 展开</a>\n" +
            "                   <a href='javascript:void(0);' class='btn btn-sm btn-danger' style='margin-top: 5px;margin-right: 10px' onclick='delStepNode(this)'><i class='fa fa-trash'></i> 删除</a>\n" +
            "               </td>\n" +
            "              </tr>\n" +
            "           </table>\n" +
            "       </div>\n" +
            "       <div id='step"+generateId+"' class='panel-body accordion-body collapse' style='height: 0px;'>\n" +
            "            <table id='tb"+generateId+"' width='100%' style='border-spacing:0px 10px;'>\n" +
            "                <tr tag='0' gid='"+generateId+"'>" +
            "                   <td width='45%'>" +
            "                      <input id='file"+generateId+"' type='file' >" +
            "                   </td>" +
            "                   <td width='45%'>"+
            "                      <input type='text' id='file_path"+generateId+"' value='' class='form-control' style='width: 98%;margin-left: 5px' placeholder='目标路径'>" +
            "                   </td>" +
            "                   <td>" +
            "                      <a href='javascript:void(0);' class='btn  btn-sm btn-danger' style='margin-top: 5px;margin-right: 10px' onclick='delTbTr(this)'><i class='fa fa-trash'></i> 删除</a>" +
            "                   </td>" +
            "                </tr>"+
            "           </table>\n" +
            "           <div>\n" +
            "             <a href='javascript:void(0);' class='btn btn-sm btn-info' onclick='add_local_file(\""+generateId+"\")'>本地文件</a>\n" +
            "             <a href='javascript:void(0);' class='btn btn-sm btn-info' onclick='add_remote_file(\""+generateId+"\")'>远程文件</a>\n" +
            "           </div>" +
            "       </div>\n" +
            "     </div>\n" +
            " </li>";
        $("#step_div > ul").append(file_html);
         renderFileElement("file"+generateId);
    }

    function delStepNode(obj){
        if($(obj).parents('ul').find('li').length > 1){
            $(obj).parents('li')[0].remove();
        }
    }

    function add_local_script(gid,nodes){
        var generateId = new Date().valueOf();
        var param = "";
        if(nodes.default_parameter){
            param = nodes.default_parameter
        }
        var tag = 0;
        if(nodes.file_type == 2){
            tag = 2;
        }
        var tr_html = "<tr tag='"+tag+"' gid='"+generateId+"'>" +
        "                <td width='45%'>" +
        "                   <input id='file"+generateId+"' fileId='"+nodes.id+"' name='script1' type='text' value='"+nodes.name+"' filePath='"+nodes.path+"' style='width: 99%' class='form-control' readonly >" +
        "                </td>" +
        "                <td width='45%'>"+
        "                   <input type='text' id='param"+generateId+"' name='script2' value='"+param+"' class='form-control' style='width: 99%' placeholder='执行参数'>" +
        "                </td>" +
        "                <td>" +
        "                   <a href='javascript:void(0);' class='btn  btn-sm btn-danger' style='margin-top: 5px;margin-right: 10px' onclick='delTbTr(this)'><i class='fa fa-trash'></i> 删除</a>" +
        "                </td>" +
        "           </tr>";
        $("#tb"+gid).append(tr_html);
        renderFileElement("file"+generateId);
    }

    function add_remote_script(gid){
        var generateId = new Date().valueOf();
        var tr_html = "<tr tag='1' gid='"+generateId+"'>" +
        "                <td width='45%'>" +
        "                   <input id='file_path"+generateId+"' name='script1' type='text' class='form-control' style='width: 99%' placeholder='远程脚本路径'>" +
        "                </td>" +
        "                <td width='45%'>"+
        "                   <input type='text' id='param"+generateId+"' name='script2' value='' class='form-control' style='width: 99%' placeholder='执行参数'>" +
        "                </td>" +
        "                <td>" +
        "                   <a href='javascript:void(0);' class='btn  btn-sm btn-danger' style='margin-top: 5px;margin-right: 10px' onclick='delTbTr(this)'><i class='fa fa-trash'></i> 删除</a>" +
        "                </td>" +
        "           </tr>";
        $("#tb"+gid).append(tr_html);
    }

    function add_local_file(gid){
        var generateId = new Date().valueOf();
        var tr_html = "<tr tag='0' gid='"+generateId+"'>" +
        "                <td width='44%'>" +
        "                   <input id='file"+generateId+"' name='script1' type='file' >" +
        "                </td>" +
        "                <td width='46%'>"+
        "                   <input type='text' id='file_path"+generateId+"' name='script2' value='' class='form-control' style='width: 98%;margin-left: 5px' placeholder='目标路径'>" +
        "                </td>" +
        "                <td>" +
        "                   <a href='javascript:void(0);' class='btn  btn-sm btn-danger' style='margin-top: 5px;margin-right: 10px' onclick='delTbTr(this)'><i class='fa fa-trash'></i> 删除</a>" +
        "                </td>" +
        "           </tr>";
        $("#tb"+gid).append(tr_html);
        renderFileElement("file"+generateId);
    }

    function add_remote_file(gid){
        var generateId = new Date().valueOf();
        var tr_html = "<tr tag='1' gid='"+generateId+"'>" +
        "                <td colspan='2' width='90%'>" +
        "                   <input id='ip"+generateId+"' name='script1' type='text' class='form-control' style='width: 20%;display: -webkit-inline-box' placeholder='IP地址'>" +
        "                   <input id='file_path"+generateId+"' name='script1' type='text' class='form-control' style='width: 39%;display: -webkit-inline-box' placeholder='远程路径'>" +
        "                   <input id='file_path2"+generateId+"' name='script2' type='text' class='form-control' style='width: 39%;display: -webkit-inline-box' placeholder='目标路径'>" +
        "                </td>" +
        "                <td>" +
        "                   <a href='javascript:void(0);' class='btn  btn-sm btn-danger' style='margin-top: 5px;margin-right: 10px' onclick='delTbTr(this)'><i class='fa fa-trash'></i> 删除</a>" +
        "                </td>" +
        "           </tr>";
        $("#tb"+gid).append(tr_html);
    }

    function delTbTr(obj){
        if($(obj).parents('table').find('tr').length > 1){
            $(obj).parents('tr')[0].remove();
        }
    }
    //添加步骤相关脚本 结束


    function determineSelectHost(){
        var select_host_modal = $('#select_host_modal');
        var gid = select_host_modal.data('gid');
        var selectHostValue = $("#selectHostValue"+gid);
        var ips = getCheckedHostIP();
        selectHostValue.val('');
        selectHostValue.attr('tabType','');
        selectHostValue.attr('tabName','');

        var values = getSelectHost();
        if(!$.isEmptyObject(values)){
            var tabName = values['tabName'];
            selectHostValue.attr('tabName',tabName);
            delete values['tabName'];
            delete values['tabType'];
            var obj = {};
            if(tabName.indexOf('host_group_tab') > 0){
                obj = {'target_group':values['id']}
                selectHostValue.attr('tabType',1);
            }else{
                obj = {'host_filter':values};
                selectHostValue.attr('tabType',2);
            }
            if(ips.length > 0){
                obj['target_host_list']= ips;
                selectHostValue.attr('tabType',3);
            }
            selectHostValue.val(JSON.stringify(obj));
            select_host_modal.modal('hide');
        }else{
            Alertwin.alert({message:"选择机器功能异常"});
        }

    }

     function getFileTreeCheckNodes(){
        var treeModal = $('#select_file_modal');
        var gid = treeModal.data('gid');

        var treeObj=$.fn.zTree.getZTreeObj("file_tree");
        nodes=treeObj.getCheckedNodes(true);
        var ids = [];
        $(nodes).each(function(i,item){
            if(!item.isParent){
                add_local_script(gid,item);
            }
        });
        treeObj.checkAllNodes(false);
        treeModal.modal('hide');
    }


    function command_set_save(){
         var saveJson = {};
         var tStr = $("#command_set_name").val();
         if(!tStr){
            Alertwin.alert({ message: "请填写模板名称"});
            return;
         }
        saveJson['name'] = tStr;
        saveJson['is_enabled'] = $("#is_enabled").val();
        saveJson['comment'] = $("#comment").val();
        saveJson['localParamList'] = getLocalParam();
        var fileList = [];
        var stepList = [];
        var ul = $("#step_div > ul > li");
        $(ul).each(function(i,item){
            var tItem = $(item);
            var gid = tItem.attr("gid");
            var type = tItem.attr("tag");
            var stepDict = {}

            stepDict['seq_no'] = i+1;
            stepDict['type'] = type;
            stepDict['name'] = $("#stepName"+gid).val();

            var selectHostValue = $("#selectHostValue"+gid);
            var selectHostValueObj = JSON.parse(selectHostValue.val());
            var tabName = selectHostValue.attr('tabName');
            var tabType = selectHostValue.attr('tabType');
            stepDict['tab_name'] = tabName;
            stepDict['target_type'] = tabType;
{#            if(tabType+"" == '2'){#}
{#                stepDict['host_filter'] = selectHostValueObj['host_filter'];#}
{#            }else if(tabType+"" == '1'){#}
{#                stepDict['target_group_ids'] = selectHostValueObj['target_group'];#}
{#            }else{#}
{#                stepDict['target_host_list'] = selectHostValueObj['target_host_list'];#}
{#            }#}
            if(selectHostValueObj['host_filter']){
                stepDict['host_filter'] = selectHostValueObj['host_filter'];
            }
            if(selectHostValueObj['target_group']){
                stepDict['target_group_ids'] = selectHostValueObj['target_group'];
            }
            if(selectHostValueObj['target_host_list']){
                stepDict['target_host_list'] = selectHostValueObj['target_host_list'];
            }
            // 业务树   target_type=2  host_filter   tab_name 储存 前端选项卡Id
            // 主机组   target_type=1  target_group
            // 高级查询 target_type=2  host_filter
            // 选择的IP target_type=3  target_host_list

            var lineList = []
            var line = $("#tb"+gid).find("tr");

            $(line).each(function(i2,item2){
                var tItem2 = $(item2);
                var type2 = tItem2.attr("tag");
                var gid2 = tItem2.attr("gid");
                var lineDict = {}
                lineDict['type'] = type2;
                lineDict['sub_seq_no'] = i2+1;
                //lineDict['target_app_ids'] = target_app_ids;
                if(type == 0){ //
                    if(type2 == 0 || type2 == 2){
                        var files = $("#file"+gid2);
                        lineDict["file_display_name"] = files.val();
                        lineDict["source_file_name"] = files.attr("filePath");
                        lineDict["local_file_id"] = files.attr("fileId");
                        lineDict["file_deploy_path"] = files.attr("filePath");
                    }else{
                        var file_path = $("#file_path"+gid2).val();
                        lineDict["file_display_name"] = file_path;
                        lineDict["source_file_name"] = file_path;
                        lineDict["local_file_id"] = -1;
                        lineDict["file_deploy_path"] = file_path;
                    }
                    lineDict["default_script_parameter"] = $("#param"+gid2).val();
                }else{
                    if(type2 == 0 || type2 == 2){
                        var files = $("#file"+gid2)[0].files;
                        if(files.length > 0){
                            lineDict["source_file_name"] = files[0].name;
                            files[0]['seq_no'] = (i)+","+(i2);
                            fileList.push(files[0])
                        }
                        lineDict["file_deploy_path"] = $("#file_path"+gid2).val();
                    }else{
                        lineDict["source_remote_host"] = $("#ip"+gid2).val();
                        lineDict["source_file_name"] = $("#file_path"+gid2).val();
                        lineDict["file_deploy_path"] = $("#file_path2"+gid2).val();
                    }
                }
                lineList.push(lineDict)
            })
            stepDict['lines'] = lineList;
            stepList.push(stepDict);
        })

        saveJson['steps'] = stepList;

        var formData = new FormData();

        for(var i in fileList){
            formData.append(fileList[i]['seq_no'],fileList[i]);
        }

        formData.append("csrfmiddlewaretoken",'{{ csrf_token }}')
        formData.append("command_set",JSON.stringify(saveJson))

        $.ajax({
            url : '/platform/command_set/add/',
            type : 'POST',
            processData : false,
            contentType : false,
            data: formData,
            beforeSend:function(){
                //Alertwin.alert({ message:"正在进行，请稍候"});
            },
            success : function(responseStr) {
                if(responseStr.status===0){
                    Alertwin.alert({message:"正在进行，请稍候"});
                    window.history.go(-1);
                }else{
                    Alertwin.alert({message:"失败"});
                }
            },
            error : function(responseStr) {
                console.log(responseStr);
            }
        });
    }

</script>