{% extends 'common/basic_layout.html' %}

{% block content %}
     <link href="/static/hplus/css/works/yum-font.css" rel="stylesheet">
<div class="wrapper wrapper-content animated " style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="col-sm-12" style="height: 100%;">
            <div class="ibox float-e-margins" style="height: 100%;">
                <div class="ibox-title" style="height: 5%;">
                    <h5>{{ name }}   执行日志</h5>
                </div>
                <div class="ibox-content" style="height: 95%;">
                    <div class="row" style="height: 100%;">
                        <div class="col-sm-2" style="border-style: groove;height: 100%;" >
                            <div class="row" style="height: 5%;">
                                <label class="control-label"> 执行历史</label>
                            </div>
                            <div class="row" style="height: 95%;">
                                <table style="width: 100%;max-height: 100%;text-align:center;overflow-y: auto; ">
                                    {% if job_id %}
{#                                        <tr>#}
{#                                            <td style="height:20px">#}
{#                                                <a href="javascript:void(0)" onclick="initInterval()" >当前日志</a>#}
{#                                            </td>#}
{#                                        </tr>#}
                                    {% endif %}
                                    {% for history in list_history %}
                                        <tr>
                                            <td style="height:20px">
                                                <a href="javascript:void(0)" onclick="showLogInfo({{ history.job_id }})" >
                                                    {% if history.status == 2 %}
                                                        <span id="2{{ history.job_id }}" class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green"></span>
                                                    {% endif %}
                                                    {% if history.status == 3 %}
                                                        <span id="3{{ history.job_id }}" class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red"></span>
                                                    {% endif %}
                                                    {% if history.status == 1 %}
                                                        <span id="1{{ history.job_id }}" class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                                    {% endif %}
                                                    {% if history.status == 4 %}
                                                        <span id="4{{ history.job_id }}" class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                                    {% endif %}
                                                    {{ history.start_time }}
                                                </a>
                                            </td>
                                            <td>
                                                {% if history.status == 1 %}
                                                    <a id="stopBtn" href="javascript:void(0)" onclick="stop({{ history.job_id }},{{ set_id }})" >停止执行</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-10" style="border-style: groove;height: 100%;">
                           <div class="row" style="height: 5%;">
                                <label class="col-sm-2 control-label"> 执行日志</label>
                               <input id="deploy_id" type="hidden" value="{{ deploy_id }}"/>
                               <input id="bind_type" type="hidden" value="{{ bind_type }}"/>
                           </div>
                            <div class="row logbox ibox-content" style="width:100%;">
                                <div class="row" style="height:20px;">
                                    <i class="ico yum-font icon-suofang" id="iconZoom"></i>
                                </div>
                                <div style="width:100%;">
                                   <pre style="width: 100%;height: 95%;resize: none;background:none;color:#ADFF2F; font-size: 12px" id="textarea_log" readonly value=""></pre>
                                   <img id="log_modal_img" src="/static/hplus/img/5-121204194103.gif">
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var sh = null;
    function toggleFullScreen(full) {
        var doc = window.top && window.top.document || document;
        if (full && !doc.fullscreenElement && // alternative standard method
            !doc.mozFullScreenElement && !doc.webkitFullscreenElement) {// current working methods
            if (doc.documentElement.requestFullscreen) {
                doc.documentElement.requestFullscreen();
            } else if (doc.documentElement.mozRequestFullScreen) {
                doc.documentElement.mozRequestFullScreen();
            } else if (doc.documentElement.webkitRequestFullscreen) {
                doc.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
            }
        } else {
            if (doc.cancelFullScreen) {
                doc.cancelFullScreen();
            } else if (doc.mozCancelFullScreen) {
                doc.mozCancelFullScreen();
            } else if (doc.webkitCancelFullScreen) {
                doc.webkitCancelFullScreen();
            }
        }
    }
    $(document).ready(function () {
        initInterval();
        var zoom = false;
        var contentMainHeight = window.top.$('#content-main').height();
        var pageWrapperMleft = window.top.$('#page-wrapper').css('margin-left');
        $('#iconZoom').click(function(){
            zoom = !zoom;
            if(zoom){
                contentMainHeight = window.top.$('#content-main').height();
                pageWrapperMleft = window.top.$('#page-wrapper').css('margin-left');
                window.top.$('.navbar-default,.border-bottom,.content-tabs,.footer').hide();
                window.top.$('#content-main').height('100%');
                window.top.$('#page-wrapper').css('margin-left', 0);
                toggleFullScreen(true);
                $('.logbox').addClass('big2');
                setTimeout(function(){
                    console.log($(document.body).height());
                    $('.logbox').height($(document.body).height());
                }, 100);
                $(this).addClass('icon-suoxiao');
            }else{
                window.top.$('.navbar-default,.border-bottom,.content-tabs,.footer').show();
                window.top.$('#content-main').height(contentMainHeight);
                window.top.$('#page-wrapper').css('margin-left', pageWrapperMleft);
                toggleFullScreen(false);
                $('.logbox').removeClass('big2');
                $(this).removeClass('icon-suoxiao');
                $('.logbox').height(500)
            }
        });
        $(document).keyup(function(e){
            if(e.keyCode == 27){
                if(zoom){
                    $('#iconZoom').trigger('click');
                }
            }
        });
    });
    function initInterval(){
        get_job_output();
        clearInterval(sh);
        sh = null;
        sh = setInterval(get_job_output,2000);
    }

    function get_job_output(){
        var deploy_id = $("#deploy_id").val();
        var bind_type = $("#bind_type").val();
        if(deploy_id && bind_type){
            $.ajax({
                  type: "GET",
                  url: '../getExecLog/',
                  data:{"deploy_id":deploy_id,"bind_type":bind_type},
                  error: function (request) {
                      clearInterval(sh);
                      sh = null;
                  },
                  success: function (data) {
                      if(data.status == 200){
                          var textArea = $("#textarea_log");
                          textArea.append(data.log_str);
                      }else{
                          clearInterval(sh);
                          sh = null;
                      }

{#                      var status = jsonObj["status"];#}
{#                      if(status != 1){#}
{#                          var classStr = "";#}
{#                          var span = $("#1"+jsonObj['job_id']).removeClass();#}
{#                          $("#stopBtn").css({"display":"none"});#}
{#                          if(status == 2){#}
{#                              span.addClass("glyphicon glyphicon-ok");#}
{#                              span.css({'color':'green'});#}
{#                          }else{#}
{#                              span.addClass("glyphicon glyphicon-remove");#}
{#                              span.css({'color':'red'});#}
{#                          }#}
{#                          $("#"+jsonObj['job_id']).addClass(classStr);#}
{#                          clearInterval(sh);#}
{#                          $("#log_modal_img").hide();#}
{#                          sh = null;#}
{#                      }#}
                  }
            });
        }else{
            clearInterval(sh);
            $("#log_modal_img").hide();
            sh = null;
        }
    }

    function showLogInfo(deploy_id,bind_type){
         clearInterval(sh);
         $("#log_modal_img").hide();
         sh = null;
        $.ajax({
            type: "GET",
            url: '../getExecLog/',
            data:{"deploy_id":deploy_id,"bind_type":bind_type},
            error: function (request) {},
            success: function (data) {
                var jsonObj = data.log_info;
                var textArea = $("#textarea_log");
                textArea.text("");
                if(jsonObj){
                    var steps = jsonObj["command_steps"]
                     $(steps).each(function(i,item){
                         textArea.append("----------------------------------------------------------------"+item.name+"-----------------------------------------------------------------\n");
                         var lines = item["command_lines"]
                         var success_count = 0;
                         var fail_count = 0;
                         $(lines).each(function(i2,item2){
                            success_count = item2['success_count'];
                            fail_count = item2['fail_count'];
                            textArea.append(item2["result_message"]);
                            textArea.append("\n***********************\n")
                         })
                         textArea.append("成功："+success_count+"台    失败："+fail_count+"台\n");
                         textArea.append("----------------------------------------------------------------------------------------------------------------------------------------------\n");
                     })
                }
            }
        });
    }

    function stop(jobId,setId){
        Alertwin.confirm({ message: "确定要停止当前任务吗？" }).on(function (e) {
            $.ajax({
                type: "GET",
                url: '../stop/',
                data:{"jobId":jobId},
                error: function (request) {},
                success: function (data) {

                    window.location.href="../execLog/?setId="+setId;
                }
             })
        })
    }
</script>
{% endblock %}