<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="showList">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
	     <div class="modal-header" style="border-bottom: none">
	        <button type="button" class="close"  @click="closeList">
		        <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">预览</h4>
	      </div>
	    <div class="modal-body">
		    <div class="showlist" v-for="(rootlist,rootIndex) in $store.state.steps">

			    <h3>{% verbatim %}{{ rootIndex+1 }}.{{ rootlist.name }}{% endverbatim %}</h3>

			    <div class="cin">

				     <template v-for="(lines,linesIndex) in rootlist.lines">

					    <template v-for="(list,listIndex) in lines.list">
						    <div class="co" :class="{'retrue_style':list.is_skip}">
							    {% verbatim %}{{ rootIndex+1 }}-{{ linesIndex + 1 }}-{{ listIndex + 1 }} . {{ list.name }}{% endverbatim %}
						    </div>
					    </template>

				    </template>

			    </div>


		    </div>
		    <div class="clear"></div>
	    </div>


	    <div class="modal-footer" style="border-top: none; text-align: center">
		    <button type="button" class="btn btn-primary" @click="closeList">关闭</button>
	    </div>

    </div>
  </div>
</div>