<template id="task-list">
    <div class="left-task">
        <div class="left-task-warp">
            <ul>
               <draggable v-model="store.state.steps" :options="{animation:160}">
                  <li v-for="(item,index) in store.state.steps"  class="clear tesklist_li" :class="{active:index==store.state.activeIndex}">
                      <div class="clear" style="width: 70%;float: left" @click="changeActive(index)">
                          <span class="num"> {% verbatim %}{{index+1}}{% endverbatim %} </span>
                          <div class="cdis">
                              <span>
                                  <input type="text" class="edit-input" v-model="item.name">
                              </span>
                              <span>
                                {% verbatim %}{{item.name}}{% endverbatim %}
                              </span>
                          </div>
	                      <label class="is_tru" style="position: absolute;top: 0px; right: 10px">
                            <input type="checkbox" value="1" v-model="item.is_skip">
                            <span class="swc" :class="{'active':!item.is_skip}">
							    <span class="swci"></span>
						    </span>
                          </label>
                      </div>
                    <i class="yum-font icon-guanbi del" style="font-size: 12px" @click="delTask(index)"></i>
                  </li>
               </draggable>
            </ul>
            <div class="plus" @dblclick="addTask()">
                <i class="yum-font icon-plus-bold"></i>
            </div>
        </div>
    </div>
</template>

<template id="task-info">
    <div class="task-content">
        <div class="taskwap">
              <div class="top" style="text-align: left">
                  <div class="clear1">
                       <div class="btn-group" style="float: right">
                          <button :class="{'btn-danger':!($store.state.steps.length && $store.state.steps[$store.state.activeIndex].isGroup)}" class="btn " @click="changeSeqType(0)"> 串行 </button>
                          <button :class="{'btn-danger':$store.state.steps.length && $store.state.steps[$store.state.activeIndex].isGroup}" class="btn"  @click="changeSeqType(1)"> 并行 </button>
                       </div>
                      <div class="comput" style="float: left;width: 80%;text-align: left">
                          <button class="btn btn-primary" @click="selectHost">选择机器</button>
                      </div>
                  </div>
                <div class="tesklist clear">
                  <draggable :list="curCmds"  :options="{group:'task',animation:160,sort:true,scroll:true}" class="dragga clear" @add="updateLines">
                    <div class="tesk"   v-for="(it, index) in curCmds" :class="{'active':$store.state.steps[$store.state.activeIndex]&&$store.state.steps[$store.state.activeIndex].activeIndex==index}" @click="selectTool(index)">
                      <div class="tabs" v-if="it.list&&it.list.length>1">
                        <span class="btns"
                              :class={'current':i==it['activeIndex']}
                              v-for="(item,i) in it.list">
                          <div class="con" @click="tabClick({ind1:index,ind2:i})">{% verbatim %}{{index+1}}-{{i+1}}{% endverbatim %}</div>
                          <i class="yum-font icon-guanbi tabClose" @click="deleteTask({ind1:index,ind2:i})"></i>
                        </span>
                      </div>
                      <div class="tabscon">
                        <div class="intags"  v-for="(item,i) in it.list" :class={'show':i==(it['activeIndex']||0),'is_skipa':item.is_skip}>
                          <i class="yum-font icon-edit edit" @click="showEdit(index)" ></i>
                          <div class="teskwap" :title="item.value">
                            <p class="center">{% verbatim %}{{ item.value || item.name }}{% endverbatim %}</p>
                          </div>
                          <div class="teskbottom" :title="item.name" >
                            <p>
	                            <label class="is_tru">
	                                <input type="checkbox" value="1" v-model="item.is_skip">
		                            <span class="swc" :class="{'active':!item.is_skip}">
									    <span class="swci"></span>
								    </span>
                                </label>
                            </p>
                          </div>
                          <i class="yum-font teskico icon-guanbi" @click="deleteTaskAll(index)"></i>
                          <div v-if="it.list&&it.list.length==1" class="number">{% verbatim %}{{ index+1 }}{% endverbatim %}</div>
                        </div>
                      </div>
                    </div>
                  </draggable>

                </div>


                      <div class="modal fade" style="text-align: left; z-index: 99;" id="dialogModal">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                    <span type="button" class="close close_hide" @click="closeEdit">
                                       <i class="yum-font icon-guanbi"></i>
                                    </span>
                                    <h4 class="modal-title" id="myModalLabel">编辑-{% verbatim %}{{curCmd.name}}{% endverbatim %}</h4>
                                  </div>
                                  <div class="modal-body">
                                      <form class="form-horizontal">
                                          <div class="form-group" v-for="(ites, i$1) in curCmd.param">
                                            <label class="col-sm-2 control-label">{% verbatim %}{{ites.paramNameZh}}{% endverbatim %}</label>

                                            <div class="col-sm-10">
                                              <div v-if="ites.type==='textshell'">
                                                <textarea style="height: 150px" class="form-control" v-model="ites.value"  placeholder="请输入shell脚本"></textarea>
                                              </div>
                                              <div v-if="ites.type==='text'">
                                                <input type="text" class="form-control" v-model="ites.value" placeholder="请输入shell脚本">
                                              </div>
                                            </div>
                                          </div>
                                      </form>

                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" @click="closeEdit">保存</button>
                                  </div>
                              </div>
                          </div>
                      </div>

            </div>
{#            <div style="position: fixed; bottom: 1px; left: 0px; width: 100%; max-height: 300px; overflow:auto">#}
{#                <button class="btn btn-danger shu"> 数据 </button>#}
{#                <pre style="text-align: left; display: none">{% verbatim %}{{$store.state.steps}}{% endverbatim %}</pre>#}
{#            </div>#}
        </div>
    </div>
</template>

<template id="task-cmds">
    <div class="right-tast clear">
        <div class="title">工具箱</div>
        <div class="rt-top">
          <ul>
            <li v-for="(item, index) in top" @click="changeCmdTopIndex(item, index)" :class="{act:cmdIndexTop==index}">{% verbatim %}{{ item }}{% endverbatim %}</li>
          </ul>
        </div>
        <div class="rt-left">
          <ul>
            <li v-for="(item, index) in left" @click="changeCmdLeftIndex(item, index)" :class="{act:cmdIndexLeft==index}">{% verbatim %}{{ item }}{% endverbatim %}</li>
          </ul>
        </div>
        <div class="rt-right">
          <ul>
            <draggable  :list="cmds"  :options="{group:{name:'task', pull:'clone', put:false },animation:160,filter:'.dragga',scroll:true}">
              <li v-for="(cmd, i) in cmds" class="cmds">{% verbatim %}{{ cmd.name }}{% endverbatim %}</li>
            </draggable>
          </ul>
        </div>
    </div>
</template>