{% extends 'common/basic_layout.html' %}

{% block content %}
<link href="/static/hplus/css/zTree/bootstrapStyle.css" rel="stylesheet">
<link href="/static/hplus/css/devops_tools_add.css" rel="stylesheet">
<link href="/static/hplus/css/works/works.css" rel="stylesheet">
<link href="/static/hplus/css/works/yum-font.css" rel="stylesheet">

<script type="text/javascript" src="/static/hplus/js/zTree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="/static/hplus/js/zTree/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="/static/hplus/js/zTree/jquery.ztree.exedit.js"></script>


<script src="/static/hplus/js/works/vue.min.js"></script>
<script type="text/javascript" src="/static/hplus/js/works/components/vue-select.js"></script>

<div class="wrapper wrapper-content fadeInRight" style="z-index: inherit">
    <div class="row addtoos">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ name }} 应用安装</h5>
                </div>
                <div class="ibox-content" id="app_deploy">
                    <form class="form-horizontal" @submit.prevent="submit">
                         {% if tool_info.infom|str_to_int == 2 or tool_info.script_lang == 'yaml' %}
                         <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="red">*</span> 选择机器</label>
                            <div class="col-sm-10">
                                <a href="javascript:;" class="btn btn-primary" @click="selectHost">选择机器</a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class="red">*</span> 应用版本号</label>
                            <div class="col-sm-10">
                                <select id="app_version" class="form-control text_ar">
                                    <option value="" selected>-----------</option>
                                    {% for o in app_versions %}
                                    <option value="{{ o.version }}">{{ o.version }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" v-for="parm in tool_info.param">
                             <label class="col-sm-2 control-label"><span class="red"></span> {% verbatim %}{{ parm.paramNameZh|filterVersion }}{% endverbatim %}</label>
                             <div class="col-sm-10" v-if="parm.type === 'text'">
                                  <input type="text" class="form-control text_ar" v-model="parm.value" style="display:inline-block">
                                 <div class="showinfowenhao" :class="{active:parm.activeIndex>0}" v-show="parm.desc">
                                      <i @mouseover="changeActiveIndex(parm, 1)" @mouseout="removeActiveIndex(parm)"  class="yum-font icon-wenhao" style="font-size: 17px; cursor: pointer; margin-left: 10px; margin-right: 10px;"></i>
                                      <div class="popcovera" >
                                          <div class="jiao"></div>
                                          <div class="cont" v-html="parm.desc"></div>
                                      </div>
                                  </div>
                             </div>
                             <div class="col-sm-10" v-if="parm.type === 'version'">
                                  <input type="text" class="form-control text_ar" v-model="parm.value" style="display:inline-block">
                                 <div class="showinfowenhao" :class="{active:parm.activeIndex>0}" v-show="parm.desc">
                                      <i @mouseover="changeActiveIndex(parm, 1)" @mouseout="removeActiveIndex(parm)"  class="yum-font icon-wenhao" style="font-size: 17px; cursor: pointer; margin-left: 10px; margin-right: 10px;"></i>
                                      <div class="popcovera" >
                                          <div class="jiao"></div>
                                          <div class="cont" v-html="parm.desc"></div>
                                      </div>
                                  </div>
                             </div>
                             <div class="col-sm-10" v-if="parm.type === 'select'">
                                  <input type="text" class="form-control text_ar " v-model="parm.value" style="position:absolute;width:330px;"/>
                                  <select class="form-control text_ar" v-model="parm.value"  style="display:inline-block">
                                      <option  v-for="v in parm.valueSet" :value="v.name" v-html="v.name"></option>
                                  </select>
                                 <div class="showinfowenhao" :class="{active:parm.activeIndex>0}" v-show="parm.desc">
                                      <i @mouseover="changeActiveIndex(parm, 1)" @mouseout="removeActiveIndex(parm)"  class="yum-font icon-wenhao" style="font-size: 17px; cursor: pointer; margin-left: 10px; margin-right: 10px;"></i>
                                      <div class="popcovera" >
                                          <div class="jiao"></div>
                                          <div class="cont" v-html="parm.desc"></div>
                                      </div>
                                  </div>
                             </div>
                             <div class="col-sm-10" class="checkbox" style="margin-top:10px;" v-if="parm.type === 'multiple'">
                                  <label v-for="(it, i) in parm.valueSet" style="margin-right:15px;">

                                      <input style="margin-top:-15px;" @click.sync="changeValue2(parm, it)" type="checkbox" :value="it.name" v-model="it.checked"/>
                                        <span>{% verbatim %}{{ it.name }}{% endverbatim %}</span>
                                      <div class="showinfowenhao" :class="{active:i===parm.activeIndex}">
                                          <i @mouseover="changeActiveIndex(parm, i)" @mouseout="removeActiveIndex(parm)"  class="yum-font icon-wenhao" style="font-size: 17px; cursor: pointer; margin-left: 10px; margin-right: 10px;"></i>
                                          <div class="popcovera" >
                                              <div class="jiao"></div>
                                              <div class="cont" v-html="it.desc"></div>
                                          </div>
                                      </div>
                                  </label>
                                  <div class="showinfowenhao" :class="{active:parm.activeIndex==999}" v-show="parm.desc">
                                      <i @mouseover="changeActiveIndex(parm, 999)" @mouseout="removeActiveIndex(parm)"  class="yum-font icon-wenhao" style="font-size: 17px; cursor: pointer; margin-left: 10px; margin-right: 10px;"></i>
                                      <div class="popcovera" >
                                          <div class="jiao"></div>
                                          <div class="cont" v-html="parm.desc"></div>
                                      </div>
                                  </div>
                             </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> 备注</label>
                            <div class="col-sm-10">
                                <textarea id="remarks" class="form-control text_ar" style="height: 120px;resize: none" maxlength="100"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">执行安装</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="modal fade" id="select_host_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg" role="document">
	          <div class="modal-content" style="width: 600px;margin-left: -100px">
	              <div class="modal-header">
	                  <h5 class="modal-title" id="exampleModalLabel" style="float:left;">选择机器</h5>
	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                      <span aria-hidden="true">&times;</span>
	                   </button>
	              </div>
	              <div class="modal-body">
	                  <div class="row">
	                      <div class="col-sm-6" style="max-height: 400px;overflow:auto">
	                          <ul id="host_group_tree" name="host_group_tree" class="ztree"></ul>
	                      </div>
	                      <div class="col-sm-6" style="max-height: 400px;overflow:auto">
	                          <div style="max-height: 400px;overflow: auto">
	                              <table id="hostIpTb" class="table table-striped table-bordered table-hover dataTables-example dataTable">
	                                  <thead>
	                                    <tr>
	                                        <th style="width:5%;"><input id="checkall" type="checkbox" class="i-checks"></th>
	                                        <th>IP<span id="hostIpBadge" class="badge" style="margin-left: 20px;background-color: green;color: white">总：0台</span></th>
	                                    </tr>
	                                  </thead>
	                                  <tbody></tbody>
	                              </table>
	                          </div>
	                      </div>
	                  </div>
	              </div>
	              <div class="modal-footer">
	                  <div class="row">
	                      <div class="col-sm-5" style="margin-left: 15px">
	                          <div class="input-group">
	                              <select id="host_go_live" class="form-control">
                                      <option value="" selected></option>
	                                  <option value="2">待上线主机</option>
	                                  <option value="3">已上线主机</option>
	                              </select>
	                              <span class="input-group-btn">
	                                  <button type="button" class="btn btn-primary" onclick="queryHostIp()">查询</button>
	                              </span>
	                          </div>
	                      </div>
	                      <div class="col-sm-6">
	                          <button type="button" class="btn btn-primary" title="确定" onclick="determineSelectHost()">确定</button>
	                          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
	                      </div>
	                  </div>
	              </div>
	          </div>
	    </div>
	</div>

<script>
    Vue.component('v-select', VueSelect.VueSelect);
    $(function(){
        var hostGroupTreeList = {{ hostGroup_list|safe }};
        readHostGroupTreeNext(hostGroupTreeList,0);
        zHostGroupTreeInit();
        initSelectHostModal();
    });
    function initSelectHostModal(){
        $("#select_host_modal").on('show.bs.modal',function(event){
            var target_group_ids = app_page.formData.target_group_ids;
            var obj = app_page.formData;
            if(obj && target_group_ids){
                var tree = $.fn.zTree.getZTreeObj('host_group_tree');
                if(target_group_ids){
                    $(target_group_ids.split(',')).each(function(i,item){
                        tree.checkNode(tree.getNodeByParam('id',item), true, true);
                    });
                    createSelectHostIpTable(app_page.formData.previous_host_ip,app_page.formData.target_host_list);
                }
            }
            $("#host_go_live").val(app_page.formData.go_live);
        });

        $("#select_host_modal").on('hide.bs.modal',function(event){
            $.fn.zTree.getZTreeObj("host_group_tree").checkAllNodes(false);
            $("#host_go_live").val('');
        });
    }

     var zHostGroupNodes = [];

    function readHostGroupTreeNext(list,pid){
        $(list).each(function(i,item){
            var ids = item.id;
            var nodeData = {id:ids,pId:pid,name:item.name,nodeId:ids,open:true,hasIp:item.has_ip};
            zHostGroupNodes.push(nodeData);
            if(item.childs){
                readHostGroupTreeNext(item.childs,ids);
            }
        });
    }

    function zHostGroupTreeInit(){
        var setting = {
            view: {
                selectedMulti: false,
            },
            check: {
                enable: true,
                chkboxType:  { "Y": "", "N": "" }
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            edit: {
                enable: false
            }
        };
        $.fn.zTree.init($("#host_group_tree"), setting, zHostGroupNodes);
    }

    function determineSelectHost(){
        var select_host_modal = $('#select_host_modal');
        var hostIpAll = getHostIP();
        var checked = hostIpAll['checked'];
        var values = getSelectHostFromModal();
        if(!$.isEmptyObject(values)){
            var target_type = 1;
            if(checked.length > 0){
                values['target_host_list']= checked;
                app_page.formData.previous_host_ip = checked.concat(hostIpAll['unchecked']);
                target_type = 3;
            }else{
                values['target_host_list']= "";
            }
            select_host_modal.modal('hide');
            app_page.formData.target_group_ids = values['group_id'];
            app_page.formData.target_host_list = values['target_host_list'];
            app_page.formData.go_live = values['go_live'];
            app_page.formData.target_type = target_type;
        }else{
            Alertwin.alert({message:"请选择主机组或勾选机器"});
        }
    }

    function queryHostIp(){
        var values = getSelectHostFromModal();
        if(!values['go_live']){
            Alertwin.alert({message:"请选择机器所在环境"});
            return;
        }
        if(!values['group_id']){
            Alertwin.alert({message:"请选择机器组"});
            return;
        }

        if(!$.isEmptyObject(values)){
            values['csrfmiddlewaretoken'] = '{{ csrf_token }}';
            values['limit'] = 100;
            $.ajax({
                type: "POST",
                url: '/platform/command_set/listByQueryCriteria/',
                data:values,
                error: function (request) {
                    layer.closeAll('loading');
                },
                success: function (data) {
                    createSelectHostIpTable(data.host_list.data);
                    layer.closeAll('loading');
                }
            });
        }else{
            Alertwin.alert({message:"选择机器功能异常"});
        }
    }

     function getSelectHostFromModal(){
        var result = {};
        var host_group_tree=$.fn.zTree.getZTreeObj("host_group_tree");
        var nodes = host_group_tree.getCheckedNodes(true);
        var groupIds = "";
        $(nodes).each(function(i,item){
            groupIds += item.nodeId+",";
        });
        if(groupIds){
            groupIds = groupIds.substring(0,groupIds.length-1);
        }
        result['group_id'] = groupIds;
        result['go_live'] = $("#host_go_live").val();
        return result;
    }


    function createSelectHostIpTable(hostIpAll,checkedHostIp){
        var hostIpTb = $("#hostIpTb tbody");
        hostIpTb.empty();
        $("#hostIpBadge").text('总：0台');
        $("#checkall").unbind();

        if(hostIpAll){
            $(hostIpAll).each(function(i,item){
                var htmlStr =  htmlStr = "<tr>" +
                    "   <td>" +
                    "       <input type='checkbox' class='i-checks icheck' hostip='"+item+"' name='trCheckbox'>" +
                    "   </td>" +
                    "   <td>" + item +"</td>"+
                    "</tr>";
                hostIpTb.append(htmlStr);
            });
            $("#hostIpBadge").text('总：'+hostIpAll.length+'台');
            $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",});
            $('#checkall').on('ifChecked', function (event) {
                $('.icheck').iCheck('check');
            });
            $('#checkall').on('ifUnchecked', function (event) {
                $('.icheck').iCheck('uncheck');
            });
            $(checkedHostIp).each(function(i,item){
                 $(".icheck[hostip='"+item+"']").iCheck('check');
            })
        }
    }


    function getHostIP() {
        var str = document.getElementsByName("trCheckbox");
        var objarray = str.length;
        var hostIpAll = {};
        var checked = [];
        var unchecked = [];
        for (i = 0; i < objarray; i++) {
            if (str[i].checked == true) {
                checked.push($(str[i]).attr('hostip'));
            }else{
                unchecked.push($(str[i]).attr('hostip'));
            }
        }
        hostIpAll['checked'] = checked;
        hostIpAll['unchecked'] = unchecked;
        return hostIpAll;
    }


var app_page = new Vue({
    el:'#app_deploy',
    data:{
        formData:{

        },
        tool_info:{{ tool_info|safe }}
    },
    methods:{
          changeActiveIndex: function(parm, i){
                //parm.activeIndex = i;
                Vue.set(parm, 'activeIndex', i);
            },
            removeActiveIndex: function(parm){
                parm.activeIndex = -1;
            },
          changeValue:function(obj){
              obj.value = [];
              if(obj.value2){
                obj.value2.map(function(item){
                  obj.value.push(item.name);
                })
              }
          },
          changeValue2:function(obj, it){
            obj.value = [];
            it.checked = !it.checked;
            obj.valueSet.map(function(item){
              item.checked? obj.value.push(item.name):'';
            })
          },
        selectHost:function(){
            $("#select_host_modal").modal({show:true});
        },
        checkForm: function(){
           var formData = this.formData;
           var params = this.tool_info.param;
           return true;
        },
        submit:function(){
            if(!this.checkForm())return;
            var formData = this.formData;
            var tool_info = this.tool_info;
            var tool_id = tool_info.tool_id;
            var tool_version = tool_info.tool_version;
            var command_set_id = {{ commandId }};
            var bind_type = {{ bind_type }};
            var remarks = $('#remarks').val();
            var app_version = $('#app_version').val();

            var reqData = {"command_set_id":command_set_id,'deploy_id':'{{ deploy_id }}','bind_type':bind_type,'tool_id':tool_id,'tool_version':tool_version,"remarks":remarks};
{#            var param = {};#}
{#            $(tool_info.param).each(function(i,item){#}
{#                if(!item.value){#}
{#                     Alertwin.alert({message:item.paramNameZh+" 未填写"});#}
{#                     return false;#}
{#                }else{#}
{#                    param[item.paramNameZh] = item.value;#}
{#                }#}
{#            })#}
            reqData['target_group_ids'] = formData.target_group_ids;
            reqData['target_host_list'] = JSON.stringify(formData.target_host_list);
            reqData['go_live'] = formData.go_live;
            reqData['target_type'] = formData.target_type;
            reqData['infom'] = tool_info.infom;
            reqData['script_lang'] = tool_info.script_lang;

            var param = [];
            $(tool_info.param).each(function(i,item){
                if(item['value'] && item['value'] != '' && item['value'] != 'default'){
                    param.push(item);
                }
            })

            if(app_version){
                param.push({'paramNameZh':'version_yumc','value':app_version,'type':'version'})
            }

            reqData['param'] = JSON.stringify(param);
            reqData['csrfmiddlewaretoken'] = '{{ csrf_token }}';
            layer.load();
            $.ajax({
                type: "POST",
                url: '../deploy/',
                data:reqData,
                error: function (request) {
                    layer.closeAll('loading');
                },
                success: function (data) {
                    layer.closeAll('loading');
                    if(data.status==200){
                        window.location.href = "/platform/command_set/"+tool_id+"/execLog?deploy_id={{ deploy_id }}&bind_type={{ bind_type }}&name={{ name }}&exec_type=3";
                    }else{
                        Alertwin.alert({message:data.msg});
                    }
                }
            });

        }
    }
})
</script>
{% endblock %}