<script>
	$(function(){
        var hostGroupTreeList = {{ hostGroup_list|safe }};
        readHostGroupTreeNext(hostGroupTreeList,0);
        zHostGroupTreeInit();
    });
	var zHostGroupNodes = [];

    function readHostGroupTreeNext(list,pid){
        $(list).each(function(i,item){
            var ids = item.id;
            var nodeData = {id:ids,pId:pid,name:item.name,nodeId:ids,open:true,hasIp:item.has_ip};
            zHostGroupNodes.push(nodeData);
            if(item.childs){
                readHostGroupTreeNext(item.childs,ids);
            }
        });
    }

    function zHostGroupTreeInit(){
        var setting = {
            view: {
                selectedMulti: false,
            },
            check: {
                enable: true,
                chkboxType:  { "Y": "", "N": "" }
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            edit: {
                enable: false
            }
        };
        $.fn.zTree.init($("#host_group_tree"), setting, zHostGroupNodes);
    }

    function determineSelectHost(){
        var select_host_modal = $('#select_host_modal');
        var gid = select_host_modal.data('gid');
        var ips = getCheckedHostIP();
        var values = getSelectHostFromModal();
        if(!$.isEmptyObject(values)){
            var obj = {};
            obj = {'target_group_ids':values['id']}
            var target_type = 1;
            if(ips.length > 0){
                values['target_host_list']= ips;
                target_type = 3;
            }else{
                values['target_host_list']= "";
            }
            values['target_type'] = target_type;
            return values;
        }else{
            Alertwin.alert({message:"请选择主机组或勾选机器"});
        }
    }

    function queryHostIp(){
        var values = getSelectHostFromModal();
        if(!$.isEmptyObject(values)){
            values['csrfmiddlewaretoken'] = '{{ csrf_token }}';
            values['limit'] = 100;
            $.ajax({
                type: "POST",
                url: '/platform/command_set/listByQueryCriteria/',
                data:values,
                error: function (request) {
                    layer.closeAll('loading');
                },
                success: function (data) {
                    createSelectHostIpTable(data.host_list.data);
                    layer.closeAll('loading');
                }
            });
        }else{
            Alertwin.alert({message:"选择机器功能异常"});
        }
    }

     function getSelectHostFromModal(){
        var result = {};
        var tabIds = $("#select_host_tab li[class='active'] a").attr('href');
        var host_group_tree=$.fn.zTree.getZTreeObj("host_group_tree");
        var nodes = host_group_tree.getCheckedNodes(true);
        var groupIds = "";
        $(nodes).each(function(i,item){
            groupIds += item.nodeId+",";
        });
        if(groupIds){
            groupIds = groupIds.substring(0,groupIds.length-1);
        }
        result['group_id'] = groupIds;

        if(!$.isEmptyObject(result)){
            result['go_live'] = $("#host_go_live").val();
        }
        return result;
    }


    function createSelectHostIpTable(data){
        var hostIpTb = $("#hostIpTb tbody");
        hostIpTb.empty();
        $("#hostIpBadge").text('总：0台');
        $("#checkall").unbind();

        if(data){
            $(data).each(function(i,item){

                var htmlStr =  htmlStr = "<tr>" +
                    "   <td>" +
                    "       <input type='checkbox' class='i-checks icheck' hostip='"+item+"' name='trCheckbox'>" +
                    "   </td>" +
                    "   <td>" + item +"</td>"+
                    "</tr>";
                hostIpTb.append(htmlStr);
            });
            $("#hostIpBadge").text('总：'+data.length+'台');
            $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",});
            $('#checkall').on('ifChecked', function (event) {
                $('.icheck').iCheck('check');
            });
            $('#checkall').on('ifUnchecked', function (event) {
                $('.icheck').iCheck('uncheck');
            });
        }
    }


    function getCheckedHostIP() {
        var str = document.getElementsByName("trCheckbox");
        var objarray = str.length;
        var idList = [];
        for (i = 0; i < objarray; i++) {
            if (str[i].checked == true) {
                idList.push($(str[i]).attr('hostip'));
            }
        }
        return idList;
    }

	</script>