{% extends 'common/basic_layout.html' %}
{% block content %}
    <div class="wrapper wrapper-content fadeInRight" style="z-index: inherit">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Issues详情</h5>
                    </div>
                    <div class="ibox-content" style="padding: 0 0 0 0">
{#	                    {{ result.status }}#}
                        <div class="jira_contentbox" >
	                        <div class="button-group">
		                         {% for buttons in result.transitions%}
			                         &nbsp;
			                         <button class="btn btn-primary action_btn" data-action="{{ buttons.id }}"> {{ buttons.name }} </button>
		                             &nbsp;
		                         {% endfor %}
	                        </div>
                            <div class="infobox">
	                            <p class="title">详情</p>
	                            <div class="row row_jira">
		                            <div class="col-md-6">
			                            <div class="col-md-3">reporter: </div>
			                            <div class="col-md-9">{{ result.reporter }}</div>
		                            </div>
		                            <div class="col-md-6">
			                            <div class="col-md-3">type: </div>
			                            <div class="col-md-9">{{ result.type }}</div>
		                            </div>
	                            </div>
	                             <div class="row row_jira">
		                            <div class="col-md-6">
			                            <div class="col-md-3">status: </div>
			                            <div class="col-md-9">{{ result.status }}</div>
		                            </div>
		                            <div class="col-md-6">
			                            <div class="col-md-3">priority: </div>
			                            <div class="col-md-9">{{ result.priority }}</div>
		                            </div>
	                            </div>
	                            <div class="row row_jira">
		                            <div class="col-md-6">
			                            <div class="col-md-3">labels: </div>
			                            <div class="col-md-9"><tag>{{ result.labels }}</tag></div>
		                            </div>
		                            <div class="col-md-6">
			                            <div class="col-md-3">assignee: </div>
			                            <div class="col-md-9">{{ result.assignee }}</div>
		                            </div>
	                            </div>
	                                <div class="row row_jira">
	                            {% for field in result.fields %}
		                            {% if field.row_proportion == 1 %}
				                            <div class="col-md-12">
					                            <div class="col-md-3">{{ field.name }}: </div>
					                            <div class="col-md-9"><tag>{{ field.value }}</tag></div>
				                            </div>
		                            {% else %}
			                              <div class="col-md-6">
					                            <div class="col-md-3">{{ field.name }}: </div>
					                            <div class="col-md-9"><tag>{{ field.value }}</tag></div>
				                            </div>
		                            {% endif %}
	                            {% endfor %}
                                  </div>
	                            <p class="title mt15">描述</p>
	                            <div class="row row_jira">
		                            <div class="col-md-12" style="padding: 0px 30px">
			                            {{ result.description }}
		                            </div>
	                            </div>
                            </div>
                            <div class="infobox slder_show">
	                            <p class="title actbtn">
		                            Comments(点击此处展开详情)
		                            <span class="fa arrow"></span>
	                            </p>
                                <div class="slider">
	                                  {% for comment in result.comments %}
			                            <div class="row">
				                            <div class="col-md-12">
					                            <div class="col-md-12">
						                            <a style="padding-right: 10px">{{ comment.author }}</a>
						                            <span>创建时间： {{ comment.created }}</span>
						                            <div class="row_b">  {{ comment.body }} </div>
					                            </div>
				                             </div>
			                            </div>
		                            {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(".action_btn").on('click',function(){
           var id = $(this).data('action');
           alert(id);
        });

        $(".actbtn").on('click',function(){
            var p = $(this).parents('.slder_show');

            if(p.hasClass('act')){
                p.removeClass('act');
            }else{
                p.addClass('act');
            }
        })
        {#$("#json").text(result)#}
    </script>
{% endblock %}