{% extends 'common/basic_layout.html' %}
{% block content %}
    <div class="wrapper wrapper-content fadeInRight" style="z-index: inherit">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Issues详情</h5>
                    </div>
                    <div class="ibox-content" style="padding: 0 0 0 0">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}