.job_list_container{
    height: 800px;
    overflow: auto;
}
.job_list_container .table{
    margin-bottom:  0;
}
.wrapper-content {
    overflow: hidden;
}
div.scrollable{
  max-height: 650px;
  /*border: 1px solid;*/
  overflow: auto;
  height: 650px;
}
