.job_list_container{
    height: 800px;
    overflow: auto;
}
.job_list_container .table{
    margin-bottom:  0;
}
.wrapper-content {
    overflow: hidden;
}
div.scrollable{
  max-height: 650px;
  /*border: 1px solid;*/
  overflow: auto;
  height: 650px;
}
.menu_section{
    border: 1px dotted #aaa;
    overflow: hidden;
}
.menu_header{
    background-color: #aeaeae;
}
.menu_sub_list:nth-child(2n){
    background-color: #efefef;
}
.menu_sub_list:nth-child(2n+1){
    background-color: #dedede;
}
.menu_row{
    height: 50px;
}
.menu_row>div {
    line-height: 30px;
    height: 30px;
    margin-top: 10px;
}
.menu_row .oper button{
    line-height: 30px;
    height: 30px;
}

.overlap{
    border: 4px dashed #ee33dd;
}
.drag{
    border: 4px dotted #33ddee;
}

.draging{
    border: 4px dotted #33ddee;
}
.flex{
    display: flex;
}
.flex>div{
    text-align: center;
}
.idx_col{
    min-width: 50px;
    width: 10%;
}
div.oper.oper_col{
    min-width: 100px;
    width: 20%;
    text-align: right;
    margin-right: 20px;
}
.name_col{
    min-width: 400px;
    width: 70%;
}
.menu_section{
    border: 1px solid #ccc;
    margin-top: 5px;
}