.inline-block{
  display: inline-block;
}
.fs_18{
  font-size: 18px;
}
.lh_38{
  line-height: 38px;
}
.fs_16{
  font-size: 16px;
}
.cotainer{

}
.scrollAble{
  overflow: auto;
  height: 100vh;
}
.data-grid table.table{
  margin-bottom:0;
}
.modal_error_msg{
    display: none;
}
.alert.modal_error_msg{
    display: block;
}
.yumModal label{
    width: 150px;
}
.yumModal .btn-group>label{
  width: 100px;
}